//-------------------------------------
//	Background Color
//-------------------------------------

.backgroundColor{
	.sfStaticActionBrightGreen {
		background-color: #2cca3d;
	}
	.sfHoverActionBrightGreen {
		background-color: #94db14;
	}
	.sfActionLightGreen {
		background-color: #99cc32;
	}
	
	.sfGreen {
		background-color: #96c748;
	}
	
	.sfTextGreen {
		background-color: #78be20;
	}
	
	.sfDarkGreen {
		background-color: #19783d;
	}
	
	.sfActionDarkGreen {
		background-color: #009b4c;
	}
	
	.foundationBlack {
		background-color: #000005;
	}
	
	.foundationBalck76 {
		background-color: #363a3d;
	}
	
	.citrixGray {
		background-color: #494f53;
	}
	
	.foundationGray63 {
		background-color: #555b5f;
	}
	
	.foundationGray17 {
		background-color: #d3d3d3;
	}
	
	.foundationGray13 {
		background-color: #ddd;
	}
	
	.foundationGray7 {
		background-color: #eee;
	}
	
	.foundationGray4 {
		background-color: #f6f6f6;
	}
	
	.foundationWhite {
		background-color: $color-white;
	}

}