.breadCrumbNavigation {
	.breadCrumbNav {
		
		.links {
			font-size:14px;
			text-transform:uppercase;
			a{
				color:#8c8c8c;
				margin: 0 15px 0 0;
				&::after {
					content:">";
					margin: 0 0 0 15px;
				}
			}
			
			a:last-of-type {
				color:#8c8c8c;
				font-weight:bold;
				&::after {
				 content:none;
				}
			}
		}
	}
}