//--------------------------
// Buttons
//--------------------------

.button {
	text-align:center;
	
	a {
		@include border-radius(25px);
		color: $color-white;
		display: inline-block;
		font-family:$font-GlobalFamilySecondary;
		@include rem-px(font-size,(16px));
		letter-spacing: 0.4px;
		padding: 0 20px;
		@include rem-px(line-height,(52px));
		@include rem-px(min-width,(280px)); 
		@include rem-px(height,(50px));
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
		
		&.green, &.green2 {
			background: #66b64b;
			&:hover {
				background: #569a3f;
			}
		}
				
		&.border-only {
			background: #4a5265;
			&:hover {
				background: #363e46;
			}
		}
	}
	
	.none {
		background:  $color-white;
		@include border-radius(16px);
		border-style: solid;
		border-color:$color-black;
		color-: $color-white;
		display: inline-block;
		@include rem-px(font-size,(16px));
		@include rem-px(line-height,(36px));
		@include rem-px(min-width,(205px));
		@include rem-px(height,(40px));
		@include rem-px(padding-left,(5px));
		@include rem-px(padding-right,(5px));
		text-align: center;
	}
}