//------------------------------------------------------
// Category Spotlight
//------------------------------------------------------

.categorySpotlight {	display: block;	@include rem-px(font-size,(18px));	@include rem-px(max-height,(360px));	position: relative;	text-align: center;	text-decoration: none;	@include rem-px(max-width,(360px));
	a {		color: $color-white;		.hoverContent {			@include rem-px(padding-right,(15px));			@include rem-px(padding-left,(15px));			overflow:hidden;			padding-top:25%;			position: absolute;			top: 0;			width: 100%;			height:100%; 			[class^="icon-"] {					&:before {					@include rem-px(font-size,(40px));					font-weight: normal;					@include rem-px(padding-right,(5px));					position: relative;					@include rem-px(top,(3px));				}			}			h3 {				@include rem-px(font-size,(30px));				margin-bottom:0;				@include rem-px(margin-top,(20px));			}			hr {				color: $color-white;				@include rem-px(margin-bottom,(15px));				margin-right:auto;				margin-left:auto;				@include rem-px(margin-top,(15px));				@include rem-px(width,(100px));			}			&:hover{				background-color: rgba(0,0,0,0.4);				-webkit-transition: background-color 300ms linear;			    -moz-transition: background-color 300ms linear;			    -o-transition: background-color 300ms linear;			    -ms-transition: background-color 300ms linear;			    transition: background-color 300ms linear;			}		}	}}
@media #{$medium-only}{	.categorySpotlight {		@include rem-px(font-size,(16px));		a{			.hoverContent {				@include rem-px(padding,(17% 0 0));					h3 {					@include rem-px(font-size,(26px));				}			}		}		}}
@media #{$small-only}{	.categorySpotlight{		@include rem-px(font-size,(14px));		@include rem-px(margin-bottom,(10px));		margin-left:auto;		margin-right:auto;		a{			.hoverContent {				h3 {					@include rem-px(font-size,(22px));				}				[class^="icon-"] {						&:before {						@include rem-px(font-size,(30px));					}				}			}		}	}}