//-----------------------------------------------------------------
// Styles in this document are related for the CQ RTE Styles Plugin
//-----------------------------------------------------------------
#CQrte [class^="icon-"], #CQrte [class*=" icon-"] {

	&:before{
		font-family:'icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}


#CQrte .icon-Support, .text .icon-Support {
	@include rem-px(font-size, (30px));

	@media #{$medium-only} {
		@include rem-px(font-size, (26px));
	}

	@media #{$small-only} {
		@include rem-px(font-size, (20px));
	}
}

#CQrte .icon-Accounting, .text .icon-Accounting{
	@include rem-px(font-size, (33px));
}

#CQrte .icon-Architecture, .text .icon-Architecture{
	@include rem-px(font-size, (47px));
}


#CQrte .icon-Archive, .text .icon-Archive {
	@include rem-px(font-size, (28px));
}

#CQrte .icon-Check, .text .icon-Check{

	&.variant1{
		@include rem-px(font-size, (29px));
	}

	&.variant2{
		@include rem-px(font-size, (35px));
		@media #{$medium-only} {
			@include rem-px(font-size, (26px));
		}
		@media #{$small-only} {
			@include rem-px(font-size, (23px));
		}
	}
}

#CQrte .icon-Construction, .text .icon-Construction{
	@include rem-px(font-size, (25px));
}

#CQrte .icon-Documents, .text .icon-Documents{
	@include rem-px(font-size, (35px));
}

#CQrte .icon-DownArrow, .text .icon-DownArrow{
	@include rem-px(font-size, (35px));
}

CQrte .icon-EmailIntegration, .text .icon-EmailIntegration{

	&.variant1{
		@include rem-px(font-size, (32px));
	}
	&.variant2{
		@include rem-px(font-size, (66px));
	}
}

#CQrte .icon-EmailPlugin, .text .icon-EmailPlugin{
	@include rem-px(font-size, (30px));
}

#CQrte .icon-Engineering, .text .icon-Engineering {
	@include rem-px(font-size, (40px));
}

#CQrte .icon-Enterprise, .text .icon-Enterprise{
	@include rem-px(font-size, (60px));
}

#CQrte .icon-eSig, .text .icon-eSig {
	&.variant1 {
		@include rem-px(font-size, (32px));
	}
	&.variant2 {
		@include rem-px(font-size, (42px));
		@media #{$medium-only} {
			@include rem-px(font-size, (36px));
		}
		@media #{$small-only} {
			@include rem-px(font-size, (27px));
		}
	}
}

#CQrte .icon-Financial, .text .icon-Financial{
	@include rem-px(font-size, (35px));
}
#CQrte .icon-FlexibleStorage, .text .icon-FlexibleStorage{

	@include rem-px(font-size, (30px));
	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (18px));
	}
}

#CQrte .icon-Gears, .text .icon-Gears{
	@include rem-px(font-size, (31px));
}

#CQrte .icon-Healthcare, .text .icon-Healthcare {
	@include rem-px(font-size, (49px));
}

#CQrte .icon-IndustrySpecific, .text .icon-IndustrySpecific {
	@include rem-px(font-size, (31px));
}

#CQrte .icon-Insurance, .text .icon-Insurance {
	@include rem-px(font-size, (40px));
}

#CQrte .icon-Legal, .text .icon-Legal {
	@include rem-px(font-size, (48px));
}

#CQrte .icon-MakeLifeEasier, .text .icon-MakeLifeEasier {
	@include rem-px(font-size, (31px));
}
#CQrte .icon-Manufacturing, .text .icon-Manufacturing{
	@include rem-px(font-size, (47px));
}
#CQrte .icon-Mobile, .text .icon-Mobile{

	&.size35{
		@include rem-px(font-size, (35px));
	}
	&.size32{
		@include rem-px(font-size, (32px));
	}
}

#CQrte .icon-Phone, .text .icon-Phone{

	&.size14{
		color: $color-green4;
		@include rem-px(font-size, (14px));
	}
	&.size16{
		color: $color-grey7;
		@include rem-px(font-size, (16px));
	}
}

#CQrte .icon-Play, .text .icon-Play {
	&.size24{
		color: $color-green2;
		@include rem-px(font-size, (24px));
	}
	&.size75{
		color: $color-white;
		@include rem-px(font-size, (75px));
	}
}

#CQrte .icon-PracticalPricing, .text .icon-PracticalPricing {
	@include rem-px(font-size, (26px));
}

#CQrte .icon-RealEstate, .text .icon-RealEstate{
	@include rem-px(font-size, (36px));
}

#CQrte .icon-RightArrow, .text .icon-RightArrow {
	@include rem-px(font-size, (44px));
}

#CQrte .icon-SearchTools, .text .icon-SearchTools {
	@include rem-px(font-size, (35px));
	@media #{$medium-only} {
		@include rem-px(font-size, (31px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
	}
}

#CQrte .icon-Security, .text .icon-Security {
	&.variant1{
		@include rem-px(font-size, (34px));
	}
	&.variant2{
		@include rem-px(font-size, (36px));
		@media #{$medium-only} {
			@include rem-px(font-size, (26px));
		}
		@media #{$small-only} {
			@include rem-px(font-size, (25px));
		}
	}
}

#CQrte .icon-Share, .text .icon-Share{
	@include rem-px(font-size, (15px));
}

#CQrte .icon-ShareAndRight, .text .icon-ShareAndRight  {
	@include rem-px(font-size, (45px));
}

#CQrte .icon-ShareFiles, .text .icon-ShareFiles{
	@include rem-px(font-size, (45px));
	@media #{$medium-only} {
		@include rem-px(font-size, (37px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (30px));
	}
}

#CQrte .icon-ShareFileSync, .text .icon-ShareFileSync  {
	@include rem-px(font-size, (25px));
}
#CQrte .icon-ShareLargeFiles, .text .icon-ShareLargeFiles {
	@include rem-px(font-size, (26px));
	@media #{$small-only} {
		@include rem-px(font-size, (22px));
	}
}
#CQrte .icon-ShareMobile1, .text .icon-ShareMobile1 {
	@include rem-px(font-size, (46px));
}

#CQrte .icon-SpeechBubble, .text .icon-SpeechBubble {
	@include rem-px(font-size, (14px));
}

#CQrte .icon-Sync, .text .icon-Sync {
	&.variant1{
		color: $color-green2;
		@include rem-px(font-size, (26px));
	}
	&.variant2{
		color: $color-white;
		@include rem-px(font-size, (39px));
		@media #{$medium-only} {
			@include rem-px(font-size, (32px));
		}
		@media #{$small-only} {
			@include rem-px(font-size, (32px));
		}
	}
	&.variant3{
		color: $color-grey5;
		@include rem-px(font-size, (60px));
	}
}

#CQrte .icon-WorkAnywhere, .text .icon-WorkAnywhere {
	@include rem-px(font-size, (39px));
	@media #{$medium-only} {
		@include rem-px(font-size, (34px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (28px));
	}
}

#CQrte .icon-Rocket, .text .icon-Rocket {
	@include rem-px(font-size, (55px));
}

#CQrte .icon-Mon, .text .icon-Mon {
	@include rem-px(font-size, (60px));
}

#CQrte .green2, .green2{
	color: $color-green2;

	&:before{
		color: $color-green2;
	}
}

#CQrte .nav-bg, .nav-bg{
	color: $nav-bg;

	&:before{
		color: $nav-bg;
	}
}

#CQrte .green3, .green3{
	color: $color-green3;

	&:before{
		color: $color-green3;
	}
}

CQrte .green4, .green4{
	color: $color-green4;

	&:before{
		color: $color-green4;
	}
}


#CQrte .white, .text .white{ 
	background-color: transparent !important;
	color: $color-white;

	&:before{
		color: $color-white;
	}
}


#CQrte .grey, .grey{
	color: $color-grey7;

	&:before{
		color: $color-grey7;
	}
}

#CQrte .grey3, .grey3{
	color: $color-grey3;

	&:before{
		color: $color-grey3;
	}
}

#CQrte .grey4, .grey4{
	color: $color-grey4;

	&:before{
		color: $color-grey4;
	}
}

#CQrte .grey5, .grey5{
	color: $color-grey5;

	&:before{
		color: $color-grey5;
	}
}

#CQrte .grey6, .grey6{
	color: $color-grey6;

	&:before{
		color: $color-grey6;
	}
}

#CQrte .grey7, .grey7{
	color: $color-grey7;

	&:before{
		color: $color-grey7;
	}
}

#CQrte .grey8, .grey8{
	color: $color-grey8;

	&:before{
		color: $color-grey8;
	}
}

#CQrte .grey9, .grey9{
	color: #b0b0b0;

	&:before{
		color: #b0b0b0;
	}
}

#CQrte .grey10, .grey10{
	color: $color-grey10;

	&:before{
		color: $color-grey10;
	}
}

#CQrte .grey11, .grey11{
	color: $color-grey11;

	&:before{
		color: $color-grey11;
	}
}

#CQrte .grey12, .grey12{
	color: $color-grey12;

	&:before{
		color: $color-grey12;
	}
}

#CQrte .grey13, .grey13{
	color: $color-grey13;

	&:before{
		color: $color-grey13;
	}
}

#CQrte .grey13, .grey14{
	color: $color-grey14;

	&:before{
		color: $color-grey14;
	}
}
#CQrte .link-grey-hover-white, .link-grey-hover-white{ 
	a {
		background-color: transparent !important;
		color: $color-grey1;
		&:hover{
			color: $color-white;
		}
	}
}
#CQrte .separatorText, .separatorText {
	@include rem-px(padding,(20px));
	color: #5a6474;
	font-family: "Times New Roman";
	@include rem-px(font-size,(17px));
	font-style: italic;
	text-align: center;


	&:after{
		@include rem-px(left,(8px));
		margin-right: -50%;
	}

	&:before{
		margin-left: 0;
		@include rem-px(right,(8px));
	}

	&:after, &:before {
	    background-color: #5a6474;
	    content: "";
	    display: inline-block;
	    @include rem-px(height,(1px));
	    position: relative;
	    vertical-align: middle;
	    width: 20%;
	}
}

#CQrte .sidebar-list, .sidebar-list {
	@include rem-px(margin-left,(35px));
	font-family:$font-GlobalFamily;
	@include rem-px(font-size,(16px));
	@include rem-px(line-height,(42px));

	a{
		color:$color-grey7;

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none;
		}
	}

	&.link-chat{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(42px));

		&:before {
			font-family: icons;
			content: "\e633";
		}

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none;
		}
	}

	&.link-phone{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(42px));

		&:before {
			font-family: icons;
			content: "\e622";
			@include rem-px(line-height,(34px));
		}

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none;
		}
	}
	
	&.link-workanywhere{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(42px));

		&:before {
			font-family: icons;
			content: "\e63a";
			@include rem-px(line-height,(34px));
		}

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none; 
		}
	}
	
	&.link-contact{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(42px));

		&:before {
			font-family: icons;
			content: "\e61f";
			@include rem-px(line-height,(34px));
		}

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none; 
		}
	}
	
	&.link-shareandright{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(42px));

		&:before {
			font-family: icons;
			content: "\e62b";
			@include rem-px(line-height,(34px));
		}

		&:hover{
			color:$color-white;
			cursor:pointer;
			text-decoration:none; 
		}
	}
}

#CQrte .h2-green-13px {
	color: #67b64c;
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size,(13px));
	font-weight: normal;
	letter-spacing: 0;
	margin: 0;
	text-transform: uppercase;
}
#CQrte .h3-grey-38px {
	color: $color-grey5;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(38px));
	font-weight: normal;
	@include rem-px(line-height,(44px));
	@include rem-px(margin-top,(20px));
	letter-spacing: 0;
}

@media #{$medium-only} {
    #CQrte .h2-green-13px{
		@include rem-px(font-size,(13px));
	}
	#CQrte .h3-grey-38px{
		@include rem-px(font-size,(34px));
		@include rem-px(line-height,(40px));
		@include rem-px(margin-top,(22px));
	}
}
@media #{$small-only} {
	#CQrte .h2-green-13px {
		@include rem-px(font-size,(11px));
	}
	#CQrte .h3-grey-38px {
		@include rem-px(font-size,(26px));
		@include rem-px(line-height,(32px));
		@include rem-px(margin-top,(16px));
	}
}
//-----------------------------------------------------------------
/* Intro */
#CQrte .citrix-bd-13px-green-intro, .citrix-bd-13px-green-intro{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size,(13px));
	text-transform: uppercase;
	@media #{$medium-only} {
		@include rem-px(font-size, (12px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (11px));
	}
}
#CQrte .citrix-rg-38px-darkgrey-intro, .citrix-rg-38px-darkgrey-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(38px));
	@include rem-px(line-height,(36px));
	@include rem-px(padding-top,(32px));

	@media #{$medium-only} {
		@include rem-px(font-size, (34px));
		@include rem-px(line-height, (30px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-40px-darkgrey-intro, .citrix-rg-40px-darkgrey-intro{
	font-family: $font-GlobalFamily;
	color: $color-grey14;
	display: block;
	@include rem-px(font-size,(40px));
	@include rem-px(line-height,(36px));
	@include rem-px(padding-top,(32px));
	@media #{$medium-only} {
		@include rem-px(line-height, (32px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (26px));
	}
}
#CQrte .citrix-rg-24px-grey5-intro, .citrix-rg-24px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(24px));
	@include rem-px(line-height,(36px));

	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (17px));
		@include rem-px(line-height, (22px));
	}
}


/* Quick Edit Font Changes =========== */

#CQrte .citrix-rg-45px-45px-30px, .citrix-rg-45px-45px-30px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(45px));
	@include rem-px(line-height,(57px));

	@media #{$small-only} {
		@include rem-px(font-size, (30px));
		@include rem-px(line-height, (40px));
	}
}


#CQrte .citrix-rg-19px-19px-14px, .citrix-rg-19px-19px-14px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(19px));
	@include rem-px(line-height,(29px));

	@media #{$small-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
}


#CQrte .citrix-rg-38px-36px-26px, .citrix-rg-38px-36px-26px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(38px));
	@include rem-px(line-height,(34px));

	@media #{$medium-only} {
		@include rem-px(font-size, (36px));
		@include rem-px(line-height, (34px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (34px));
	}
}


#CQrte .citrix-rg-24px-22px-16px, .citrix-rg-24px-22px-16px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(24px));
	@include rem-px(line-height,(28px));

	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (23px));
	}
}

#CQrte .citrix-rg-31px-25px-22px, .citrix-rg-31px-25px-22px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(31px));
	@include rem-px(line-height,(42px));

	@media #{$medium-only} {
		@include rem-px(font-size, (25px));
		@include rem-px(line-height, (39px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (32px));
	}
}

#CQrte .citrix-rg-20px-17px-14px, .citrix-rg-20px-17px-14px{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(20px));
	@include rem-px(line-height,(36px));

	@media #{$medium-only} {
		@include rem-px(font-size, (17px));
		@include rem-px(line-height, (36px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (31px));
	}
}


/* Quick Edit Font Changes =========== */



#CQrte .citrix-rg-26px-grey5-intro, .citrix-rg-26px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(26px));
	@include rem-px(line-height,(32px));
	@include rem-px(padding-top, (38px));
	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (17px));
		@include rem-px(line-height, (22px));
	}
} 

#CQrte .citrix-rg-26px-grey5-intro2, .citrix-rg-26px-grey5-intro2{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(26px));
	@include rem-px(line-height,(32px));
	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (32px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (32px));
	}
}


#CQrte .citrix-rg-16px-intro-quote, .citrix-rg-16px-intro-quote{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(16px));
	@include rem-px(line-height,(24px));
} 

#CQrte .citrix-rg-16px-grey5-intro, .citrix-rg-16px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(16px));
	@include rem-px(line-height,(22px));
	@include rem-px(padding-top,(15px));
	text-transform: uppercase;
	@media #{$medium-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (21px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
		@include rem-px(padding-top, (0px));
	}
}
#CQrte .citrix-rg-20px-grey5-intro, .citrix-rg-20px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(20px));
	@include rem-px(line-height,(26px));
	@include rem-px(padding-top,(15px));
	text-transform: uppercase;
}
#CQrte .citrix-rg-20px-grey5-intro-cta, .citrix-rg-20px-grey5-intro-cta{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-rg-24px-white-intro-copy, .citrix-rg-24px-white-intro-copy{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (36px));
	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (32px));
	}
}

/* Form */
#CQrte .citrix-rg-28px-form, .citrix-rg-28px-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (28px));
	@include rem-px(line-height, (34px));
	@media #{$medium-only} {
		@include rem-px(font-size, (24px));
		@include rem-px(line-height, (30px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
}
#CQrte .citrix-rg-14px-white-form, .citrix-rg-14px-white-form{
	font-family: $font-GlobalFamily;
	color: $color-white;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	display: block;
}
#CQrte .citrix-rg-16px-grey-form, .citrix-rg-16px-grey-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (10px));
}
#CQrte .citrix-rg-22px-white-form, .citrix-rg-22px-white-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));
	display: block;
}
#CQrte .citrix-rg-22px-grey5-head, .citrix-rg-22px-grey5-head {
	color:$color-grey5;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));
	display: block;
}
#CQrte .citrix-rg-22px, .citrix-rg-22px {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));

	&.white {
		background-color: transparent !important;
		color: $color-white;
		display: inline-block;
		@include rem-px(padding-bottom, (15px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (21px));
	}
}
#CQrte .citrix-rg-22px {
	&.white {
		color: $color-black;
	}
}
#CQrte .citrix-bd-22px-white-form, .citrix-bd-22px-white-form{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));
}

/* Related Anchor */
#CQrte .citrix-rg-24px-white-related, .citrix-rg-24px-white-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(24px));

	@media #{$medium-only} {
		@include rem-px(font-size, (20px));
	}

	@media #{$small-only} {
		@include rem-px(font-size, (14px));
	}
}
#CQrte .citrix-rg-14px-white-related, .citrix-rg-14px-white-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(20px));
	@include rem-px(padding-top,(30px));
}
#CQrte .citrix-rg-14px-green3-related, .citrix-rg-14px-green3-related, {
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(20px));
	&:hover, &:active{
		color: $color-green;  
	}
}
#CQrte .citrix-rg-14px, .citrix-rg-14px {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(14px));
	&.gray-light {
		color: $color-grey6;
	}
}
#CQrte .citrix-rg-20px-darkgrey-related, .citrix-rg-20px-darkgrey-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(20px));
}
#CQrte .citrix-rg-14px-darkgrey-related, .citrix-rg-14px-darkgrey-related{
	@include rem-px(font-size,(14px));
	&.regular{
		display: block;
		font-family: $font-GlobalFamily;
		@include rem-px(line-height,(20px));
	}
	&.bold{
		font-weight: normal;
		font-family: $font-GlobalFamilySecondary;
		@include rem-px(line-height,(24px));
	}
}
#CQrte .citrix-rg-14px-green3-related, .citrix-rg-14px-green3-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (24px));
	&.map{
		display: block;
		@include rem-px(padding-top, (57px));
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
	&:hover, &:active{
		color: $color-green;
	}
}
#CQrte .citrix-rg-20px-green2-related, .citrix-rg-20px-green2-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (30px));

	@media #{$small-only} {
		@include rem-px(font-size, (20px));
	}
}
#CQrte .citrix-rg-14px-green3-related-link, .citrix-rg-14px-green3-related-link{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	&:hover, &:active{
		color: $color-green;
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
	&.noicon{
		&:after{
			display: none;
		}
	}
}

#CQrte .citrix-rg-14px-green-related-no-arrow, .citrix-rg-14px-green-related-no-arrow{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (24px)); 
}

#CQrte .citrix-rg-28px-related, .citrix-rg-28px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (32px));
}
#CQrte .citrix-rg-16px-green-related-link, .citrix-rg-16px-green-related-link {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (22px));
	&:hover, &:active{
		color: $color-green;
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
}

#CQrte .citrix-rg-30px-related, .citrix-rg-30px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (30px));
	@include rem-px(line-height, (34px));
}
#CQrte .citrix-rg-22px-related, .citrix-rg-22px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (34px)); 
}

#CQrte .citrix-rg-14px-related, .citrix-rg-14px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
}

#CQrte .show-more-snippet, .show-more-snippet{
	color: $navTabBgHover;
	font-family: $font-GlobalFamily;
	@include rem-px(height, (70px)); 
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (16px));
	overflow:hidden !important;
	width:100%;
}

#CQrte .show-more, .show-more{
	color: $color-green;
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(20px));
	@include rem-px(margin-top,(-14px));
	&:hover, &:active{
		color: $color-green;  
	}
	
	&:after{
		color: #9c3;
		content: "\e61e";
		font-family: icons;
		font-size: 0.5625rem;
		padding-left: 0.5625rem;
	}
}

#CQrte .fadeout, .fadeout{
	position: relative; 
    @include rem-px(bottom,(21px));
    @include rem-px(height,(21px));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%); 
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
}

#CQrte .citrix-rg-14px-related-white-black, .citrix-rg-14px-related-white-black{
	color:$color-white;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@media #{$small-only} {
		color:$color-grey14;
	}
}

#CQrte .citrix-rg-14px-wb, .citrix-rg-14px-wb{
	color:#ff0;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@media #{$small-only} {
		color:$color-grey14;
	}
}

#CQrte .citrix-reg-12px-grey-caption, .citrix-reg-12px-grey-caption{
	display: inline-block;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (12px));
	@include rem-px(line-height, (18px));
	@include rem-px(padding-left, (15px));
	border-left: 3px solid $color-green2;
}

/* Quote */
#CQrte .citrix-rg-20px-white-quote, .citrix-rg-20px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-rg-24px-white-quote, .citrix-rg-24px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (36px));
}
#CQrte .citrix-rg-16px-white-quote, .citrix-rg-16px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (24px));
	@include rem-px(padding-top, (15px));
	@media #{$medium-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (23px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
}
#CQrte .citrix-rg-16px-white-hero, .citrix-rg-16px-white-hero{
	border-top: 1px solid $color-white;
	display: inline-block;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (24px));
	@include rem-px(padding-top, (15px));
	@media #{$medium-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (23px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
}
#CQrte .citrix-rg-16px-grey-hero, .citrix-rg-16px-grey-hero{
	border-top: 1px solid $color-grey11;
	display: inline-block;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (24px));
	@include rem-px(padding-top, (15px));
	@media #{$medium-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (23px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
}
#CQrte .citrix-rg-16px-green3-link-quote, .citrix-rg-16px-green3-link-quote{
	font-family: $font-GlobalFamily;
	&:hover, &:active{
		color: $color-green;
		text-decoration: none;
	}
}

#CQrte .citrix-rg-15px, .citrix-rg-15px {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (15px));

	&.green-light {
		color: $color-green3;
	}

	@media #{$small-only} {
	     	@include rem-px(font-size, (14px));
	}
}

#CQrte .citrix-rg-14px-white-quote, .citrix-rg-14px-white-quote{
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (15px));
	&.regular{
		font-family: $font-GlobalFamily;
	}
}
#CQrte .citrix-rg-26px-white-quote, .citrix-rg-26px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (38px));
	@media #{$medium-only} {
		@include rem-px(font-size, (25px));
		@include rem-px(line-height, (37px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-26px-grey-hero, .citrix-rg-26px-grey-hero{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (38px));
	
	@media #{$medium-only} {
		@include rem-px(font-size, (25px));
		@include rem-px(line-height, (37px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (32px));
	}
}

/* Toaster */
#CQrte .citrix-rg-18px-toaster, .citrix-rg-18px-toaster{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (22px));
	a{
		color: $color-green3;
		&:hover, &:active {
			color: $color-green;
		}
	}
	@media #{$medium-only} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (20px));
	}
}

#CQrte .citrix-rg-18px-partners-referral, .citrix-rg-18px-partners-referral{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (22px));

	@media #{$small-only} {
		@include rem-px(font-size, (14px));
	}
}

/* Text Message Form */
#CQrte .citrix-rg-22px-green2-textphone, .citrix-rg-22px-green2-textphone{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (30px));
}
#CQrte .citrix-rg-16px-white-textphone, .citrix-rg-16px-white-textphone{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (30px));
}
#CQrte .citrix-bd-16px-white-textphone, .citrix-bd-16px-white-textphone{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (30px));
}

/* Video */
#CQrte .citrix-rg-24px-white-video , .citrix-rg-24px-white-video{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (32px));

	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (30px));
	}
}
#CQrte .citrix-rg-16px-white-video , .citrix-rg-16px-white-video{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
}
#CQrte .citrix-bd-16px-white-video , .citrix-bd-16px-white-video{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
}

/* Contact */
#CQrte .citrix-rg-32px-grey5-contact, .citrix-rg-32px-grey5-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (32px));
	@include rem-px(line-height, (38px));

	@media #{$small-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-16px-grey8-contact, .citrix-rg-16px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-left, (11px));
}
#CQrte .citrix-rg-22px-grey8-contact, .citrix-rg-22px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (36px));
}
#CQrte .citrix-rg-14px-grey8-link-contact, .citrix-rg-14px-grey8-link-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	a{
		color: $color-green3;
		&:hover, &:active{
			color: $color-green;
			text-decoration: none;
		}
	}
}
#CQrte .citrix-rg-14px-grey8-contact, .citrix-rg-14px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));

	@media #{$small-only} {
		@include rem-px(line-height, (37px));
	}
}

/* Features */
#CQrte .citrix-rg-22px-white-feature, .citrix-rg-22px-white-feature{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (38px));
	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (26px)); 
	}
}
#CQrte .citrix-rg-14px-white-feature, .citrix-rg-14px-white-feature{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
}

/* Footer */
#CQrte .citrix-rg-18px-white-footer, .citrix-rg-18px-white-footer{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (30px));

	@media #{$medium-only} {
		@include rem-px(font-size, (17px));
	}
	
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
	}
}

#CQrte .citrix-rg-14px-white-footer, .citrix-rg-14px-white-footer{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (30px));
	
	@media #{$medium-only} {
		@include rem-px(font-size, (13px));
		@include rem-px(line-height, (29px)); 
	}
	
	@media #{$small-only} {
		@include rem-px(font-size, (12px));
		@include rem-px(line-height, (15px)); 
		
		a {
			display: inline-block;
			@include rem-px(line-height, (28px)); 
			@include rem-px(padding-bottom, (8px));
		}
	}
}
/* Apps */
#CQrte .citrix-rg-40px-grey-apps, .citrix-rg-40px-grey-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (40px));
	@include rem-px(line-height, (46px));
	@media #{$small-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-22px-green-apps, .citrix-rg-22px-green-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (28px));
	@include rem-px(padding-top, (18px));
	@media #{$small-only} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (26px));
	}
}
#CQrte .citrix-rg-14px-grey-link-apps, .citrix-rg-14px-grey-link-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	a{
		color: $color-green3;
		&:hover, &:active{
			color: $color-green;
			text-decoration: none;
		}
	}
}
#CQrte .citrix-rg-14px-green-link-apps, .citrix-rg-14px-green-link-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	&:hover, &:active{
		color: $color-green;
		text-decoration: none;
	}
	&:after{
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
}

/* Homepage styles*/
#CQrte .citrix-rg-42px-homepage-campaign-head, .citrix-rg-42px-homepage-campaign-head{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (42px));
	@include rem-px(line-height, (52px));

	@media #{$medium-only} {
		@include rem-px(font-size, (36px));
	}
}

#CQrte .citrix-rg-18px-homepage-campaign-subhead, .citrix-rg-18px-homepage-campaign-subhead{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (24px));
}



#CQrte .citrix-rg-67px-homepage-herotext, .citrix-rg-67px-homepage-herotext{
	color:$color-white;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (67px));
	@include rem-px(line-height, (68px));

	@media #{$medium-only} {
		@include rem-px(font-size, (50px));
		@include rem-px(line-height, (58px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (21px));
		@include rem-px(line-height, (28px));
	}
}
#CQrte .citrix-rg-22px-homepage-herosubtext, .citrix-rg-22px-homepage-herosubtext{
	color: $color-white;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (46px));

	@media #{$medium-only} {
		@include rem-px(line-height,(46px));
	}
}
#CQrte .citrix-rg-22px-homepage-heroform, .citrix-rg-22px-homepage-heroform{
	color:$color-white;
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));

	@media #{$small-only} {
		@include rem-px(font-size, (18px));
		@include rem-px(line-height, (21px));
	}
}
#CQrte .citrix-rg-22px-homepage-herobold, .citrix-rg-22px-homepage-herobold{
	color: $color-white;
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (40px));

	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height,(30px));
	}

	@media #{$small-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (21px));
	}
}
#CQrte .citrix-rg-33px-homepage-heroheading, .citrix-rg-33px-homepage-heroheading{
	color: $color-white;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (33px));

	@media #{$medium-only} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (42px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-16px-homepage-ctatext, .citrix-rg-16px-homepage-ctatext{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
}

#CQrte .citrix-rg-38px-homepage-iconheading, .citrix-rg-38px-homepage-iconheading{
	color:$color-grey14;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (38px));
}
#CQrte .citrix-rg-24px-homepage-quote, .citrix-rg-24px-homepage-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));

	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
	}
}

#CQrte .citrix-rg-76px-price, .citrix-rg-76px-price{
	color:$color-grey14;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (76px));

	@media #{$medium-only} {
		@include rem-px(font-size, (72px));
	}

	@media #{$small-only} {
		@include rem-px(font-size, (67px));
	}
}

#CQrte .citrix-rg-26px-mission, .citrix-rg-26px-mission{

	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));

	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
	}

	@media #{$small-only} {
		@include rem-px(font-size, (16px));
	}
}

#CQrte .citrix-rg-28px-aboutus, .citrix-rg-28px-aboutus{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (28px));
	@include rem-px(line-height, (34px));

	@media #{$small-only} {
		@include rem-px(font-size, (24px));
		@include rem-px(line-height, (28px));
	}
}
#CQrte .citrix-reg-11px-grey-text, .citrix-reg-11px-grey-text {
	@include rem-px(font-size, (11px));
}
#CQrte .citrix-reg-18px-grey-title, .citrix-reg-18px-grey-title {
	@include rem-px(font-size, (18px));
}
#CQrte .citrix-rg-11px, .citrix-rg-11px {
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(11px));
	@include rem-px(line-height,(15px));
}
//-----------------------------------------------------------------
// End of new SF Styles
//-----------------------------------------------------------------

//-----------------------------------------------------------------
//------Style for Resource Detail Pages----------------------------
//-----------------------------------------------------------------

#CQrte .pdfhtml, .resourceText {
	color: $color-dark;
	@include rem-px(line-height,(24px));
	margin-bottom: 20px;
    	
	h2 {
		color: $color-dark;
		@include rem-px(font-size,(28px));
		@include rem-px(line-height,(32px));
		margin: 30px 0 8px;
		padding: 0;
	}
	
	h3 {
		color: $color-dark;
		@include rem-px(font-size,(24px));
		@include rem-px(line-height,(30px));
		margin: 30px 0 8px;
		padding: 0;
	}
	
	h4 {
		color: $color-dark;
		@include rem-px(font-size,(20px));
		@include rem-px(line-height,(26px));
		margin: 30px 0 8px;
		padding: 0;
	}
	
	h5 {
		color: $color-dark;
		@include rem-px(font-size,(16px));
		@include rem-px(line-height,(22px));
		margin: 30px 0 8px;
		padding: 0;
	}	
	
	p {
		padding: 0 0 15px;
	}

	ul {
		color: $color-dark;
		@include rem-px(font-size,(16px));
		list-style-type: none;
		padding: 0 0 15px 10px;
		
		li {
			@include rem-px(line-height,(24px));
		}	
		
		li:before {
			content: "\b7\a0";
			@include rem-px(font-size,(16px));
			font-weight: bold;
		}
	}
}

#CQrte, .resourceText {
	.detailIntro {
		color: #808285;
		@include rem-px(font-size,(22px));
		@include rem-px(line-height,(30px));
		padding: 0 0 35px; 
	}
	
	.detailQuoteTopBord {
		border-top: 4px solid #f1f1f1;
		color: #989898;
		display: block;
		@include rem-px(font-size,(28px));
		font-style: italic;
		@include rem-px(line-height,(36px));
		padding: 20px 0 0;
		
		p {
			margin: 0;
			padding: 0;
		}
	}
	
	.detailQuote {
		border-top: 4px solid #f1f1f1;
		border-bottom: 4px solid #f1f1f1;
		color: #999;
		display: block;
		@include rem-px(font-size,(28px));
		font-style: italic;
		font-weight: bold;
		@include rem-px(line-height,(36px));
		margin: 30px 0;
		padding: 20px 0;
	}
	
	.detailQuoteSource {
		border-bottom: 4px solid #f1f1f1;
		color: #999;
		display: block;
		@include rem-px(font-size,(20px));
		@include rem-px(line-height,(39px));
		margin: -17px 0 0;
		padding: 0 0 20px;
	}
}

//-----------------------------------------------------------------
// Generics
//-----------------------------------------------------------------
#CQrte b, b, #CQrte strong, strong{
	font-weight: normal;
	font-family: $font-GlobalFamilySecondary;
}
// End Generics

#CQrte .link-arrow, .link-arrow {
	color:$color-grey5;
	@include rem-px(font-size,(13px));
	text-align:center;

	&:hover {
		color:#9c3;
		text-decoration: none;
	}

	&:after{
		color:#9c3;
		content: "\e61e";
		font-family: icons;
		@include rem-px(font-size,(7px));
		@include rem-px(padding-left,(7px));
	}
}
