//--------------------------
// Column Control
//--------------------------

.rowC {
	.columns {
		padding: 0;
	}
	
	&:after {
		clear: both;
	}
	
	&:before, &:after {
	    content: " ";
	    display: table;
	}
}
.columns.colSeparator {
	background-image: radial-gradient(#dadada 50%, rgba(255,255,255,0) 100%);
	background-image: -webkit-radial-gradient(#dadada 50%, rgba(255,255,255,0) 100%);
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	height:auto;
}
@media #{$large-up} {
	.row {
		&.align-left {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
@media #{$small-only} {
	.columns.colSeparator {
		background-image: none;
	}
}