//------------------------------------------------------
// Enterprise Form
//------------------------------------------------------

// EMBEDDED FORM
.ent-lead-form {
	position: relative;

	form {
		input[type="text"], input[type="text"]:focus, input[type="password"] {
			background: $color-grey13;
			border: 3px solid $color-grey13;
			box-shadow: none;
			color: white;
			font-family: $font-GlobalFamilyTertiary;
			@include rem-px(font-size,(22px));
			@include rem-px(height,(60px));
			@include rem-px(margin-bottom,(3px));
			padding: 0 0 0 1.5625rem;
			text-align: left;
		}
		label[class^="icon-"]:before {
			@include rem-px(font-size,(16px));
			left: 10px;
			position: absolute;
			top: 23px;
		}
		input.invalid {
			border: 3px solid $color-red;
		}
		*::-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-moz-placeholder {
			opacity: 0.4;
		}
		*::-webkit-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-webkit-input-placeholder {
			opacity: 0.4;
		}
		*:-moz-placeholder {
			color: $color-placeholder;
			opacity: 1;
		}
		*:focus:-moz-placeholder {
			opacity: 0.3;
		}
		*:-ms-input-placeholder {
			color: $color-placeholder;
			opacity: 1;
		}
		*:focus:-ms-input-placeholder {
			opacity: 0.3;
		}
		input.error {
			border: 3px solid $color-red !important;
			font-weight: normal;
		}

		.textfield:first-child {
			float: left;
			width: 50%;
		}
		.textfield:nth-child(2) {
			float: left;
			width: 50%;
			@include rem-px(padding-left,(3px));
		}
		.textfield:nth-child(3) {
			@include clearfix();
		}
	}
	.button {
		background: $color-green;
		border: 0;
		color: $color-white;
		display: block;
		float: left;
		@include rem-px(font-size,(22px));
		@include rem-px(line-height,(48px));
		margin: 0.1875rem 0 0.9375rem;
		text-align: center;
		width: 100%;
	}
	.err {
		display: none;
	}

	#formErrorMsg {
		background: $color-red;
		color: $color-white;
		display: none;
		@include rem-px(font-size,(14px));
		@include rem-px(margin-bottom,(10px));
		padding: 1.375rem 0.625rem;
		position: absolute;
		text-align: center;
		top: -75px;
		width: 100%;

		.icon-Warning {
			color: $color-yellow;
			margin-right: 8px;
		}
		p {
			color: $color-white;
			font-family: $font-GlobalFamilyTertiary;
		}
	 	&:after {
			border-color: $color-red transparent transparent;
			border-image: none;
			border-right: 9px solid transparent;
			border-style: solid;
			border-width: 9px;
			content: " ";
			height: 0;
			left: 50%;
			margin-bottom: -0.625rem;
			pointer-events: none;
			position: absolute;
			top: 100%;
			width: 0;
		}
	}

	.form-mask {
		background: url(#{$filepath-CSSImages}/loading.gif) no-repeat center center rgba(0, 0, 0, 0.5);
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	.confirm-mask {
		background: $color-grey14;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

}

@media #{$small-only} {
	#enterpriseForm {
		.enterpriseForm {
			margin: 25px auto;
			form input[type="text"], form input[type="text"]:focus, form input[type="password"] {
				@include rem-px(font-size,(18px));
				@include rem-px(height,(48px));
			}
		}
		.boxContainer .container {
			border: 0;
			width: auto;
		}
	}
}