//------------------------------------------------------
// Floating Footer
//------------------------------------------------------
$footer-height: 65px;

.floatingFooterContent {
	background: $nav-bg;
	bottom: 0;
	display: none;
	@include rem-px(max-height,(65px));
	padding: 0;
	position: fixed;
	vertical-align: middle;
	width: 100%;
	z-index: 100;
	
	&.mainMessageOnly {
		@include rem-px(padding,(0 26px));
	}
	
	.message {
		color: $color-grey7;
		@include rem-px(font-size,(15px));
		@include rem-px(line-height,($footer-height));
		@include rem-px(margin-left,(26px));
		@include rem-px(max-height,(65px));
		overflow: hidden;
		
		a {
			color: $color-grey7;
			&:hover {
				color: $color-white;
			}
		}
		&.main {
			float: left;
			@include rem-px(max-width,(470px));
		}
		&.support {
			float: right;
			@include rem-px(margin-right,(26px));
			@include rem-px(max-width,(224px));
		}
		
		&.only {
			float: none;
			@include rem-px(font-size,(18px));
			margin: 0;
			max-width: none;
			text-align: center;
			
			a {
				color: $color-green3;
				&:hover {
					color: $color-green4;
				}
			}
		}
		
		span {
			@include rem-px(line-height,($footer-height));
			vertical-align: middle;
			
			&.phone:before, &.chat:before {
				font-family: icons;
			}
			&.phone:before {
				content: "\e622";
				@include rem-px(line-height,($footer-height));
			}
			&.chat:before {
				content: "\e633";
			}
		}
	}
	.button {
		float: right;
		@include rem-px(line-height,($footer-height));
		@include rem-px(margin,(0 26px 0 22px));
	}
}

@media #{$medium-only} {
	.floatingFooterContent {
		.message {
			&.main {
				@include rem-px(max-width,(354px));
				&.only {
					max-width: none;
				}
			}
			&.support {
				margin-right: 0;
				@include rem-px(max-width,(135px));
			}
		}
		.button {
			float: right;
			@include rem-px(margin-left,(30px));
		}
	}
}

@media #{$small-only} {
	.floatingFooterContent {
		background-color: $color-green3;
		@include rem-px(max-height,($footer-height));
		overflow: hidden;
		
		&.mainMessageOnly {
			background-color: $nav-bg;
			@include rem-px(font-size,(16px));
			@include rem-px(height,($footer-height));
			@include rem-px(padding,(0 26px));
			
			.message {
				color: $color-grey7;
				margin: 0;
				text-align: center;
				width: 100%;
				
				&.main {
					width: 100%;
				}
				
				&.two-line {
					width: 100%;
				}
			}
			
			a {
				color: #78be20;
				&:hover {
					color: #78be20;
				}
			}
		}
		
		.message {
			color: $color-white;
			
			&.main {
				width: 60%;
			}
			
			&.two-line {
				display: inline-block;
				@include rem-px(line-height,(24px));
				@include rem-px(margin-top,(12px));
				width: 60%;
				
				span {
					&.phone, &.chat {
						line-height: inherit;
						&:before {
							line-height: inherit;
						}
					}
				}
			}
		}
		.arrow {
			background-color: #9c3;
			float: right;
			vertical-align: middle;
			@include rem-px(width,(65px));

			span:before {
				color: $color-white;
				content: "\e627";
				font-family: icons;
				@include rem-px(font-size,(45px));
				@include rem-px(line-height,($footer-height));
				@include rem-px(margin,(0 0 0 22px));
			}
		}
	}
}