/*--------------------------------------------------------
	Global Footer Navigation Styles

	Note: Base colors are hardcoded as they would be the
		  same for all products.
--------------------------------------------------------*/

.footerNavigation {
	@include gradient-top-bottom(#3f4651,#30363f,50%);
	font-family: $font-footer;
	font-size: 14px;
	padding: 48px 0 38px;
	> .row.collapse{
		padding: 0 50px;
	}
	h5 {
		color: #fff;
		font-family: $font-GlobalFamilySecondary;
		font-size: 14px;
		line-height: normal;
		margin: 0 0 5px;
		overflow: hidden;
		white-space: nowrap;
	}
	h6 {
		color: #c4cad2;
		font-family: $font-GlobalFamilySecondary;
		font-size: 14px;
		line-height: 24px;
		margin: 0;
	}
	a {
		color: #c4cad2;
		line-height: 24px;
		&:hover {
			color: #fff;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
		}
	}
	.icon-down-open, .icon-up-open {
		&:before {
			display: none;
		}
	}
	.connect {
		h5 {
			padding: 30px 0 9px;
		}
		a {
			color: #838f9f;
		}
		li {
			display: inline-block;
			font-size: 36px;
			margin-right: 15px;
			.icon-social-facebook:hover {
				color: #4d6ead;
			}
			.icon-social-twitter:hover {
				color: #4ebaea;
			}
			.icon-social-google:hover {
				color: #e13627;
			}
			.icon-social-youtube:hover {
				color: #cc4337;
			}
		}
	}

}
@media #{$large-up} {
	.footerNavigation .navList h5 {
		~div, ~ul {
			display: block !important;
		}
	}
}
@media #{$screen} and (max-width:#{upper-bound($medium-range)}) {
	.footerNavigation {
		font-size: 12px;
		padding: 0;
		> .row.collapse{
			padding: 0;
		}
		.navList {
			h5 {
				cursor: pointer;
				font-size: 12px;
				margin: 0;
				padding: 18px 50px;
				white-space: normal;
				~ div, ~ ul {
					background: #2d333a;
					display: none;
					padding: 0 50px;
				}
			}
			.icon-down-open, .icon-up-open {
				&:before {
					display: inline;
					float: right;
					font-size: 20px;
					position: relative;
					top: -2px;
				}
			}
		}
		.large-7 .large-4:after, .large-5:after {
			border-bottom: 2px solid #272c33;
			content: '';
			display: block;
		}
		h6 {
			font-size: 12px;
			margin-top: 20px;
		}
		a {
			display: inline-block;
			line-height: 42px;
		}
		.connect.row.collapse {
			padding: 0 50px 38px;
			h5 {
				font-size: 12px;
				line-height: 42px;
				padding: 0;
				white-space: normal;
			}
		}
	}
}
