.iconSpotlight {
	[class^="icon-"] {	
		&:before {
			color: $color-green2;
			@include rem-px(font-size,(34px));
			float: left;
			font-weight: normal;
			margin-right: 10px;				
		}
	}
	.text {
		display: table-cell;
		vertical-align: top;
	}
	
	.black {
		[class^="icon-"] {	
			&:before {
				color: $color-black;
			}
		}
	}
	.white {
		[class^="icon-"] {	
			&:before {
				color: $color-white;
			}
		}
	}
	.lightGrey {
		[class^="icon-"] {	
			&:before {
				color: $color-grey1;
			}
		}
	}
	.darkGrey {
		[class^="icon-"] {	
			&:before {
				color: $color-grey5;
			}
		}
	}
	
	.show-for-medium-only {
		text-align: center;
		[class^="icon-"] {	
			&:before {
				float: none;
				margin-top: 10px;
				text-align: center;
			}
		}
	}
	p {
		margin-bottom: 10px;
	}
}
@media #{$small-only} {
	.iconSpotlight {
		[class^="icon-"] {
			&:before {
				@include rem-px(font-size,(20px));
				@include rem-px(margin,(8px 5px 8px 0));
			}
		}
	}
}