//------------------------------------------------------
// Icon Heading
//------------------------------------------------------

.iconHeading {
	color:$color-green2;
	
	[class^="icon-"] {	
		&:before {
			@include rem-px(font-size,(34px));
			font-weight: normal;
			padding-right: 5px;
			position: relative;
			top: 3px;
		}
	}
	
	.icon-WorkFlow{
		@include rem-px(font-size,(27px));
	}
	h2 {
		display:inline;
		font-family: $font-GlobalFamily;
		font-weight: normal; 
		@include rem-px(font-size,(22px));
		@include rem-px(line-height,(26px));
		@include rem-px(padding-top,(7px));
	
		&.warningMessage {
			color:$color-black !important;
		}
	}
	
	.black {
		color: $color-black;
	}
	.white {
		color: $color-white;
	}
	.lightGrey {
		color: $color-grey1;
	}
	.darkGrey {
		color: $color-grey5;
	}
	.vAlign {
		text-align:center;
		[class^="icon-"], [class*=" icon-"] {
			height: 50px;
		}
		.iconHeadingText {
			margin-top: 7px;
		}
	}
}

@media #{$small-only} {
	.iconHeading {
		h2 {
			@include rem-px(font-size,(20px));
		}
		
		[class^="icon-"] {
			&:before {
				@include rem-px(font-size,(30px));
			}
		}
	}
}