.localeCheckbox {	
	color: #444b58;
	@include rem-px(font-size,(12px));
	.darkBg {
		color: $color-white;
	}
	.defaultMessage {
		display: block;
		font-family: $font-GlobalFamilySecondary;
		@include rem-px(font-size,(14px));
		margin: 20px auto;	
	}
	.localeCheck {
		padding: 0 15px 20px 15px;
		text-align: left;
		input {
			margin: 0 5px 0;
		}
		label{
			display: inline-block;
    		margin: -20px 0 0 28px;
		}
	}
	.tncText {
    	padding: 0 10px 20px;
    	text-align: center;
	}
}