//------------------------------------------------
//    Logo
//------------------------------------------------

.logo {
	span {
		background: url("#{$filepath-CSSImages}/logo-sf-full.png") no-repeat;
		@include logo-position();
		height: 50px;
		width: 153px;
	}
	span.quickedit {
		background: url("#{$filepath-CSSImages}/logo-quickedit-full.png") no-repeat;
		@include logo-position();
		height: 50px;
		width: 190px;
	}
	span.slidestream {
		background: url("#{$filepath-CSSImages}/logo-slidestream-full.png") no-repeat;
		@include logo-position();
		height: 50px;
		width: 193px;
	}
}

@media #{$small-only} {
	.logo {
		span {
			background: url("#{$filepath-CSSImages}/logo-sf-icon-small.png") no-repeat;
			@include logo-position();
			height: 47px;
			width: 37px;
			margin-top: -7px;
		}
		span.quickedit {
			background: url("#{$filepath-CSSImages}/logo-quickedit-icon-small.png") no-repeat;
			@include logo-position();
			height: 49px;
			width: 50px;
			margin: 0px;
		}
		span.slidestream {
			background: url("#{$filepath-CSSImages}/logo-slidestream-small.png") no-repeat;
			@include logo-position();
			height: 49px;
			width: 50px;
			margin: 0px;
		}
	}
}