//----------------------------
//  Core Owl Carousel CSS File
//----------------------------

.owl-carousel {
	/* display none until init */
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;

	.owl-wrapper:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-wrapper {
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.owl-item {
		float: left;
	}

	/* fix */
	.owl-wrapper, .owl-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
	}

	.owl-controls {
		text-align: center;
		height: 0;

		.owl-buttons {
			display: none;
			left: 20px;
			position: absolute;
			top: 40px;
			width: 90%;
			z-index: 2;

			div {
				width: 25px;
				height: 25px;
				display: inline-block;
				zoom: 1;
				float: left;
				margin: 0 0 0 16px;
				cursor: pointer;
				background-color: transparent !important;

				&:before {
					color: #75c64b !important;
					font-family: $font-GlobalIcons !important;
					font-style: normal !important;
					font-weight: normal !important;
					font-variant: normal !important;
					text-transform: none !important;
					speak: none;
					line-height: 1;
					content: "\e61e" !important;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin: 0;
					display: block;
					@include rem-px(font-size,(24px));
				}
			}
			.owl-next {
				float: right;
				margin: 0 16px 0 0;
				&:hover {
					background-color: transparent !important;
				}
				&:hover:before {
					color: #2b6026 !important;
				}
				&.disabled {
					&:hover {
						background-color: transparent !important;
					}
					&:hover:before, &:before {
						color: #c3d6c1 !important;
					}
				}
			}
			.owl-prev:before {
				content: '' !important;
				width: 0px;
				height: 0px;
				border-top: 11px solid transparent;
				border-bottom: 11px solid transparent;
				border-right: 23px solid #75c64b;
			}
			.owl-prev:hover:before {
				border-right: 23px solid #2b6026;
			}
			.owl-prev.disabled:before {
				border-right: 23px solid #c3d6c1;
			}
		}
		/* Styling Pagination */
		.owl-page {
			display: inline-block;
			zoom: 1;
			cursor: pointer;

			span {
				display: block;
				width: 7px;
				height: 7px;
				margin: 5px;
				border-radius: 100%;
				background: #869791;
			}
			&.active span, &:hover span {
				background: $color-green2;
			}
		}
	}
}

@media #{$small-only} {
	.owl-carousel {
		.owl-controls {
			.owl-buttons {
				div {
					width: 25px;
					height: 25px;

					&:before {
						@include rem-px(font-size,(24px));
					}
				}			
				.owl-next {
					&:hover:before {
						color: #75c64b !important;
					}	
				}
				.owl-prev:hover:before {
					border-right: 23px solid #75c64b !important;
				}
			}
			.owl-page span {
				height: 10px;
				width: 10px;
				margin: 5px 7px;
			}
		}
	}
}