.partnerForm{
	.form-mask {
		background: url(#{$filepath-CSSImages}/loading.gif) no-repeat center center rgba(0, 0, 0, 0.5);
		height: 72%;
		position: absolute;
		width: 95%;
		z-index: 1; 
	}
	
	#formErrorMsg {
			background: $color-red;
			color: $color-white;
			display: none;
			@include rem-px(font-size,(14px));
			@include rem-px(margin-bottom,(10px));
			@include rem-px(padding-top,(22px));
			@include rem-px(padding-bottom,(10px));
			position: relative;
			@include rem-px(margin-top,(-71px));
			text-align:center;
			width: 100%;

			.icon-Warning {
				color:$color-yellow;
				@include rem-px(margin-right,(8px));
			}
			p {
				color: $color-white;
				font-family: $font-GlobalFamilyTertiary;
			}
		 	&:after {
				border-color: $color-red transparent transparent;
				border-image: none;
				border-right: 9px solid transparent;
				border-style: solid;
				@include rem-px(border-width,(9px));
				content: " ";
				height: 0;
				left: 50%;
				@include rem-px(margin-bottom,(-10px));
				pointer-events: none;
				position: absolute;
				top: 100%;
				width: 0;
			}
	}
    
	.pForm{
		width:100%;
		border-radius:none;
				
		input{
		  background-color:$color-grey13;
		  border:none;
		  color:$color-white;
		  @include rem-px(font-size,(20px));
		  @include rem-px(height,(54px));
		  margin-left: 0 !important;
		  margin-right: 0 !important;
		  margin-bottom: 0 !important;
		  margin-top:3px;
		  @include rem-px(padding-top,(10px));
		  @include rem-px(padding-left,(25px));
		} 
		
		*::-moz-placeholder {
			color: $color-white;   
			opacity: 1;
		}
			
		*::-webkit-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
			
		*:-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
	
		*:-ms-input-placeholder {
			color: $color-white;
			opacity: 1;
		}

		input.placeholder {
			color: $color-white;
			opacity: 1;
		}
		
		.err {
			display: none;
		}
		
		.error {
		  background-color:$color-grey13;
		  border: 3px solid $color-red !important;
		  color: #fff;
		  text-align: left;
		  font-weight: normal;
		}
		
		.submitButton{
			background-color:$color-green3;
			color:$color-white;
			@include rem-px(font-size,(20px));
			@include rem-px(height,(54px));
			width:100%;
			@include rem-px(margin-top,(5px)); 
		}
	}
	
}

@media #{$medium-only} {
	.partnerForm{
		.form-mask {
			height: 77%;			
		}
	}
}


@media #{$medium-only} {
	.partnerForm{
		.form-mask {
			height: 79%;			
		}
	}
}
