.partnersContainer {
	max-width:1280px;
	margin-top:40px;
	.seperator {
		margin: 40px 15px 0 15px;	
	}
	.events {
		margin-top: 20px;
			
		.logo {
			float: left;
		    margin: 0 0 0 20px;
		    overflow: hidden;
		    width: 250px;
		  
		    img {
		    	width: 150px;
		    }
		    
		    .firmURL{
		    	margin-top:10px;
		    }
		}
		.description {
		    color: #707070;
		    height: 100%;
		    overflow: hidden;
		}
		.moreLink {
			display: block;
			margin: 15px 0 0 270px;
			
			a {
				&:after {
		    		color: #9c3;
				    content: "\e61e";
				    font-family: icons;
				    font-size: 9px;
				    padding-left: 9px;
		    	}
	    	}
	    	.caseStudyPath {
	    		display: block;
	    		margin: 10px 0;
	    	}
		}
	}
}

@media #{$medium-only} {
	.partnersContainer {
		.events {
			.logo {
				float: none;
			}
			.description {
				margin :15px 0 0 20px;
				max-width: 85%;
			}
			.moreLink {
				margin-left: 20px;
			}
		}
	}
}

@media #{$small-only} {
	.partnersContainer {
		.events {
			.logo {
				float: none;
			}
			.description {
				margin: 15px 0 0 20px;
				max-width: 85%;
			}
			.moreLink {
				margin-left: 20px;
			}
		}
	}
}