.mainContent .planFeaturesContainer .column, .mainContent .planFeaturesContainer .columns, #planandpricing .column, #planandpricing .columns {
    padding: 0 0.38rem !important;
}
.planAndPricing {
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	.row .row {
	    margin: 0;
	}
	h3 {
		display: none;
	}

	ul, ul.active {
		font-family: $font-GlobalFamily;
		list-style: none;
		margin: 37px auto 5px;
		width: 100%;
	}
	ul li, ul.active li {
		width: 100%;
	}

	ul {
		li.head {
			background: $color-grey8;
			@include rem-px(font-size,(21px));
			line-height: 50px;
			&.fix-header {
				position: fixed;
				top: 0;
				z-index: 999;
			}
		}
		li.content {
			background: $color-grey15;
			@include rem-px(height,(180px));
		}
		&.active {
			margin: 0 0 5px;

			li.callout {
				background: $color-green5;
				@include rem-px(font-size,(14px));
				@include rem-px(line-height,(37px));
				position: relative;
				text-transform: uppercase;

				&:after, &:before {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					border-top-color: $color-green5;
					border-width: 8px;
					margin-left: -8px;
				}
			}
			li.content {
				background: #28af32;
			}
			li.head {
				background: #2cca3d;
			}
		}
	}
	.pricing {
		@include rem-px(font-size,(14px));
		padding: 20px 8px;
		p {
			.last {
				margin-top:110px;
			}
			.messages {
				@include rem-px(line-height,(18px));
				margin: auto;
				width: 90%;
			}
		}
		p.messages {
			a, a:hover, a:focus {
				color: $color-white;
				text-decoration: underline;
			}
		}
		.price {
			margin: 2px auto 6px;
			width: 90%;
		}
		.number {
			float: left;
			@include rem-px(font-size,(70px));
			letter-spacing: -5px;
			margin-top:12px;
			text-align: right;
			width: 50%;
			display:inline-block;
			margin-right:6px;
		}
		.division {
			@include rem-px(font-size,(62px));
			display: inline-block;
			margin-top:17px; 
		    text-align: left;
		    text-indent: -5px;
		    width: 10px;
		}
		
		.message{
		    display: inline-block; 
		    font-size: 0.75rem;
		    text-align: left;
		    width: 71px;
		    margin-left: 6px;
		}
		.duration {
			float: left;
			display:inline-block;
			margin:24px 0 0 10px;
			position: relative;
			text-align: left;
			width: 42%;
			p {
				@include rem-px(font-size,(24px));
				height: 32px;
				letter-spacing: 0.1px;
				margin: 0;
				position: relative;
			}
			span {
				display: inline-block;
				@include rem-px(font-size,(11px));
			}
		}
		sup {
			@include rem-px(font-size,(27px));
			margin-right:0;
			top: -35px !important;
		}
	}
	 .features{
		background-color:#ededef;
		color:#939598;
		font-size:12px;
		height:70px;
	    padding: 20px 0;
	}
	[class^="icon-"], [class*=" icon-"] {
		@include rem-px(font-size,(14px));
	}	
	.compareTable {
		display: none;
	}
}
.planFeaturesContainer .planAndPricing, .planAndPricing .compareTable {
	.row p, p, p.cell {
		background: #f1f2f2;
		border-bottom: 2px solid $color-white;
		color: $color-grey12;
		@include rem-px(font-size,(17px));
		height: 62px;
		@include rem-px(line-height,(15px));
		margin: 0;
		padding-top:25px
	}
	.row p, p {
		&.check {
			color: $color-green2;
			padding-top:25px;
		}
		&.icon-X {
			color: #dd0000;
			@include rem-px(line-height,(55px));
			padding-top:0;
			&:before {
				font-size: 10px;
			}
		}
	}
	.row:last-child .left-row, row:last-child .row p{
		border: 0;
	}

	.left-row, .left-row p {
		background: $color-white;
		border-bottom: 1px solid #e6e6e5;
		color: $color-grey12;
		cursor: pointer;
		@include rem-px(font-size,(14px));
		height: 62px;
		@include rem-px(line-height,(15px));
		padding: 15px 22px 5px;
		text-align: left;
		word-wrap: break-word;
	}
	.left-row {
		line-height: 62px;
		padding:0px 22px 0 0;
		span {
			line-height: normal;
			display: inline-block;
			vertical-align: middle;
			margin-left:17px;
		}
	}
	.features {
		display: none;
		p {
			background: transparent;
			@include rem-px(font-size,(12px));
			height: auto;
			@include rem-px(line-height,(17px));
			padding:20px 35px;
			text-align: left;
		}
	}
	.icon-SolidCircle {
		border-radius: 12px;
		background: #76c64c;
		display: block;
		height: 10px;
		margin: auto;
		width: 10px;
	}
}
.planFeaturesContainer .planAndPricing .left-row span:before, .planAndPricing .compareTable .left-row:before {
	content: "+";
	font-family: citirx-web-icons;
	font-size: 0.75rem;
	left: 10px;
	padding: 0 0.625rem 1.25rem 0;
	position: absolute;
}
.planFeaturesContainer .planAndPricing .left-row.minus span:before, .planAndPricing .compareTable .left-row.minus:before {
	content: "-";
}
#planandpricing {
	.row .row {
	    margin: 0;
	}
	.owl-wrapper-outer, .owl-pagination, .reference .head, .reference ul.theme {
    	display: none;
	}
}	
@media only screen and (min-width: 47.5625em) and (max-width: 64em) {
	#planandpricing, .mainContent .planFeaturesContainer {
		@include rem-px(padding,(0 20px));
	}
	.planAndPricing {
		.features{
			height:85px;
		}
		ul, ul.active {
			margin-top:21px;
		}
		ul {
			&.active {
				margin: 0;
			}
			li {
				&.head {
					@include rem-px(font-size,(12px));
					font-weight: bold;
					line-height: 28px;
				}
				&.content {
					height: 135px;
				}
			}
			&.active li.callout {
				@include rem-px(font-size,(10px));
				line-height: 21px;

				&:after, &:before {
					border-width: 8px;
					margin-left:-8px;
				}
			}
		}
		.pricing {
			@include rem-px(padding,(6px 3px));
			@include rem-px(font-size,(8px));

			p {
				&.messages {
					margin: auto;
					margin-bottom: 5px !important;
					width: 100%;
					height: 30px;
				}
				&.last {
					margin-top: 110px;
				}
			}
			.price {
				margin: 0 auto 6px;
				width: 95%;
			}
			.number {
				@include rem-px(font-size,(28px));
				display:inline-block;
				margin-top:5px;
				letter-spacing: -2px;
				width: auto;
				margin-left:27%;
			}
			.division {
				@include rem-px(font-size,(26px));
				display:block;
				margin-top: 5px;
			    width: auto;
			    margin-left: -48px;
			}
			.message{
				@include rem-px(font-size,(10px));
			    display:block; 
			    font-size: 0.75rem;
			    text-align: center;
			    width: 100%;
			    margin: 6px auto;
			}
			.duration {
				margin: 8px 0 0 4px;
				width: 46%;
				p {
					@include rem-px(font-size,(20px));
					height: 8px;
				}
				span {
					@include rem-px(font-size,(8px));
					padding-left: 1px;
				}
			}
			sup {
				@include rem-px(font-size,(21px));
				top: -7px !important;
				margin-right:6px;
			}
		}
	}
	.planFeaturesContainer .planAndPricing {
		.left-row {
			@include rem-px(font-size,(10px));
			padding: 0 2px 5px 16px;
			text-align: left;
			&:before {
				left: 10px;
			}
		}
		.row {
			p {
				@include rem-px(font-size,(12px));
			}
		}
		.features p {
			border: 0;
			@include rem-px(font-size,(10px));
			@include rem-px(line-height,(17px));
			padding: 20px 30px;
		}
	}
	.planFeaturesContainer .planAndPricing .left-row span:before, .planAndPricing .compareTable .left-row span:before {
		font-size: 10px;
		left: 10px;
	}
}

@media only screen and (max-width: 47.5em) {
	.planAndPricing {
		margin: 20px auto 0;
		width: 90%;

		h3 {
			color: $color-black;
			@include rem-px(font-size,(24px));
			margin: auto;
			word-wrap: break-word;
		}
		ul, ul.active {
			width: 250px;
		}
		ul {
			&.active {
				margin: 37px auto 0;
				li.view-features {
					background: $color-grey8 !important;
				}
			}
			li.view-features {
				cursor: pointer;
				text-decoration: underline;
			}
			li.content {
				height: auto;
			}
		}
		.compareTable {
			display: none;
			.left-row {
				@include rem-px(font-size,(12px));
				padding: 0 0 0 16px;
				&:before {
					left: 4px;
				}
			}
			.features p {
				background-color: #e6e6e5;
				@include rem-px(font-size,(12px));
				@include rem-px(line-height,(17px));
				margin: 0 15px;
				padding: 15px;
			}
		}
		.pricing{
			.number {
				float: left;
				@include rem-px(font-size,(70px));
				letter-spacing: -5px;
				margin-top:12px;
				text-align: right;
				width: 50%;
				display:inline-block;
				margin-right:6px;
			}
			.division {
				@include rem-px(font-size,(47px));
				display: inline-block;
				margin-top:30px;
				margin-left:9px; 
			    text-align: left;
			    text-indent: -5px;
			    width: 10px;
			    float:left;
			}
			
			.message{
			    display: inline-block; 
			    font-size: 0.75rem;
			    text-align: left;
			    width: 71px;
			    margin-left: 6px;
			    margin-top:39px;
			    float:left;
			}
		}
		.features{
			height:60px;
		}
	}
	
	#planandpricing {
		.reference {
			.planAndPricing {
				ul, ul.active {
					margin: 40px auto 30px;
					width: auto;
				}
				ul li.view-features {
					cursor: pointer;
				}
				.compareTable, h3 {
					display: block;
				}
				h3 {
					color: $color-black;
					display: none;
					@include rem-px(font-size,(24px));
					margin: 35px auto 0;
					padding: 0 40px;
					width: auto;
					word-wrap: break-word;
				}
				.view-features {
					display: none !important;
				}
			}
		}
		.column, .columns {
			padding: 0 1px !important;
		}
		.owl-carousel .owl-item {
			@include rem-px(padding,(0));
		}
		.swipe-title {
			color: #75c64b;
			display: block;
			left: 13%;
			margin: 0;
			padding: 0 10px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 35px;
			width: 73%;
		}
		.plan-title {
			color: $color-grey14;
			@include rem-px(font-size,(20px));
			left: 13%;
			margin: 12px auto 0;
			padding: 0 10px;
			position: absolute;
			top: 50px;
			width: 73%;
			word-wrap: break-word;
		}
		.owl-carousel .owl-controls .owl-buttons {
	        background: $color-white;
	        display: none;
	        height: 120px;
	        left: 0 !important;
	        padding: 65px 0 20px;
	        position: fixed !important;
	        top: 0 !important;
	        width: 100% !important;
	        z-index: 2;
	    }
		.owl-carousel .owl-controls .owl-buttons div:before {
			@include rem-px(font-size,(24px));
		}
	}
}

@media only screen and (max-width: 47.5em) and (orientation: landscape) {
	#planandpricing {
		.swipe-title {
	        display: none;
	    }
	    .plan-title {
	        top: 0px;
	    } 
	    .owl-carousel .owl-controls .owl-buttons {
	        height: 44px;
	        padding: 10px 0 20px;
	    }  
		.owl-carousel .owl-controls .owl-buttons div {
			margin: 0 0 0 26px;
	    }
	    .owl-carousel .owl-controls .owl-buttons .owl-next {
			margin: 0 26px 0 0;
		}
	} 
}

@media only screen and (max-width: 40em) and (orientation: landscape) {
	#planandpricing {
		.reference .planAndPricing h3 {
	        width: auto;
	    }
	}
}
@media only screen and (min-width: 40.0625em) and (max-width: 47.5em) {
	#planandpricing {
		[class*="medium-"] {
			width: 100% !important;
		}
		.show-for-small {
			display: block !important;
		}
	}
	.planAndPricing {
		&.show-for-medium-up {
			display: none !important;
		}
		.view-features {
			display: none !important;
		}
	}
}
@media only screen and (min-width: 64.0625em) and (max-width: 79.9375em) {
	.planAndPricing {
		ul{
			li.content{
				height:180px;
			}
		}
		sup{
			top:-22px !important;
			margin-right:2px;
		}
		.messages {
			@include rem-px(font-size,(12px));
			height: 40px;
		}
		.pricing {
			@include rem-px(font-size,(12px));
			.number {
				@include rem-px(font-size,(54px));
				display:inline-block;
				margin-left:30px;
				letter-spacing:-2.9px;
				width: auto;
				
			}
			.division {
				@include rem-px(font-size,(44px));
				display:block;
				margin:17px 0 0 0;
			    text-align: left;
			    text-indent: -5px;
			    width: auto;
			}
		
			.message{
			    display: block; 
			    @include rem-px(font-size,(12px));
			    text-align: center;
			    width: 100%;
			    margin:8px auto;
			}
			sup {
				top: -28px !important;
			}
			.duration {
				margin-top: 20px;
				width: 37%;
				p {
					height: 14px;
					@include rem-px(padding,(0));
				}
				span {
					@include rem-px(font-size,(10px));
					@include rem-px(line-height,(13px));
					padding-left: 5px;
				}
			}
		}
	}
}
