//------------------------------------------------------
// RSS Feed
//------------------------------------------------------

.rssfeedreader {
	border-top: 1px solid $color-grey4;
	.item {
		border-bottom: 1px solid $color-grey4;
		padding: 25px 0;
		.feedDate {
			color: $color-grey5;
			@include rem-px(font-size,(11px));
		}
		
		.feedTitle {
			margin: 8px 0 10px;
			a {
				color: $color-grey5;
				@include rem-px(font-size,(18px));
			}
		}
	}
		
	.read {
		color: $color-green3;
		@include rem-px(font-size,(14px));
		font-weight: bold;
		margin: 20px 0;
	}
}