//------------------------------------------------------
// Section 
//------------------------------------------------------

section.sectionSlanting {
	position: relative;
}
.section-slant-wrap {
	overflow: hidden;
	height: 86px;
	bottom: -86px;
	position: absolute;
	width: 100%;
	top: auto;
	z-index: 1;
	-moz-transform: scale(.9999);
	-transform: scale(.9999); 
	
}
.section-slant {	
    display:block;
    width:0;
    height:0;
    border-left:100vw solid;
    border-bottom: 75px solid transparent;
    position:relative;
}

@media #{$medium-only} {
	.section-slant {
		border-bottom: 51px solid transparent;	
	}	
}

@media #{$small-only} {
	.section-slant {
		border-bottom: 40px solid transparent;	
	}	
}