//------------------------------------------------------
// Section Heading
//------------------------------------------------------

.sectionHeading {
	text-align: center;
	margin: 0 auto;
	@include rem-px(padding,(80px,0,25px)); 
	float: none !important;
		
	p {
		color: #67b64c;
		font-family: $font-GlobalFamilySecondary;
		@include rem-px(font-size,(12px));
		font-weight: normal;
		letter-spacing: 0; 
		margin: 0;
		text-transform: uppercase;
	}
	h1, h2 {
		color: $color-grey14;
		@include rem-px(font-size,(38px));
		font-weight: normal;
		@include rem-px(line-height,(44px));
		@include rem-px(margin,(11px, 0, 0));
		letter-spacing: 0;    
	}
	.hasDarkBg {
		h1, h2 {
			color: $color-white;
		}
	}
}

@media #{$medium-only} {
    .sectionHeading {
	    @include rem-px(padding,(70px, 0, 32px));
		h1, h2 {
			@include rem-px(font-size,(34px));
			@include rem-px(line-height,(40px));
			@include rem-px(margin,(10px, 25px, 0));
		}
	}
}

@media #{$small-only} {
    .sectionHeading {
    	@include rem-px(padding,(45px, 0));
		h1, h2 {
			@include rem-px(font-size,(26px));
			@include rem-px(line-height,(32px));
			@include rem-px(margin,(16px, 5%, 0));
		}
	}
}