//------------------------------------------------------
// Seperator
//------------------------------------------------------

.separator{
	.left{
		float:left;
	}
	
	.right{
		float:right;
	}
	
	.center{
		margin:0 auto;
	}
	
	.arrowImage{
    	background: url("#{$filepath-CSSImages}/Arrow-Component.png") no-repeat;
    	background-position:center;
    	margin:0 auto;
    	@include rem-px (min-height,(15px));
    	width:100%;
	}
	    
	hr{
	    @include rem-px(height,(1px));
	    @include rem-px(border-width,(1px 0 0));
	    margin:0 auto;
	    width:100%;
	    border-style:solid;
	    
	    &.dashed {
			border-style:dashed;
		}
	}
}