//----------------------------------------------
//    SMS Form
//----------------------------------------------

.smsForm form {	

	&.greyShade{
		input[type="tel"], input[type="tel"]:focus {
			background: #f7f7f7;
			border: 3px solid #f7f7f7;
			color: $color-grey8;
		}		
		
		*::-webkit-input-placeholder {
		    color: $color-grey8;
		    opacity: 1;
		}

		*:-moz-placeholder {
		    color: $color-grey8;
		    opacity: 1;
		}

		*::-moz-placeholder {
		    color: $color-grey8;
		    opacity: 1;
		}

		*:-ms-input-placeholder {
		    color: $color-grey8;
		    opacity: 1;
		}
	}	
	
	input[type="tel"], input[type="tel"]:focus {
	    background: $color-grey13;
	    border: 3px solid $color-grey13;
	    color: $color-black;
	    @include rem-px(font-size,(22px));
	    height: 60px;
			&.text-error {
				border: 3px solid $color-red;
			}
	}
	
	.registerFormContainer{
		.row{
			width:100%;
		}
	}
	ul {
	    list-style-type: none;
	}
	*::-moz-placeholder {
	    color: $color-white;
	    opacity: 1;
	}
	*:focus::-moz-placeholder {
	    opacity: 0.4;
	}
	*::-webkit-input-placeholder {
	    color: $color-white;
	    opacity: 1;
	}
	*:focus::-webkit-input-placeholder {
	    opacity: 0.4;
	}
	*:-moz-placeholder {
	    color: $color-placeholder;
	    opacity: 1;
	}
	form *:focus:-moz-placeholder {
	    opacity: 0.3;
	}
	*:-ms-input-placeholder {
	    color: $color-placeholder;
	    opacity: 1;
	}
	*:focus:-ms-input-placeholder {
	    opacity: 0.3;
	}
	input[type="submit"] {
	    background: $color-green;
	    color: $color-white;
	    @include rem-px(font-size,(22px));
	    margin: 5px 0;
	    width: 100%;
	    height: 60px;
	    border: 0;
  		
	    &.disabled {
			background: url("#{$filepath-CSSImages}/loading.gif") no-repeat 50% 50% $color-green;
			text-indent: -9999px;
			cursor: wait;
		}
	}
	.error {
		background: $color-red;
		color: $color-white;
		font-family: $font-GlobalFamilyTertiary !important;
		@include rem-px(font-size,(14px));
		margin-bottom: 10px;
		padding: 15px 10px 15px 10px;
		position: relative;
		text-align: left; 
	}
	.error:before {
		color: $color-yellow;
		padding: 0 10px 0 2px;
		@include rem-px(font-size,(15px));
		position: static;
	}
	.error span.bottom-arrow, .error:after {
		border: solid transparent;
		border-top-color: $color-red;
		border-width: 9px;
		content: " ";
		height: 0;
		left: 50%;
		top: 100%;
		margin-left: -10px;
		position: absolute;
		pointer-events: none;
		width: 0;
	}
	.success {
		background: $color-white;
		border: 3px solid $color-green;
		color: $color-black;
		&.icon-Check:before {
			content: "\e607";
			color: $color-green;
		}
		&:after {
			border-top-color: $color-white;
		}
		span.bottom-arrow {
			border-top-color: $color-green;
			border-width: 13px;
			margin-left: -13px;
		}
	}
	.icon-Warning:before {
		font-family: $font-GlobalIcons !important;
	}
}