//------------------------------------------------------
// Support Search Form
//------------------------------------------------------

.support-search-form {
	.form-box {
		@include clearfix();
	}

	.form-row {
		display: block;
		float: left;
	}

	input[name="search"] {
		background: $color-grey9;
		border:none;
		color: $nav-bg;
		@include rem-px(height,(45px));
		@include rem-px(width,(225px));
	}

	.custom-form-button-container {
		display: block;
		float: left;
		position: relative;

		.button {
			background: $link-color-default;
			border: none;
			color: $color-white;
			text-indent: -9999em;
			@include rem-px(height,(45px));
			@include rem-px(width,(45px));
		}

		&:after {
			content: "\e628";
			color: $color-white;
			display: block;
			font-family: $font-GlobalIcons;
			@include rem-px(font-size,(20px));
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 13px;
			transform: inherit;
			text-align: center;
			pointer-events: none;
		}
	}

}

@media #{$medium-up} {
	.support-search-form {
		input[name="search"] {
			@include rem-px(width,(345px));
		}
	}
}

@media #{$large-up} {
	.support-search-form {
		input[name="search"] {
			@include rem-px(width,(345px));
		}
	}
}