//------------------------------------------------------
	// Support Request Form
	//------------------------------------------------------
	
	.supportForm{
	 
			form{
			margin-left: 84px;
			padding-top: 82px;
				
				*::-webkit-input-placeholder {
				    color: $color-white;
				    opacity: 1;
				}

				*:-moz-placeholder {
				    color: $color-white;
				    opacity: 1;
				}
		
				*::-moz-placeholder {
				    color: $color-white;
				    opacity: 1;
				}
		
				*:-ms-input-placeholder {
				    color: $color-white;
				    opacity: 1;
				}
				
				.heading{
					color: $color-grey14;
					@include rem-px(font-size,(40px));
					@include rem-px(line-height,(36px));
					margin-bottom: 10px;
					padding: 0;
				}
				.subHeading{
					color: $color-grey8;
					@include rem-px(font-size,(14px));
					@include rem-px(line-height,(28px));
					padding: 0;
				    margin-bottom: 22px;
				    margin-top: 15px;
				}
				 
				label{
					color:$color-green2;
					@include rem-px(font-size,(22px));
					@include rem-px(line-height,(30px));
					margin-bottom: 14px;
					
					&:first-of-type {
						margin-top: 20px;
					}
				}
			 			 
				input[type="text"],input[type="email"]{
					-moz-box-sizing: border-box;
					background-color: $color-grey13;
					border: none;
					border-radius:0;
					color: $color-white;
					display: block;
					outline : none;
					text-align: left;
					padding: 10px 0 0 16px;
					height: 60px;
					width: 378px;
					@include rem-px(font-size,(22px));
					@include rem-px(line-height,(17px));
					margin-top: 10px;
					margin-bottom: 26px;
				}				 
				 
				input[type="radio"]{
					-moz-box-sizing: border-box;				 
					@include rem-px(font-size,(14px));
					@include rem-px(line-height,(20px));
					margin-top: 20px;
					margin-bottom: 15px;
					color: $color-grey8;
				}
				
				.link-section{
					border:1px solid $color-yellow; 
					background-color:$color-light-yellow;
					display:none;
					@include rem-px(font-size,(14px));
					@include rem-px(line-height,(20px));
					min-height: 101px;
					margin-left: 15px;
					overflow:hidden;
					padding-left: 16px;
					padding-top: 9px;
					padding-bottom: 9px; 
					width: 418px;
					
					p{
						color: $color-grey12;
						@include rem-px(line-height,(18px));

					}
					
					a{
						color: #969696;
						@include rem-px(line-height,(22px));
						text-decoration: underline;
					}
				}
				 
				.radioOption{
					color: $color-grey8;
				}
				
				.radioGroup{
					padding-bottom: 33px;
					padding-top: 10px;
				}
				 			 
				.section-heading{
					color: $color-green2;
					@include rem-px(font-size,(22px));
					@include rem-px(line-height,(30px));
					margin-bottom: 14px;
				}
				 
				textArea{
					background-color:$color-grey13;
					border:none;
					color:$color-white;
					font-size:22px;
					height: 96px;
					margin-top: 10px;
					margin-bottom: 38px;
					outline : none;
					padding:10px 0 0 16px;
					width: 426px;
				}
				 
				input[type="file"]{
					background-color:#97c648;
					border:none;
					color:$color-white;
					@include rem-px(font-size,(18px));
					height: 42px;
					margin-bottom: 81px;
					margin-top: 6px;
					outline : none;
					transition: none;
					width: 228px;
				 
					&:hover{
						cursor:pointer;
					}
				}
				 
				.submitButton{
					background-color: $color-green3;
					border:none;
					color:$color-white;
					@include rem-px(font-size,(18px));
					height: 42px;
					margin-bottom: 81px;
					margin-top: 63px;
					outline : none;
					transition: none;
					width: 228px;
				}
				 
				.err{
					color: #FF0000;
					@include rem-px(font-size,(14px));
					@include rem-px(line-height,(30px));
				}
				 
				#formErrorMsg{
					color: #FF0000;
					@include rem-px(font-size,(14px));
					@include rem-px(line-height,(30px));
					display:none;
				}
			 
			 	.formField{
					margin-top: 24px;
					outline:none;
					text-align:left;
					
					label{
					color: $color-green2;
					@include rem-px(font-size,(22px));
					@include rem-px(line-height,(30px));
						
						&.fileLabel{
							display:block;
						}
						
					}
					
					.preupload{
						color: $color-grey12;
						text-align:center;
						width: 247px;
						
						&:hide{
							display:none;
						}
						
						&.show{
							display: block ! important;
						}
						.nofile{
							@include rem-px(font-size,(17px));
							font-weight:bold;	
							@include rem-px(line-height,(25px));	
							margin-top: 8px
						}
						
						.formats{
							@include rem-px(font-size,(14px));	
							@include rem-px(line-height,(21px));
						}
						
					}
					
					.postUpload{
						color: $color-grey12;
						display:none;
						text-align:center;
						@include rem-px(font-size,(17px));
						width: 300px;
						
						&.show{
							display: block ! important;
						}
						
						&:hide{
							display:none;
						}
					}
					
					.fileErrorMessage{
						color: $color-red;
						display:none;
						padding:0;
						
						&:hide{
							display:none;
						}
						
						&.show{
							display: block ! important;
						}
						
						&.alignment{
							display:inline-block !important;
						}
					}
					.fileButtonWrapper{
						text-align:center;
						width: 247px;
						
						.fileButton{
							background-color:#f0f0f1;
							border:1px #b1b1b1 solid;
							color: $color-grey12;
							border-radius: 4px;
							height: 31px;
							@include rem-px(line-height,(27px));
							margin-top: 17px;
							margin-bottom: 7px;
							outline:none;
							transition:none;
							width: 171px;	
							background: rgb(253,253,253);
							background: -moz-linear-gradient(top,  rgb(253,253,253) 0%, rgb(250,250,250) 5%, rgb(240,240,241) 45%, rgb(238,238,239) 46%, rgb(225,225,227) 99%, rgb(200,200,201) 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(253,253,253)), color-stop(5%,rgb(250,250,250)), color-stop(45%,rgb(240,240,241)), color-stop(46%,rgb(238,238,239)), color-stop(99%,rgb(225,225,227)), color-stop(100%,rgb(200,200,201)));
							background: -webkit-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%); 
							background: -o-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%); 
							background: -ms-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%);
							background: linear-gradient(to bottom,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#c8c8c9',GradientType=0 );
						}
					}
					.upload{
						display:none;
					}
					
					.buttonWrapper{
					 	.supportButton{
							background-color:#97c648;
							border:none;
							color: $color-white;
							@include rem-px(font-size,(18px));
							height: 42px;
							margin-bottom: 81px;
							margin-top: 6px;
							outline : none;
							transition: none;
							width: 228px;
							
							&:hover{
								cursor:pointer;
							}
						}
					}
					
				}		 
			}
	}
	
@media #{$small-only} {
	
.supportForm{
	 
	form{
		margin-left: 0px;
		padding-top: 40px;
		
		text-align:center;
		margin:auto;
				
			*::-webkit-input-placeholder {
			    color: $color-white;
			    opacity: 1;
			}

			*:-moz-placeholder {
			    color: $color-white;
			    opacity: 1;
			}
	
			*::-moz-placeholder {
			    color: $color-white;
			    opacity: 1;
			}
	
			*:-ms-input-placeholder {
			    color: $color-white;
			    opacity: 1;
			}
				
			.heading{
				color: $color-grey14;
				@include rem-px(font-size,(26px));
				@include rem-px(line-height,(18px));
				padding: 0;
				margin: 0;
				padding-top: 5px;
			}
			.subHeading{
				color: $color-grey8;
				@include rem-px(font-size,(14px));
				@include rem-px(line-height,(20px));
				padding: 0;
				margin-bottom: 20px;
				margin-top: 11px;
			}
					
			label{
				color:$color-green2;
				@include rem-px(font-size,(20px));
				@include rem-px(line-height,(26px));
				margin-bottom: 14px;
				
				&:first-of-type {
					margin-top: 9px;
				}
			}	
			 
			input[type="text"],input[type="email"]{
				-moz-box-sizing: border-box;
				background-color: $color-grey13;
				border: none;
				border-radius:0;
				color: $color-white;
				display: block;
				outline : none;
				text-align: left;
				margin: auto;
				padding-left: 10px 0 0 16px;
				height: 60px;
				width: 317px;
				@include rem-px(font-size,(22px));
				@include rem-px(line-height,(17px));
				margin-top: 15px;
				margin-bottom: 32px;
			}
			
			input[type="radio"]{
				-moz-box-sizing: border-box;			 
				@include rem-px(font-size,(12px));
				@include rem-px(line-height,(14px));
				margin-top: 20px;
				margin-bottom: 11px;
				color: $color-grey8;			
				
				&:first-of-type{
					margin-top: 26px;
					margin-bottom: 11px;
				}
			}
						 
			.link-section{
				border: 1px solid $color-yellow; 
				background-color: $color-light-yellow;
				display: none;
				margin-left: auto;
				margin-right: auto;
				text-align: left;
				@include rem-px(font-size,(12px));
				@include rem-px(line-height,(14px));
				min-height: 101px;
				overflow: hidden;
				padding-left: 16px;
				padding-top: 9px;
				padding-bottom: 9px; 
				width: 250px;
			}
			 
			.radioOption{
				color: $color-grey8;
				width: 300px;
				text-align: left;
				margin-left: auto;
				margin-right: auto;
			}
		 
			.section-heading{
				color: $color-green2;
				@include rem-px(font-size,(22px));
				@include rem-px(line-height,(30px));
				margin-bottom: 14px;
			}
			 
			textArea{
				background-color: $color-grey13;
				border: none;
				color: $color-white;
				height: 96px;
				margin: 11px auto 37px auto;	
				outline : none;
				padding:10px 0 0 16px;
				width: 320px;
			}
			 
			input[type="file"]{
				background-color: #97c648;
				border: none;
				color: $color-white;
				@include rem-px(font-size,(18px));
				height: 42px;
				margin-bottom: 81px;
				margin-top: 6px;
				outline: none;
				transition: none;
				width: 228px;
			 
				&:hover{
					cursor:pointer;
				}
			}
			 
			.submitButton{
				background-color: $color-green3;
				border: none;
				color:$color-white;
				@include rem-px(font-size,(16px));
				height: 41px;
				margin-bottom: 37px;
				margin-top: 50px;
				outline: none;
				transition: none;
				width: 320px;
			}
			 
			.err{
				color: #FF0000;
				@include rem-px(font-size,(14px));
				@include rem-px(line-height,(30px));
			}
			 
			#formErrorMsg{
				color: #FF0000;
				@include rem-px(font-size,(14px));
				@include rem-px(line-height,(30px));
				display: none;
			}
		 
		 	.formField{
				margin-top: 31px;
				outline: none;
				text-align: left;
				margin: auto;
				
				label{
				color: $color-green2;
				@include rem-px(font-size,(22px));
				@include rem-px(line-height,(30px));
					
					&.fileLabel{
						display: block;
					}
				}
				
				.preupload{
					color: $color-grey12;
					text-align: center;
					margin: auto;
					width: 247px;
					
					&:hide{
						display:none;
					}
					
					&.show{
						display: block ! important;
					}
					.nofile{
						@include rem-px(font-size,(17px));
						font-weight: bold;	
						@include rem-px(line-height,(25px));	
						margin-top: 8px
					}
					
					.formats{
						@include rem-px(font-size,(14px));	
						@include rem-px(line-height,(21px));
					}
					
				}
				
				.postUpload{
					color: $color-grey12;
					display: none;
					text-align: center;
					@include rem-px(font-size,(17px));
					width: 300px;
					
					&.show{
						display: block ! important;
					}
					
					&:hide{
						display: none;
					}
				}
				
				.fileErrorMessage{
					color: $color-red;
					display: none;
					padding: 0;
					
					&:hide{
						display: none;
					}
					
					&.show{
						display: block ! important;
					}
					
					&.alignment{
						display: inline-block !important;
					}
				}
				.fileButtonWrapper{
					text-align: center;
					margin: 0 auto;
					width: 247px;
					
					.fileButton{
						background-color: #f0f0f1;
						border: 1px #b1b1b1 solid;
						color: $color-grey12;
						border-radius: 4px;
						height: 31px;
						@include rem-px(line-height,(27px));
						margin-top: 17px;
						margin-bottom: 7px;
						outline: none;
						transition: none;
						width: 171px;	
						background: rgb(253,253,253);
						background: -moz-linear-gradient(top,  rgb(253,253,253) 0%, rgb(250,250,250) 5%, rgb(240,240,241) 45%, rgb(238,238,239) 46%, rgb(225,225,227) 99%, rgb(200,200,201) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(253,253,253)), color-stop(5%,rgb(250,250,250)), color-stop(45%,rgb(240,240,241)), color-stop(46%,rgb(238,238,239)), color-stop(99%,rgb(225,225,227)), color-stop(100%,rgb(200,200,201)));
						background: -webkit-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%); 
						background: -o-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%); 
						background: -ms-linear-gradient(top,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%);
						background: linear-gradient(to bottom,  rgb(253,253,253) 0%,rgb(250,250,250) 5%,rgb(240,240,241) 45%,rgb(238,238,239) 46%,rgb(225,225,227) 99%,rgb(200,200,201) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#c8c8c9',GradientType=0 );
					}
				}
				.upload{
					display: none;
				}
				
				.buttonWrapper{
				 	.supportButton{
						background-color: #97c648;
						border: none;
						color: $color-white;
						@include rem-px(font-size,(18px));
						height: 42px;
						margin-bottom: 81px;
						margin-top: 6px;
						outline: none;
						transition: none;
						width: 228px;
						
						&:hover{
							cursor:pointer;
						}
					}
				}
				
			}		 
		}
	}
}