//------------------------------------------------------
// VDR Form
//------------------------------------------------------

.vdr-form {	
		color: $color-white;
		margin: 35px auto 0px auto;
		position: relative;
		.form-mask {
			background: url(#{$filepath-CSSImages}/loading.gif) no-repeat center center rgba(0, 0, 0, 0.5);
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1; 
		}
		ul, ul li {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
		}
		ul li {
			width: 100%;
		}
		h2 {
			@include rem-px(font-size,(22px));
			letter-spacing: normal;
			margin: 0 auto !important;
			@include rem-px(padding-bottom,(5px));
			text-align: center;
			width: 95%;
		}
		form {
			input[type="text"], input[type="text"]:focus, input[type="password"] {
				background: $color-white;
				border: 3px solid $color-white;
				box-shadow: none;
				color: #a6aeba;
				@include rem-px(font-size,(15px));
				@include rem-px(height,(60px));
				@include rem-px(margin-bottom,(3px));
				@include rem-px(padding,(0 0 0 15px));								font-weight: bold;
				text-align: left;
			}
			select {
				background: $color-white;
				box-shadow: none;
				color: #a6aeba;
				@include rem-px(font-size,(15px));
				@include rem-px(height,(60px));
				@include rem-px(margin-bottom,(3px));
				@include rem-px(text-indent,(10px));				font-weight: bold;
				border: 2px solid $color-white;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0;
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
			}
			input[type="submit"].disabled {
				background: $color-green3 url("#{$filepath-CSSImages}/loading.gif") no-repeat 50% 50%;
				text-indent: -9999px;
				cursor: wait;
			}			
			.selectbox {
				position: relative;
			}
			.selectbox::after {
				color: #a6aeba;
				content: "\e669";
				font-family: $font-GlobalIcons;
				font-size: 10px;
				height: 3.75rem;
				width: 3.75rem;
				padding: 0 0 2px;
				pointer-events: none;
				position: absolute;
				right: 0px;
				top: 0px;
				padding: 1px 4px;
				line-height: 60px; // IE bug prevents use of rem
				background: $color-white;
				box-sizing: border-box;
				text-align: center;
			}
			label[class^="icon-"]:before {
				@include rem-px(font-size,(16px));
				left: 10px;
				position: absolute;
				top: 23px;
			}
			input.invalid {
				border: 3px solid $color-red;
			}
			*::-moz-placeholder {
				opacity: 1;
			}
			*:focus::-moz-placeholder {
				opacity: 0.4;
			}
			*::-webkit-input-placeholder {
				opacity: 1;
			}
			*:focus::-webkit-input-placeholder {
				opacity: 0.4;
			}
			*:-moz-placeholder {
				opacity: 1;
			}
			*:focus:-moz-placeholder {
				opacity: 0.3;
			}
			*:-ms-input-placeholder {
				opacity: 1;
			}
			*:focus:-ms-input-placeholder {
				opacity: 0.3;
			}
			input.error {
				border: 3px solid $color-red !important;
				font-weight: normal;
			}

			.textfield:first-child {
				float: left;
				width: 50%;
			}
			.textfield:nth-child(2) {
				float: left;
				width: 50%;
				@include rem-px(padding-left,(3px));
			}
			.textfield:nth-child(3) {
				@include clearfix();
			}
		}

		.button {
			background: $color-green3;
			border: 0;
			color: $color-white;
			display: block;
			float: left;						font-weight: bold;
			@include rem-px(font-size,(22px));
			@include rem-px(line-height,(48px));
			text-align: center;
			width: 100%;
		}
		.err {
			display: none;
		}
		#formErrorMsg {
			background: $color-red;
			color: $color-white;
			display: none;
			@include rem-px(font-size,(14px));
			@include rem-px(margin-bottom,(10px));
			padding: 1.375rem 0.625rem;
			position: absolute;
			text-align: center;
			top: -75px;
			width: 100%;

			.icon-Warning {
				color: $color-yellow;
				margin-right: 8px;
			}
			p {
				color: $color-white;
				font-family: $font-GlobalFamilyTertiary;
			}
		 	&:after {
				border-color: $color-red transparent transparent;
				border-image: none;
				border-right: 9px solid transparent;
				border-style: solid;
				border-width: 9px;
				content: " ";
				height: 0;
				left: 50%;
				margin-bottom: -0.625rem;
				pointer-events: none;
				position: absolute;
				top: 100%;
				width: 0;
			}
		}
	
}
@media #{$small-only} {
	.vdr-form {
		margin: 25px auto;
		form input[type="text"], form input[type="text"]:focus, form input[type="password"] {
			@include rem-px(font-size,(18px));
			@include rem-px(height,(48px));
		}
	}
}