.search-refinements-container {
	&.row {
		max-width: 97%;
	}
	select {
		background: #edeef0;
		border: 1px solid #e4e4e4;
		color: #8894a4;
		font-weight: bold;
		margin-right: 10px;
	}	
}

.eventResourceList .resourcesFeature-container {
	background-color: #f3f3f3;
	padding: 0 20px 20px 20px;
	&.row {
		max-width: 97%;
	}
	.heading {
		color: #888;
		font-weight: bold;
		@include rem-px(font-size,(12px));
		padding: 40px 0;
		& > .columns:first-of-type {
			@include rem-px(font-size,(20px));
			padding-left: 0;
			text-align: left;
		}
		& > .columns {
			text-align: center;
		}
	}
	.events {
		background-color: #fff;
		display: table;
		width: 100%;
		& > div {
			border: 1px solid #eee;
			color: #707f91;
			display: table-cell;
			@include rem-px(font-size,(12px));
			padding: 15px 10px;
			text-align: center;
			vertical-align: middle;
		}
		& > div:first-of-type {
			text-align: left;
			a {
				font-weight: bold;
			}
		}
		& > div:nth-child(2n) {
			background-color: #f8f8f8;
		}
		&.hide {
			display: none !important;
		}
	}
	.more-list {
		padding: 20px 0;
		a {
			font-weight: bold;
			&:after{
				color: $color-green;
				content: "\e61e";
				font-family: $font-GlobalIcons;
				@include rem-px(font-size,(9px));
				@include rem-px(padding-left,(9px));
			}
		}
	}
}

@media #{$small-only} {
	.resourcesFeature-container {
		.events {
			margin-bottom: 20px;
			& > div {
				display: block !important;
				text-align: left !important;
			}
		}
	}
}