.resourcesFeature-container{
	.resourcesFeature-list{
		width:100%;
		@include clearfix();
		li{
			float:left;
			margin: 0 15px 15px 0;
			opacity: 0.9;
			width: 385px;
		}
	}
	
	.pagination{
		@include rem-px(font-size,(20px));
		margin: 20px auto;
		@include clearfix();
		span {
			color: $color-resource-pagination-inactive;
		}
		.pagination-wrapper {
			float: left;
		    text-align: center;
		    width: 95%;
		}
		li{
			color:$color-resource-pagination-active;
			display: inline-block;
			&.dots {
				span {
					display: inline-block;
				    margin-top: -20px;
				    vertical-align: middle;
				}
			}
		}
		.icon-LeftArrow, .icon-RightArrow2{
			background: none;
			float: left;
		}
		.icon-RightArrow2{
			display: inline-block;
			float: right;
		}
		.active{
			a{
				border: 5px solid $color-resource-pagination-a;
				border-radius: 50%;
				background:$color-resource-pagination-active;
			}
		}
		a{
			border-radius: 50%;
			background:$color-resource-pagination-a;
			display: inline-block;
			height: 20px;
			width: 20px;

			&.margin-right{margin-right:22%;}
		}
	}
	.mobile{
		display:none;
	}
	.resource-list-no-results {
		font-family: Arial, sans-serif;
		@include rem-px(font-size,(22px));
		text-align: center;
		padding: 30px 0;
		color: $color-resource-no-results;
	}
	resources-feature-description {
		color: $color-resource-pagination-active;
		@include rem-px(font-size,(16px));
		@include rem-px(line-height,(23px));
	}
}

.resourcesFeature{
	width:100%;
	border:solid 1px $color-resource-tile-border;
	box-shadow: 0 0 3px 0 $color-resource-tile-border;
	background: $color-resource-tile-bg;
	@include clearfix();
	position:relative;
	height:480px;
	
	.icon-Favorite-a, .icon-Favorite-b {
		color: $color-resource-fav-a;
		@include rem-px(font-size,(50px));
		position: absolute;
		top: -2px;
		left: -2px;
		z-index: 1;
	}
	.icon-Favorite-b {
		color: $color-resource-fav-b;
		@include rem-px(font-size,(35px));
		left: 3px;
		text-shadow: -1px 0 #6faf46, 0 1px #6faf46, 1px 0 #6faf46, 0 -1px #6faf46;
		top: 2px;
	}
	
	.featured-image{
		position:relative;
		.notch {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 0;
			border-bottom: 80px solid $color-resource-notch;
			border-left: 80px solid transparent;
		}
		.icon-Play, .icon-PDF-a, .icon-PDF-b, .icon-PDF-c, .icon-PDF-a, .icon-PPT-c {
			bottom: 8px;
			right: 8px;
		}
		.icon-PDF-c, .icon-PPT-c {
			left: auto;
			right: 9px;
		}
	}
	h2{
		color: $color-resource-tile-h2;
		@include rem-px(font-size,(14px));
		font-weight: normal;
		letter-spacing:0;
		margin:0;
		text-transform:uppercase;

	}
	h3{
		color: $color-resource-tile-h3;
		@include rem-px(font-size,(21px));
		font-weight:bold;
		margin:0;
		padding: 10px 0 0;
		@include rem-px(line-height,(26px));
		&:hover{
			color: $color-resource-tile-h3;
		}
	}
	p{
		color: $color-resource-tile-p;
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(23px));
		margin: 5px 0;
	}
	.content-description{
		padding: 17px 20px 0;
	}
    .resource-date {
      text-transform: none;
      margin-left: 10px;
    }
}

@media #{$medium-only} {
	.resourcesFeature-container{
		.pagination{
			@include rem-px(font-size,(32px));
			a{
				height: 32px;
				width: 32px;
			}
			.active{
				a {
					border: 4px solid $color-resource-pagination-a;
				}
			}
			.pagination-wrapper {
				margin: 0 auto;
				width: 80%;
			}
			li {
				&.dots {
					span {
					    margin-top: -44px;
					}
				}
			}
		}
		.mobile{
			display:none;
		}
		.resourcesFeature-list{
			li{
				margin: 0 2% 15px 2%;
				opacity: 0.9;
				width: 46%;
			}
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .resourcesFeature-container {
		.pagination {
			.next {
				font-weight:bold;
				@include rem-px(line-height,(24px));
				height: 32px;
				vertical-align: baseline;
				span{
					top: 7px;
				}
			}
		}
	}
}

@media #{$small-only} {
	.resourcesFeature-container {
		.pagination{ 
			display:none; 
		}
		.mobile {
			display:block;
		}
		.load-more {
			background:$color-resource-pagination-active;
			color:$color-white;
			padding:25px 10px;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
			width:250px;
			font-family: Arial;
			@include rem-px(font-size,(18px));
			font-weight:bold;
			text-align:center;
			margin:35px auto;
			&.hide{
				display:none;
			}
		}
		.resourcesFeature-list{
			li{
				width: 100%;
			}
		}
	}
}