//---------------------------------------------
// Resource Page Templates Global Styles
//---------------------------------------------

.resourcePage {
    .rowC {
    	.columns {
	        padding-left: 0;
	        padding-right: 0;
	    }
	    &.content {
	    	margin: 30px 0;
	    }
    } 
	.read-article {
		clear: both;
		display: block;
		&:after {
			content: "\e61e";
			font-family: $font-GlobalIcons;
			@include rem-px(font-size,(9px));
			padding-left: 10px;
		}
	}
	#onlyDetail{
    	display: none; 
    }
}

.detail {
	#onlyDetail{
    	display: block;
    }
    .mainContent {
    	margin: 14px 20px 42px 0;
    }
    .pdfhtml {
    	margin: 14px 0 0;
    }
    .filter {
    	display: none !important;
    }
}

@media #{$large-up} {
	.resourcePage {
		.resourceHeader {
			padding-top: 60px;
			.first {
				margin-top: 20px;
			}
		}
	}
}

@media #{$medium-only} {
	.detail {
		.mainContent {
			margin: 14px 0;
		}
	}
}

@media #{$small-only} {
	.detail {
		.mainContent {
			margin: 30px 0;
		}
	}
}