$searchRefinementWidth: 253px;
$searchRefinementWidthTablet: 47%;
$searchRefinementWidthMobie: 100%;

.searchRefinements {
	background-color:$color-search-refinements-bg;
	@include clearfix();
	.drop-down-container {
		color: $color-search-refinements-box-text;
		float:left;
		@include rem-px(font-size,(13px));
		margin-right:16px;
		width:$searchRefinementWidth;
		.last{
			margin-right:0;
		}
		.drop-down-header-text {
			font-weight: bold;
		}
	}

	.filter {
		background: $color-white;
		box-shadow: 0 0 0 1px;
		margin-top: 4px;
		padding:0 10px;
		position:relative;
	}

	.drop-down-li {
		-webkit-overflow-scrolling: touch;
		background: $color-white;
		box-shadow: 0 1px 0 1px;
		display:none;
		position:absolute;
		top:35px;
		left:0;
		max-height: 249px;
		overflow-y: auto;
		width:100%;
		z-index:1;
		li{
			padding:0 10px;
			&:hover{
				background:$color-search-refinements-dropdown-hover;
			}
		}
	}

	a {
		color:$color-search-refinements-link;
		display: inline-block;
		width:100%;
		padding:10px 0;
	}
	
	a:focus {
		outline: none;
	}

	.icon-DownArrow2 {
		position:absolute;
		right:10px;
		top: 13px;
	}

	.resource-list-no-results {
		color: $color-resource-no-results;
	    font-family: Arial, sans-serif;
	    @include rem-px(font-size,(22px));
	    text-align: center;
	    height: 130px;
	    vertical-align: middle;
	    padding-top: 50px;
	}

	ul {
		padding:20px 0;
	}

	ul:last-child {
		padding-bottom:0px;
	}
}

//Tablet breakpoint
@media #{$medium-only} {
	.searchRefinements{
		.drop-down-container{
			width:$searchRefinementWidthTablet;
		}
	}
}

//Mobile breakpoint
@media #{$small-only} {
	.searchRefinements{
		padding: 0;
		.drop-down-container{
			width:$searchRefinementWidthMobie;
		}
		.filter{
			margin-bottom:9px;
		}

		.searchRefinements-header {
			background-color: $color-search-refinements-header;
			padding: 10px 0;

			.arrow-right {
				border-style: solid;
				border-width: 5px 0 5px 10px;
				border-color: transparent transparent transparent $color-search-refinements-arrow;
				display:inline-block;
				width: 0px;
				height: 0px;
				vertical-align: inherit;
			}

			.arrow-down {
				border-style: solid;
				border-width: 8.7px 5px 0 5px;
				border-color: $color-search-refinements-arrow transparent transparent transparent;
				display:inline-block;
				height: 0px;
				vertical-align: inherit;
				width: 0px;
			}

			p {
				color: $color-search-refinements-p;
				display: inline-block;
				font-size: 16px;
				text-align: right;
				width: 92%;
			}
		}

		.searchRefinements-content {
			display: none;
			overflow: visible !important;
			padding: 10px;
		}

		.drop-down-li {
			height: auto;
			overflow: auto;
		}
		.search-refinements-container {
			padding: 0;
		}
	}
}
@media #{$medium-only} and (orientation: landscape) {
	.searchRefinements {
		.drop-down-container {
			width: $searchRefinementWidthTablet;
		}
    }
}