//------------------------------------------------
//	Global Body CSS
//------------------------------------------------

body {
	background: $default-bg-color;
	@include rem-px(font-size,(13px));
	font-family: $font-GlobalFamily;
	margin: 0;
	padding: 0;
}

object {
	outline: none;
}
	
a {
	color: $link-color-default;
	outline: none;
	text-decoration: $text-decoration-default;
		
	img {
		border: 0;
	}
		
	&:hover {
		text-decoration: $text-decoration-default;
	}
}
	
p,form,ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.clearBoth {
	clear: both;
}

.float-left {
	float: $float-default;
}

.float-right {
	float: right;
}

#noscriptMsg {
	background: $color-white;
}

#noscriptMsg .container {
	background: url(../images/noscript.png) no-repeat center top;
	@include rem-px(height,(44px));
	margin: 0 auto;
	@include rem-px(padding-bottom,(10px));
}

.mktgContainer {
    display: none;
}

.warning {
	background-color: $color-orange;
	color: $color-white;
	text-align: center;
	font-weight: bold;
}

.center {
	text-align: center;
}

.error {
	background-color: $color-red;
	color: $color-white;
	text-align: center;
	font-weight: bold;
}

.cq-page-placeholder {
	display: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -moz-box-sizing: border-box;
    background-color: $color-white;
    border: 1px solid $color-grey2;
    -webkit-appearance: none;
  	-webkit-border-radius: 0;
    border-radius: 0;
    color: $color-placeholder;
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
}

input[type="submit"] {
	-webkit-appearance: none;
  	-webkit-border-radius: 0;
    border-radius: 0;
}


select {
	background: #fafafa;
	border: 1px solid $color-grey2;
    border-radius: 0;
    margin: 0 0 1rem;
    padding: 8px;
}

.row {  
	&.full-width{
		width: 100%;
		max-width: 100%; 
		margin:0 auto;
	}
}

//----- Seperator Style (used in sidenav)-----

.separatorText {
	text-align: center;
}

.separatorText:after {
    left: 0.5em;
    margin-right: -50%;
}

.separatorText:before {
    margin-left: -50%;
    right: 0.5em;
}

.separatorText:before, .separatorText:after {
    background-color: #A7AFBB;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

//----- Fixig Chrome Issue -----
td img {
	max-width: none;
}	

//----- Fixig Addthis Issue -----

#at20mc { 
	display: none !important; 
}

//----- Google Tag Manager Fix ------

iframe[name="__bkframe"] {
	display: none;
}

img[src*="rs.gwallet"] { 
	position:absolute; 
}

//------pdf,ppt-----

.featured-image .icon-Play, .icon-PDF-a, .icon-PDF-b, .icon-PDF-c, .icon-PPT-c {
	color: $color-white;
	position: absolute;
	@include rem-px(font-size,(30px));
}
.icon-PDF-c, .icon-PPT-c {
	@include rem-px(font-size,(25px));
	left: 2px;
}
.featured-image .icon-PDF-a {
	position: absolute;
}
.icon-PDF-a {
	color: $color-resource-pdf;
	position: inherit;
}
.icon-PDF-a.ppt {
	color: $color-resource-ppt;
}

//three-ships

#threeShips {
	margin: 16px;
}

//misc. styles
h2.feature-text {
	font-weight: normal;
}