//--------------------------------
// Form Fields
//--------------------------------

.radios label,
.radios input[type="radio"] + span,
.radios input[type="radio"] + span:before,
.checkboxes label,
.checkboxes input[type="checkbox"] + span,
.checkboxes input[type="checkbox"] + span:before {
	display: inline-block;
	vertical-align: middle;
}

.radios,
.checkboxes {
	position: relative;
}

.radios label *,
.checkboxes label * {
	cursor: pointer;
}

.radios input[type="radio"],
.checkboxes input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}

.radios input[type="radio"] + span:before,
.checkboxes input[type="checkbox"] + span:before {
	background: #fff;
	border-radius: 100%;
	content: "";
	height: 15px;
	line-height: 100%;
	margin: 0 5px 0 0;
	text-align: center;
	width: 15px;
}

.radios input[type="radio"]:checked + span:before,
.checkboxes input[type="checkbox"]:checked + span:before {
	color: #989898;
}

.radios input[type="radio"]:disabled + span,
.checkboxes input[type="checkbox"]:disabled + span {
	cursor: default;
	opacity: .4;
	-moz-opacity: .4;
	-webkit-opacity: .4;
}

.checkboxes input[type="checkbox"] + span:before {
	border-radius: 0px;
}

.radios input[type="radio"]:checked + span:before {
	content: "\2022";
	font-size: 14px;
}

.checkboxes input[type="checkbox"]:checked + span:before {
	content: "\2714";
	font-size: 14px;
}

.selectBox select {
	appearance: none;
	background: $color-white;
	cursor: pointer;
	display: inline-block;
	outline: medium none;
	padding: 6px 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.selectBox label {
	display: block;
	position: relative;
	width: 100%;
}

.selectBox label:after {
	color: #a4a6a9;
	content: ">";
	font: bold 16px "Consolas",monospace;
	padding: 0 0 2px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 15%;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.selectBox label:before {
	background: #fafafa;
	content: "";
	display: block;
	height: 34px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 30px;
}