//-------------------------------------------------------------------------------
//    Lightbox
//-------------------------------------------------------------------------------

#lightbox-container {
	background: rgba(0,0,0,0.4);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.85);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 102;
	
	#lightbox-close {
		cursor: pointer;
		float: right;
		height: 22px;
		margin: -39px -27px 0 0;
		position: relative;
		text-align: center;
		width: 22px;
		z-index: 999;
		&:before {
			color: #8693A2;
			content: "\e63b";
			display: inline-block;
			font-family: $font-GlobalIcons;
			@include rem-px(font-size,(22px));
			line-height: 100%;
			@include rem-px(padding,(0));
		}
	}
	
	
	#lightbox-border {
		background-color: $color-white;
		margin: 7% auto 0;
		padding: 54px 37px 37px;
		width: 95%;
	}
	
	.supportFormWidth{
		width:600px !important;
	}
	
	.video-width-fix {
    box-sizing: content-box;
		-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
	}
}

//For Large Layouts
@media #{$large-up} {
	#lightbox-container {
		#lightbox-border.w370px {
			width: 370px;
		}
		
		#lightbox-border.w485px {
			width: 485px;
		}
		
		#lightbox-border.w550px {
			width: 550px;
		}
		
		#lightbox-border.w630px {
			width:630px;
		}
		
		#lightbox-border.w800px {
			width: 800px;
		}
		
		#lightbox-border.w950px {
			width: 950px;
		}
		
		#lightbox-border.w990px {
			width: 990px;
		}
		
		#lightbox-border.w1000px {
			width: 1000px;
		}
	}
		
	// Height Classes
	#lightbox-content.defaultHeight {
		height: auto;
	}
	
	#lightbox-content.h240px {
		max-height: 240px;
	}
	
	#lightbox-content.h360px {
		max-height: 360px;
		overflow-y: scroll;
	}
	
	#lightbox-content.h365px {
		max-height: 365px;
		overflow-y: scroll;
	}
	
	#lightbox-content.h670px {
		max-height: 670px;
		overflow-y: scroll;
	}
}

//For Small Layouts
@media #{$small-only} {
	#lightbox-container {
		background: rgba(147,147,147,1);
		#lightbox-border {
			margin: 0 auto;
			@include rem-px(padding,(73px 10px 10px));
			width: 100%;
		}
		.supportFormWidth{
			width:320px !important; 
			margin-top:60px !important;
			padding-bottom:25px !important
		}
		#lightbox-close {
			height: 44px; 
			@include rem-px(margin,(-68px 0 0));
			width: 44px; 
			&:before {
				@include rem-px(font-size,(44px));
			}
		}
		#lightbox-content {
			height: auto;
		}
	}
}

//For Medium Layouts
@media #{$medium-only} {
	#lightbox-container {
		#lightbox-border {
			width: 90%;
		}
			
		#lightbox-content {
			height: auto;
		}
	}
}

@media #{$medium-only} and (orientation: portrait) {
	#lightbox-container {
		#lightbox-border {
			width: 90% !important;
		}
	}
}