//-----------------------------
//    NavBar CSS
//-----------------------------
$util-default-color: #a6aeba;
$nav-height: 65px;

.utilityNavigation {
	color: $util-default-color;
	@include rem-px(font-size,(15px));

	.topNav {
	  	position: fixed;
	  	top: 0;
	  	width: 100%;
	  	z-index: 101;
		background-size: 100% 200%;
		background-color: $nav-bg;
		background-image: -o-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, $nav-bg), color-stop(50%, rgba(0,0,0,0)));
		background-image: -webkit-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: -moz-linear-gradient(50% 50% 90deg, $nav-bg, rgba(0,0,0,0));
		background-image: -ms-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: linear-gradient(to bottom, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-position: 0 100%;
		border-color: #434b58;
		border-style: solid;
		border-width: 0 0 1px;

	  	.logo {
	  		float: left;
	  		text-align: center;
	  		margin: 10px 0 2px 26px;
	  	}

	  	#menu {
	  		cursor: pointer;
	  		float: right;
	  		padding: 0 26px;
	  		
  			&:hover {
				color: $color-white;
			}
			.menu {
				@include rem-px(line-height,($nav-height));
				
				&:after {
					content: "\e619";
					@include rem-px(font-size,(16px));
					font-family: $font-GlobalIcons;
					@include rem-px(line-height,($nav-height));
					@include rem-px(margin-left,(10px));
					vertical-align: middle;
				}
			}
	  	}

		ul {
			list-style-type: none;
			
			li {
				margin: 0 1px;
				float: left;
				&.current a {
					color: $color-white;
				}
			}
			
			a {
				color: $util-default-color;
				cursor: $cursor-default;
				display: block;
				line-height:$nav-height;
				padding:0 25px;
				
				&:hover {
					color: $color-white;
				}
				&#signIn {
					background-color: #171a1e;
					&:hover {
						background-color: $color-grey14;
						border-style: solid;
						border-color: #9c3;
						border-width: 0 0 3px;
						height: $nav-height;
					}
				}
				&#phone:hover, &#chat:hover {
					color: $util-default-color;
				}	
			}
			
			span {
				@include rem-px(line-height,($nav-height));
				@include rem-px(margin-right,(10px));
				vertical-align: middle;
				
				&.phone:before, &.chat:before {
					font-family: icons;
					@include rem-px(line-height,($nav-height));
				}
				&.phone:before {
					content: "\e622";
				}
				&.chat:before {
					content: "\e633";
				}
			}
		}
		
		.link-group {
			float: right;
			&.rt {
				margin-right: 26px;
			}
		}
		.secondaryLinkSet {
			display: none;
			ul {
				a {
					line-height: $nav-height;
				}
				a:hover {
					border-style: solid;
					border-color: $color-green6;
					border-width: 0 0 3px;
					height: $nav-height+1;
				}
				a.current {
					border-color: $color-green6;
					border-style:solid;
					border-width:0 0 3px;
					color: $color-white;
					height: $nav-height+1;
				}
			}
			span.none {
				display: none;
			}
		}
	}

	.navBar {
		background: $nav-bg;
		background-position: 0 0;

		.sec-name {
			color: $color-white;
			@include rem-px(font-size,(20px));
			padding-top: 25px;
			text-align: center;
		}
	}

	.topNavTransition {
		-webkit-transition: background-position 0.5s;
		-moz-transition: background-position 0.5s;
		transition: background-position 0.5s;
	}
}

@media #{$medium-up} {
	.utilityNavigation {
		.topNav {
			.link-group-rt {
				margin-right: 26px;
			}
		}	
	}
	
}
@media #{$medium-only} {
	.utilityNavigation {
		.topNav {
			#menu {
				padding: 0 16px;
		  	}
		  	.secondaryLinkSet {
		  		ul a {
			  		padding: 0 10px;
			  	}
		  	}
		  	ul a {
		  		padding: 0 20px;
		  	}
		}
	}
}
@media #{$small-only} {
	.utilityNavigation {
		.topNav {
			.logo {
				margin: 16px 0 2px 16px;
		  	}
			#menu {
				color: $color-white;
				padding: 0 16px 0 0;
		  	}
			ul {
				a#phone,a#phone:hover {
					color: $color-white;
					@include rem-px(font-size,(24px));
					padding: 0 10px;
				}
			}
			.link-group {
				&.rt {
					margin-right: 16px;
				}
			}
		}
	}
}