//------------------------------------------------------
//    Slidebar Menu
//------------------------------------------------------
nav {
	height:100%;
}

#slidebar-container {
	background-color:rgba(0,0,0,0.8);
	display: none;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-decoration:none;
	top: 0;
	width: 100%;
	z-index: 8004;
}	

#close-wrapper{
	background-color:$nav-bg;
	height:53px;
}

#slidebar-menu {
	background-color: $color-footer;
	color: $color-grey;
	height: 100%;
	position: fixed;
	text-decoration:none;
	top: 0;
	width: 282px;
	z-index: 10000;
	
	.close {
		float:right;
		font-family:icons;
		@include rem-px(margin-bottom,(-22px));
		@include rem-px(margin-right,(23px));
		@include rem-px(margin-top,(23px));
		
		&:before {
			content: "\e63b";
		}
		&:hover{
			cursor:pointer;
		}
	}
	
	.icon-google{
		&:before{
			color:#586474;
			content: "\e617";
			@include rem-px(font-size,(20px));
			@include rem-px(line-height,(32px));
			vertical-align: middle;
		}
		
		&:hover{
			&:before{
				color:#c1272d;
			}
			
			&:after{
				color:#a8b0bc;
			}
		}
	}
	
	.icon-facebook{
		&:before{
			color:#586474;
			content: "\e612";
			@include rem-px(font-size,(20px));
			@include rem-px(line-height,(32px));
			vertical-align: middle;
		}
		
		&:hover{
			&:before{
				color:#459ad4;
			}
			
			&:after{
				color:#a8b0bc;
			}
		}
	}
	
		
	.icon-twitter{
		&:before{
			color:#586474;
			content: "\e636";
			@include rem-px(font-size,(19px));
			@include rem-px(margin-left,(-9px));
			@include rem-px(line-height,(32px));
			vertical-align: middle;
		}
		
		&:hover{	
			&:before{
				color:#6fcbdc;
			}	
			&:after{
				color:#a8b0bc;
			}
		}
	}
	
	span.icon-youtube-outer{
		position:relative;
	}
	
	.icon-youtube-outer{
		&:before{
			color:#586474;
			content: "\e63e";
			@include rem-px(font-size,(24px));
			@include rem-px(margin-left,(-7px));
			vertical-align: middle;
		}
		
		&:hover{	
			&:before{
				color:$color-white;
			}	
			&:after{
				color:#a8b0bc;
			}
			.icon-youtube-inner:before{
				color:#f00;
			}
			.icon-youtube-inner:after{
				color:$color-white;
			}	
		}
	}
	
	.icon-youtube-inner{
		&:before{
			color:#586474;
			content: "\e63f";
			@include rem-px(font-size,(13px));
			@include rem-px(top,(8px));
			@include rem-px(left,(-6px));
			position:absolute;
		}
		
		&:after{
			color:$color-footer;
			content: "\e63c";
			@include rem-px(font-size,(12px));
			@include rem-px(top,(9px));
			@include rem-px(left,(-7px));
			position:absolute;
		}
		
		&:hover{	
			&:before{
				color:#f09;
			}	
			&:after{
				color:#fff;
			}
		}
	}
}

ul.sharelist {
	display: inline-block;
	@include rem-px(margin-left,(18px));
	li {
		color:$navTabBgHover;
		cursor: pointer;
		display: inline-block;
		@include rem-px(margin-left,(29px));
		text-decoration:none;
	}
}

#slidebar-menu .mCSB_scrollTools{
	top: 43px !important;
}

#slidebar-content{
	height:100% !important;
}
