//-----------------------------
//    Unity NavBar CSS
//-----------------------------

$util-default-color: #a6aeba;
$util-secondary-line-height: 51px;

#body-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.unityNavigation {
	color: #bdc3cb;
	@include rem-px(font-size,(15px));
	
	&.topNavTransition {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.products {
		background: #2c323a;
		display: none;
		padding: 30px 35px;
		.close {
			cursor: pointer;
			float: right;
			&:before {
				content: $font-close;
				font-family: $font-GlobalIcons;
			}
		}
		
		& > p {
			@include rem-px(font-size,(27px));
			margin: 20px 0 56px;
			text-align: center;
		}
		
		.columns {
			padding-right: 28px;
			
			& > div {
				border-bottom: 1px solid #586474;
				color: #a1a9b5;
				@include rem-px(font-size,(16px));
				padding: 0 0 5px;
			}
			
			ul {
				padding-top: 30px;
			}
			
			li {
				margin-bottom: 26px;
				
				div {
					padding-left: 40px;
				}
				a {
					color: #fff !important;
					display: inline-block;
					font-family: $font-GlobalFamilySecondary;
					@include rem-px(font-size,(11px));
				}
				p {
					color: #838f9f;
					display: block;
					@include rem-px(font-size,(12px));
				}
				
				span {
					background-image: url(#{$filepath-CSSImages}/unity/logo-icon-sprite.png);
					background-repeat: no-repeat;
					float: left;
					height: 33px;
					width: 34px;
					&.sf {
						background-position: 0 -30px !important;
					}
					&.sc {
						background-position: -2px -62px !important;
					}
					&.rs {
						background-position: -2px -95px !important;
						& + div {
							padding-left: 44px;
						}
					}					
					&.po {
						background-position: -4px -130px !important;
						& + div {
							padding-left: 36px;
						}
					}
				}
			}
		}
	}
	
	.product-drawer-small {
		background: #fff;
		display: none;
	}
	.topNav {	  	
	  	header {
	  		background: #485164;
		  	ul li {
		  		&:hover {
					a {
						color: #fff;
					}
				}
				a {
					line-height: 65px;
				}
		  	}
	  	}
	  	
	  	.logo {
			float: left;
   			margin: 10px 0 2px 18px;
		}
	  	
	  	#menu {
	  		cursor: pointer;
	  		float: right;
	  		line-height: 65px;
	  		padding: 0 26px;
	  		
  			&:hover,&.active {
  				background: #2c323a;
  				border-bottom: 3px solid $unity-border;
				color: $color-white;
				height: 65px;
			}
			
			.menu:after, .menu-small:after {
				color: #6f7e8a;
				content: $font-menu-hamburger;
				@include rem-px(font-size,(16px));
				font-family: $font-GlobalIcons;
				@include rem-px(margin-left,(10px));
				vertical-align: middle;
			}
			
			.menu:after {
				content: $font-menu-bullets !important;
			}
			.menu:hover:after {
				color: $color-white;
			}
	  	}
		
		ul {
			list-style-type: none;
			
			li {
				float: left;
				
				&#signIn {
					background-color: #171a1e;
					&:hover {
						border-bottom: 3px solid $unity-border;
						height: 65px;
					}
					
					span {
						margin: 0;
					}
					a {
						padding: 0 18px;
					}
				}
			}
			
			span {
				
				&.phone:before, &.chat:before {
					font-family: $font-GlobalIcons;
					@include rem-px(line-height,40px);
				}
				
				&.phone:before {
					content: $font-phone;
				}
				
				&.chat:before {
					content: $font-chat;
				}
			}
			
			span:nth-of-type(1) {
				margin-right: 3px;
			}
		}
		
		ul li a, .more {
			color: $util-default-color;
			cursor: pointer;
			display: block;
			line-height: 42px;
			padding:0 38px;
		}
		
		ul li.more {
			a {
				display: inline;
				padding: 0;
			}
		}
		
		.more a:after, .less a:after, div.more:after {
			content: $font-up-arrow;
			float: right;
			font-family: $font-GlobalIcons;	
			@include rem-px(font-size,(16px));
			margin-left: 3px;
		}
		
		.less a:after, div.less:after {
			content: $font-down-arrow;
		}
		
		.link-group {
			float: right;
			&.rt {
				margin-right: 26px;
			}
		}
		
		.secondary-link-group {
			background: rgba(255, 255, 255, 0.8);
			border-bottom: 1px solid #c4c4c4;
			width: 100%;
			z-index: 1;
		}
		
		.iconSpotlight {
			[class^="icon-"]::before {
				@include rem-px(font-size,(28px));
				font-size: bold;
			}
			.iconSpotLightText a {
				color: #fff;
				font-family: $font-GlobalFamilySecondary;
				@include rem-px(font-size,(11px));
				text-transform: uppercase;
				
				&:hover {
					color: #707f8b;
				}
			} 
		}
		
		.secondaryLinkSet {
			ul {
				a, span {
					font-family: $font-GlobalFamilySecondary;
					@include rem-px(font-size,(12px));
				}
			}
		}
		
		.tertiaryNav {
			background: #000;
			clear: both;
			display: none;
			width: 100%;
		}
	}
}

// iphone 6 landscape
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
	.unityNavigation {
		.topNav {
			.iconSpotlight {
				[class^="icon-"]::before {
					margin-right: 4px;
				}
			}
		}
	}
}

@media #{$medium-up} {
	.unityNavigation {
		.topNav {
			.secondaryLinkSet ul li{
				float: left;

				&:hover , &:active, &.less {
					background: #fff;
					border-bottom: 3px solid #2c323a;
					height: $util-secondary-line-height;
				}
				&.active {
					border-bottom: 3px solid #2c323a;
					height: $util-secondary-line-height;
				}
			}
			ul {
				li {
					&#phone .phone, &#chat .chat {
						color: #6f7e8a;
					}
					&#phone:hover, &#chat:hover, &.single:hover {
						background: #3e454f;
						.phone, .chat {
							color: $color-white;
						}
					}
				}
			}
			.secondaryLinkSet {
				ul {
					a {
						color: #434b58;
						line-height: $util-secondary-line-height;
					}
				}
			}	
		}
		.product-drawer-small {
			display: none !important;
		}
		.iconSpotlight {
			[class^="icon-"]::before {
				margin-top: -5px;
			}
		}
	}
}

@media #{$small-only} {
	.unityNavigation {
		.topNav {
			position: relative;
			z-index: 9999;
			#menu {
				&.active {
					background: #fff;
					border-bottom: none;
					color: #434b58;
					.menu-small {
						&:after {
							content: $font-close;
							font-family: $font-GlobalIcons;
						}
						.open {
							display: none;
						}
					}
				}
				&:not(.active) {
					.close {
						display: none;
					}
				}
			}
			.secondary-link-group {
				display: none;
				.logo {
					width: 26px;
					height: 33px;
				}
			}
			header {
				ul{
					li.single, a.single {
						display: none;
					}
				}
				ul li#signIn a , #menu {
					padding: 0 15px;
				}
			}
			.logo {
				margin: 16px 0 2px 16px;
		  	}
			.tertiaryNav {
				color: #fff !important;
				.subColumnCtrl > :first-child > div {
					display: block !important;
					padding: 5px 35px;
					width: 100% !important;
					[class^="icon-"]::before, [class*=" icon-"]::before {
						width: 60px;
					}
					.iconSpotLightText {
						padding-top: 14px;
					}
				}	
			}
		}
		
		.product-drawer-small {
			ul {
				li {
					border-bottom: 1px solid #bdc3cb;
					width: 100%;
					&#signIn {
						display: none;
					}
				}
				
				li.single, a.single, span:nth-of-type(2) {
					display: inline-block;
				}
				
				span:nth-of-type(1) {
					color: inherit;
				}
			}
			
			ul li a , .more {
				color: #434b58 !important;
				font-family: $font-GlobalFamilySecondary;
				@include rem-px(font-size,(12px),!important);
			}

			.products {
				width: 100%;
				ul li {
					border-bottom: none;

					a {
						line-height: 20px;
						padding: 0;
					}
				}
				.columns {
					padding: 0;
					li span {
						margin-top: 2px;
					}
				}
			}
		}
	}
}

//small and medium
@media only screen and (max-width: 64em) {
	.unityNavigation {
		.topNav {
			header {
				ul {
					li.single{
						span:nth-of-type(1) {
							color: $util-default-color;
						}
					}
					span:nth-of-type(2) {
						display: none;
					}
					li {
						&#phone .phone, &#chat .chat {
							color: $color-white;
						}
					}
				}
				ul li a, .more {
					padding: 0 15px;
				}
				.active span {
					color: #000 !important;
				}
			}
			ul li a, .more {
				padding: 0 14px;
			}
			.iconSpotlight {
				[class^="icon-"]::before {
					@include rem-px(font-size,(24px));
				}
				.iconSpotLightText a {
					font-family: $font-GlobalFamily;
					@include rem-px(font-size,(9px));
				} 
			}
		}
		
		.products {
			.columns {
				& > div {
					@include rem-px(font-size,(12px));
				}
				li {
					p {
						font-family: $font-GlobalFamily;
						@include rem-px(font-size,(11px));
					}
				}
				.iconSpotlight {
					.iconSpotLightText a {
						font-family: $font-GlobalFamilySecondary;
						@include rem-px(font-size,(11px));
					} 
				}
			}	
		}
	}
}

//retina
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
	.unityNavigation {
		.products .columns li span {
			background-image: url(#{$filepath-CSSImages}/unity/logo-icon-sprite@2x.png);
			background-size: 83px 209px;
		}
	}	
}