.resourceDetail{
	@include rem-px(font-size,(14px));
	.detailContent {
		margin: 20px 0;
	}
	
	.feature-description,.author {
		color: $color-resource-feature-author;
		margin: 10px 0	
	}
	
	.featured-link {
		margin: 20px 0 30px; 		
		a {
			font-weight: bold;
			margin-left: 10px;
		}
		&.resource-webinar a {
			margin: 0;
		}
	}
	
	.feature-category{
		text-transform:uppercase;
	}
	
	.feature-title{
		margin: 0;
		@include rem-px(font-size,(38px));
		font-weight: normal;
		letter-spacing: 0;
		line-height: 50px;
	}
	
	.feature-type{
		color: $color-resource-feature-type;
		margin-bottom: 5px;
		text-transform:uppercase;
	}
	
	.relevant{
		margin: 0 0 28px 0;
		li{
			float:left;
			margin: 0 20px 15px 0;
		}
		.clearfix{
			clear:both; 
		}
		.resource-webinar{ 
			margin: 15px 0;
		}
	}
	
	.speaker{
		margin-top:30px;
		width: 300px;
		img{
			width:135px;
			height:135px;
			margin-bottom: 5px;
		}
	}
	
	.addthis_toolbox {
    	margin: 20px 0;
	}
}

@media #{$medium-up} {
	.resourceDetail{
		margin-right: 100px;
		
		object {
			height: 315px;
			width: 560px;
		}
    }
}

@media #{$medium-only} {
	.resourceDetail{
        object {
			width: 70%;
		}
	}
}

@media #{$small-only} {
	.resourceDetail{
		.addthis_toolbox {
          display: none;
        }
        object,iframe {
			height: 200px;
			width: 100%;
		}
	}
}