form#searchForm {
	position: relative;

	.autosearch-icon {
	  color: $color-search-icon;
	  cursor: pointer;
	  font-family: icons;
	  position: absolute;
	  right: 2px;
	  top: -2px;
	 
	  &:before {
	    content: "\e66d";
	    display: block;
	    @include rem-px(font-size,(15px));
	    margin: 14px 8px 0;
	  }
	}
	
	.suggestion-container {
	  position: relative;
	  top: 37px;
	  
	  .suggestionList {
		  background: $color-search-suggestion-list-bg;
		  position: absolute;
		  right: 0;
		  top: 8px;
		  z-index: 1;
		 
		  .srch_item a {
		    display: block;
		    padding: 15px 11px 19px;
		   
		    span {
		      color: $color-search-suggestion-item-excerpt;
		      @include rem-px(font-size,(16px));
		    }
		 
		    .title{
		      color: $color-search-suggestion-item-link !important;
		      display: block;
		      @include rem-px(line-height,(23px));
		    }
		 
		  }  
		  
		  li {
		  	border-bottom: 1px solid $color-search-suggestion-item-border;
		  }
		  
		  li.active, li.active:focus, li:hover {
		    background: $color-search-suggestion-item-focus !important;
		  }
		}
		
		.srch_recommended {  
		  border: 1px solid $color-search-suggestion-item-border;
		  @include rem-px(font-size,(16px));
		  font-weight: bold;
		  padding: 21px 11px 19px;
		 
		  a {
		    color: $color-search-all;
		    @include rem-px(font-size,(16px));
		    font-weight: 400;
		    float: right;   
		  }
		}
		
		ul {
			border: 1px solid $color-search-suggestion-item-border;
		  	border-top: none;
		}
	}
	
	input[type="text"] {
		background: $color-search-input-bg;
		border: 1px solid $color-search-suggestion-item-border;
		color: $color-search-input-text;
		height: auto;
		margin: 0;
		outline: none;
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-webkit-transition: all .35s cubic-bezier(0.17,0.04,0.03,0.94);
		-moz-transition: all .35s cubic-bezier(0.17,0.04,0.03,0.94);
		-o-transition: all .35s cubic-bezier(0.17,0.04,0.03,0.94);
		transition: all .35s cubic-bezier(0.17,0.04,0.03,0.94);
		float: right;
		padding: 12px;
	}
}

.search {
	.searchResultContainer {
		color: #333;
		.searchMeta {
			color: #949494;
		}
		.resultFound {
			@include rem-px(font-size,(28px));
			margin: 5px 0 60px; 
			span {
				color: #808080;
			}
		}
		.searchSuggestions {
			@include rem-px(font-size,(18px));
			font-weight: bold;
			span {
				display: block;
				@include rem-px(font-size,(16px));
				font-weight: normal;
				margin: 5px 0;
			}
		}
		
		.searchResult {
			li {
				margin: 0 0 50px;
				a {
					@include rem-px(font-size,(24px));
				}
				.link-teaser {
					@include rem-px(font-size,(16px));
				}
			}
		}
	}	
	
	.searchPagination {
		@include rem-px(font-size,(16px));
		margin: 20px auto;
		
		.icon-LeftArrow, .icon-RightArrow2{
			background: none;
			float: left;
		}
		.icon-RightArrow2{
			float: right;
		}
		span {
			color: $color-search-results-pagination-default;
			&.dots {
				display: inline-block;
    			margin-top: -20px;
    			vertical-align: middle;
			}
		}
		
		.pages {
			margin: 0 auto;
			text-align: center;
			width: 90%;
			a {
				background: $color-search-results-pagination-default;
			    border-radius: 50%;
			    display: inline-block;
			    height: 20px;
			    width: 20px;
			    
			    &.active {
			    	border: 5px solid $color-search-results-pagination-default;
					background: $color-search-results-pagination-active;
			    }
			}
		}
	}
}

@media #{$large-up} {
	form#searchForm {
		input[type="text"] {
			width: 80%;
		}
		
		input[type="text"]:focus {
		  width: 90%;
		}
		
		.suggestionList {
			width: 90%;
		}
	}
}

@media #{$medium-only} {
	form#searchForm {
		.suggestion-container {
			.srch_recommended {  
				@include rem-px(font-size,(14px));
				padding: 21px 11px 40px;
				a {
					float: none;
					padding: 0 0;
					margin: -1px 0 0 5px;
				}
			}
		}
	}
}

@media #{$small-only} {
	.searchInput {
        background: transparent !important;
        border: 0 !important;
        width: 0 !important;
    }
    .autosearch-icon:before {
        @include rem-px(font-size,(24px),!important);
    }
    
    form#searchForm {
    	.autosearch-icon {
    		top:-8px;
    	}
    }
}