.secondaryNavigation{
	background: $color-secondary-nav-bg;
	border-bottom: 1px solid $color-secondary-nav-bord;
	padding: 45px 0 0;
	position: relative;
	@include clearfix();
	
	nav {
		ul {
	      height: 48px;
	      
			li {
				float:left;
				margin: 0 0.8%;
				border-bottom: 3px solid $color-secondary-nav-bg;
				
				&:hover, &.selected{
					border-color:$color-secondary-nav-li-hover;
				}
				
				&:first-child {
					margin-left:0;
					padding-left:0;
				}
				
				&.title {
					@include rem-px(font-size,(20px));
					@include rem-px(margin-bottom,(15px));
					padding: 8px 10px 0 0;
					
					&:hover{
						border-color:transparent;
					}
					
				}
			}
			
			a { 
				color: $color-secondary-nav-link; 
			    padding: 13px 10px 14px;
				display: block;
			}
	    }
	}
	
	.filter {
		color: $search-top-nav;
		@include rem-px(font-size,(24px));
		position: absolute;
		top: 11px;	
	}
}

//iphone 6, 6 plus landscape
@media only screen and (max-width: 47.5em) and (orientation: landscape) {
	.secondaryNavigation {
		nav {
			ul {
				li {					
					a {
						@include rem-px(font-size,(11px));
						padding: 13px 4px 14px;
					}
				}
			}
		}
	}
}

//Mobile breakpoint
@media #{$small-only} {
	.secondaryNavigation{
		padding-top: 15px;
		nav {
			select {
				background: url($filepath-CSSImages +"/drop-down-arrrow.png") no-repeat;
				background-position: 97% center;
				border: 1px solid $color-secondary-nav-select-border;
				color: $color-secondary-nav-link;
				cursor: pointer;
				display:inline;
				@include rem-px(font-size,(16px));
				-webkit-appearance: none; 
		     	-moz-appearance: none;
		     	padding: 6px 32px 6px 10px;
		     	position:fixed;
		     	text-indent: 0.01px;
		     	text-overflow: "";
		     	width: auto;
			}
			
			.title {
				display:inline-block;
				@include rem-px(font-size,(12px));
				@include rem-px(margin-top,(-2px));
				@include rem-px(margin-bottom,(15px));
				padding: 0 10px 0 0;
				@include rem-px(width,(59px));
			}
		}
	}
}

@media #{$large-up} {
	.secondaryNavigation {
		nav {
			ul {
				li {
					margin: 0 1.2%;
					&.title {
							@include rem-px(font-size,(20px));
							padding: 8px 10px 0 0; 
					}
					
					a {
						@include rem-px(font-size,(16px));
					}
				}
			}
		}
	}
}