//--------------------------
// Blog Feed Side Nav
//--------------------------

.blogFeed {
	border: 1px solid $color-sidenav-blog-feed-border;
	.feeds {
		.feed-container {
		  	border-bottom: 1px dashed $color-sidenav-blog-feed-container-border;
		  	padding: 20px;
		}
		
		& > .feed-container:last-child {
			border-bottom: none;
		}
	}
	
	h3 {
		color: $color-sidenav-blog-feed-h3;
	    @include rem-px(font-size,(16px));
	    font-weight: normal;
	    margin-top: 10px;
	}
	.image-feed {
	    display: block;
	    height: 75px;
	    width: 75px;
	    float: left;
	    font-family: $font-GlobalFamilySecondary;
	    margin: 0 15px 15px 0;
	    color: $color-white;
	    border: 1px solid $color-sidenav-blog-feed-image-border;
	    @include border-radius(100px);
	    text-align: center;
	    cursor: pointer;
	    img {
	        border: none;
	        outline: none;
	        @include border-radius(100px);
	        height: 100%;
	        width: 100%;
	    }
	} 
	.feed-header {
	    background-color: $color-sidenav-blog-feed-header;
	    color: $color-sidenav-blog-feed-header-color;  
	    @include rem-px(font-size,(14px));
	    @include rem-px(line-height,(25px)); 
	    padding: 15px 0;
	    text-transform: uppercase;
	    text-align: center;
	}
	.sub-container {
		background-color: $color-sidenav-blog-feed-sub-bg;
		padding: 15px;
		width: 100%;
		
		a {
			color: $color-sidenav-blog-feed-sub-container-text;
			display: block;
			text-align: right;
			
			&:after{
				content: "\e675";
				font-family: $font-GlobalIcons !important;
				@include rem-px(margin-left,(9px));
			}
		}
	}
}
