//--------------------------
// FAQ Side Nav
//--------------------------

.faqWidget {
    margin:0 0 20px 0;

	.faq-header {
	    background-color: $color-sidenav-blog-feed-header;
	    height:85px;


		.faqImage {
			  padding:10px 10px;
			  float:left;
		}
		.faqTitle {
		    color:  $color-sidenav-blog-feed-header-color;
		    @include rem-px(font-size,(13px));
		    @include rem-px(line-height,(13px));
		    text-align: left;
		    text-transform: uppercase;
		    padding:25px 0 0 ;


		}
		.faqDesc {
		    color: $color-white;
		    @include rem-px(font-size,(13px));
		    @include rem-px(line-height,(13px));
		    text-align: left;
		    text-transform: uppercase;
		    padding:8px 0 0 ;

		}

	}

	.faq-container {
		height:600px;
		clear:both;
		overflow-y:auto ;
	}

	.faq-sub-container {
		background-color: $color-sidenav-blog-feed-sub-bg;
		padding: 15px;
		width: 100%;

		a {
			color: $color-white;
			display: block;
			text-align: right;

			&:after{
				content: "\e695";
				font-family: $font-GlobalIcons !important;
				@include rem-px(margin-left,(9px));
				@include rem-px(font-size,(9px));
			}
		}
	}


}