// ---------------------------------------------
// Global and custom fonts
// Custom fonts are declared in _fonts.scss
// ---------------------------------------------
#CQrte [class^="icon-"], #CQrte [class*=" icon-"],[class^="icon-"], [class*=" icon-"]  {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'citrixsans';
	font-style: normal;
	font-weight: normal;
	src: url('#{$filepath-fonts}/citrixsans-regular.eot');
	src: local('?'),url('#{$filepath-fonts}/citrixsans-regular.woff') format('woff'),
		url('#{$filepath-fonts}/citrixsans-regular.ttf') format('truetype'),
		url('#{$filepath-fonts}/citrixsans-regular.svg') format('svg');
}

@font-face {
	font-family: 'citrixsans';
	src: local('?'), url('#{$filepath-fonts}/citrixsans-regular.svg') format('svg'), url('#{$filepath-fonts}/citrixsans-regular.woff') format('woff'), url('#{$filepath-fonts}/citrixsans-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'citrixsans-bold';
	font-style: normal;
	font-weight: normal;
	src: url('#{$filepath-fonts}/citrixsans-bold.eot');
	src: local('?'),url('#{$filepath-fonts}/citrixsans-bold.woff') format('woff'),
		url('#{$filepath-fonts}/citrixsans-bold.ttf') format('truetype'),
		url('#{$filepath-fonts}/citrixsans-bold.svg') format('svg');
}

@font-face {
	font-family: 'citrixsans-bold';
	src: local('?'), url('#{$filepath-fonts}/citrixsans-bold.svg') format('svg'), url('#{$filepath-fonts}/citrixsans-bold.woff') format('woff'), url('#{$filepath-fonts}/citrixsans-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'icons';
	src:url('#{$filepath-fonts}/icons.eot?-nw37n5');
	src:url('#{$filepath-fonts}/icons.eot?#iefix-nw37n5') format('embedded-opentype'),
		url('#{$filepath-fonts}/icons.woff?-nw37n5') format('woff'),
		url('#{$filepath-fonts}/icons.ttf?-nw37n5') format('truetype'),
		url('#{$filepath-fonts}/icons.svg?-nw37n5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}