// ----------------------------------
// 	global.scss
// 	Global SASS variables - These vars are used in all sass stylesheets
// ----------------------------------

//---------------------------------------
// Global Fonts
//---------------------------------------
$font-GlobalFamily: 'citrixsans',Arial,Helvetica,sans-serif;
$font-GlobalFamilySecondary: 'citrixsans-bold',Arial,Helvetica,sans-serif;
$font-GlobalFamilyTertiary: Arial,Helvetica,sans-serif;
$font-GlobalFamilyItalic: 'citrixsans-italic',Helvetica,Arial,sans-serif;
$font-GlobalIcons: icons;
$font-GlobalColor: #555;

//---------------------------------------
// Global Paths
//---------------------------------------
$filepath-CSSImages: "static/images";
$filepath-fonts: "static/fonts";

//---------------------------------------
// Global colors
//---------------------------------------
$color-black: #000;
$color-dark: #333;
$color-white: #fff;
$color-grey: #7E7F81;
$color-grey2: #ccc;
$color-grey3:#666;
$color-grey4:#2c323a;
$color-grey5: #586474;
$color-grey6: #c2c8d0;
$color-grey7: #8894a4;
$color-grey8: #6f7e8f;
$color-grey9: #989898;
$color-grey10: #596575;
$color-grey12: #808080;
$color-grey13: #a5abb5;
$color-grey14: #434B58;
$color-grey15: #a6aeba;
$color-grey16: #dadadd;
$color-grey17: #444b58;
$color-mediumGrey: #6f7e8f;
$color-grey-filter:#6F7E92;
$color-light-grey:#D7DDE2;
$color-medium-gray: #808080;
$color-medium-dark-gray: #a5abb5;
$color-dark-grey:#434B58;
$color-grey-font-nav: #DBDCDD;
$color-border-grey:#E7E7E7;
$color-orange: #f26b21;
$color-red: #cc4337;
$color-green: #99cc33;
$color-green1: #78b320;
$color-green2: #76c64c;
$color-green3: #78be20;
$color-green4: #94DB14;
$color-green5: #5fc487;
$color-darkGreen: #19783d;

$link-color-default: #5fc487;
$link-color-hover: #66b64b;
$color-footer: #21252A;
$color-placeholder: #babcbe;
$color-placeholder-focus: #d8d8d8;
$nav-bg: #2c323a;
$navTabBg: #6f7e8f;
$navTabBgHover: #586474;
$border-grey: #999999;

//-----------------------------
// Pricing spotlight
//-----------------------------
$background-pricing-most-popular:#00694d;
$background-pricing-inner-spotlight-default:#a6aeba;
$background-pricing-inner-spotlight:#94db14;
$background-pricing-spotlight-head-default:#596574;
$background-pricing-spotlight-head:#66b54b;
$background-pricing-feature-list:#ededef;
$color-pricing-feature-list:#939598; 
$background-pricing-buynow-button:#fff;

//-----------------------------
// Other defaults
//-----------------------------
$text-decoration-default: none;
$float-default: left;
$cursor-default: pointer;
$nav-height: 69px;
