//-----------------------------
//    Sub Footer Navigation
//-----------------------------

$background-subFooter: #272c33;
$color-subFooter: #6f7e91;
$color-subFooter-hover: #a1a9b5;
$color-localeSelector: #8a96a6;

.subFooterNavigation {
	background: $background-subFooter;
	font-family: $font-footer;
	position: relative;
	.row {
		max-width: 100%;
		padding: 0 26px;
	}
	/* Locale selector styles */
	.locale-selector {
		bottom: 68px;
		left: 50px;
	}
	.countrySelector {
		.icon-world-footer, .country-open {
			color: $color-localeSelector;
		}
		a,select {
			font-size: 14px;
			color: $color-localeSelector;
		}
		.country-open {
			width: 11px;
		}
	}

	/* Link Style */
	ul.linkList {
		li {
			display: inline-block;
			font-size: 11px;
			margin-right: 38px;
			a {
				color: $color-subFooter;
				font-size: 11px;
				&:hover {
					color: $color-subFooter-hover;
				}
			}
		}
	}

	/* Copyright/disclaimer styles */
	.copyright {
		color: $color-subFooter;
		font-size: 11px;
	}

	/* Company Logo */
	.logoContainer {
		.logo {
			background: url(#{$filepath-CSSImages}/unity/logo-icon-sprite.png) 0px 100% no-repeat;
			display: block;
			height: 35px;
			margin: 0;
			width: 80px;
		}
	}
}

@media #{$medium-up} {
	.subFooterNavigation {
		.copyright {
			float: left;
		}
		.logoContainer {
			float: right;
		}
	}
}
@media #{$large-up} {
	.subFooterNavigation {
		.countrySelector {
			float: left;
			margin-right: 52px;
			.icon-world-footer {
				line-height: 58px;
			}
		}
		ul.linkList {
			float: left;
		}
		.copyright, ul.linkList li {
			line-height: 58px;
		}
		.logoContainer .logo {
			margin: 11px 0 0;
		}
	}
}

@media #{$medium-only} {
	.subFooterNavigation {
		.copyright {
			line-height: 15px;
			max-width: 80%;
			padding: 15px 0;
		}
	}
}
@media #{$small-only} {
	.subFooterNavigation {
		.countrySelector {
			text-align: center;
		}
		ul.linkList,.copyright {
			line-height: 20px;
			margin-bottom: 16px;
			text-align: center;
		}
		.logoContainer {
			.logo {
				margin: 0 auto 16px;
			}
		}
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
	.subFooterNavigation {
		.logoContainer {
			.logo {
				background-image: url(#{$filepath-CSSImages}/unity/logo-icon-sprite@2x.png);
				background-size: 80px;
				height: 30px;
			}
		}
	}
}