//-----------------------------
//    NavBar CSS
//-----------------------------

.utilityNavigation {
	color: #a6aeba;
	@include rem-px(font-size,(15px));

	.topNav {
	  	position: fixed;
	  	top: 0;
	  	width: 100%;
	  	z-index: 101;
		background-size: 100% 200%;
		background-color: #2c323a;
		background-image: -o-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, $nav-bg), color-stop(50%, rgba(0,0,0,0)));
		background-image: -webkit-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: -moz-linear-gradient(50% 50% 90deg, $nav-bg, rgba(0,0,0,0));
		background-image: -ms-linear-gradient(top, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-image: linear-gradient(to bottom, $nav-bg 50%, rgba(0,0,0,0) 50%);
		background-position: 0 100%;
		border-color: #434b58;
		border-style: solid;
		@include rem-px(border-width,(0 0 1px));

	  	.logo {
	  		float: left;
	  		text-align: center;
	  		margin:10px 0 2px 24px;
	  	}

		ul {
			list-style-type: none;
			
			li {
				margin:0 1px;
				float: left;
				&.current a {
					color: $color-white;
				}
			}
			a {
				color: #a6aeba;
				cursor: $cursor-default;
				display: block;
				line-height:71px;
				padding:0 25px;
				
				&:hover {
					color: $color-white;
				}
			}
			a#signIn {
				background-color: #171a1e;
				&:hover {
					background-color: #434b58;
					border-style: solid;
					border-color: #9c3;
					border-width: 0 0 3px;
					height: $nav-height;
				}
			}
			a#phone:hover, a#chat:hover {
				color: #a6aeba;
			}
			span {
				@include rem-px(line-height,($nav-height));
				margin-right:10px;
				vertical-align: middle;
				
				&.phone:before, &.chat:before {
					font-family: icons;
					@include rem-px(line-height,($nav-height));
				}
				&.phone:before {
					content: "\e622";
				}
				&.chat:before {
					content: "\e633";
				}
			}
		}
		
		.link-group {
			float: right;
			margin-right:26px;
		}
	}

	.navBar {
		background: $nav-bg;
		background-position: 0 0;
	}
}

@media #{$medium-only} {
	.utilityNavigation .topNav {
		.link-group {
			margin-right: 10px;
		}
		ul {
			a {
				padding: 0 13px;
			}
		}
	}
}

@media #{$small-only} {
	.utilityNavigation .topNav {
		.logo {
			margin:10px 0 2px 16px;
		}
		.link-group {
			margin-right: 0; // 16px;
		}
		ul {
			a#phone,a#phone:hover {
				color: $color-white;
				@include rem-px(font-size,(24px));
				padding: 0 10px;
			}
			a {
				padding: 0 15px;
			}
		}
	}
}