.accordion {
	font-family: $font-GlobalFamily ;
	@include rem-px(font-size,(14px));
	margin: 0px auto;
	position: relative;
	max-width: 80%;
	color: $navTabBgHover;
	
	ul {
		list-style: none;
		li{
			border-bottom: 1px solid $color-grey2;
			cursor: pointer;
			@include rem-px(padding,(25px 0)); 
		}
	}
	p{
		font-family: $font-GlobalFamily;;
		@include rem-px(padding,(20px 0 0 17px));
	}
	h4{
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(17px));
		@include rem-px(padding,(0 0 0 20px));
	}
	ol {
		list-style: none;
		@include rem-px(padding,(0 0 10px 0),'!important');
		li{
			border: 0px;
			display: inline;
			float: left;
			font-weight: bold;
			margin: 0;
			padding: 0;
			@include rem-px(width,(65px));
			
			&:last-child{
				border-left: 2px solid $color-green;
				color: $color-green;
				@include rem-px(padding-left,(8px));
			}
		}
	}
	a:hover {
		color: $color-green;
	}

	.text.odd.minus > div, .text.odd.plus > div,
	.text.even.minus > div, .text.even.plus > div {
		padding: 17px 0 17px 20px;
		cursor: pointer;
		@include rem-px(font-size,(14px));
		@include rem-px(line-height,(20px));
		color: $navTabBgHover;
		position: relative;
	}
	
	.text.odd.minus > div:before, .text.odd.plus > div:before,
	.text.even.minus > div:before, .text.even.plus > div:before {
		content: "T";
		font-family: $font-GlobalFamily;
		@include rem-px(font-size,(14px));
		position: absolute;
		@include rem-px(left,(0px));
	}
	
	.text.odd.minus > div:before,
	.text.even.minus > div:before {
	    content: "\2013";
	}
	.text.odd.plus > div:before,
	.text.even.plus > div:before {
	    content: "+";
	}

	.toggle-splitter {
		color: $color-green1;
		font-weight: bold;
	}

	.accordian-container {
		border-bottom: 1px solid $border-grey;
	}
	.accordionentry {
		border-top: 1px solid $border-grey;

		.category {

			.entrypar {
				@include rem-px(padding-bottom,(20px));

				p:first-child{
					@include rem-px(padding-top,(5px));
				}
			}
		}
	}

}

@media #{$large-up} {
	.accordion {
		width: 45rem;
	}
}
