//------------------------------------------------
//    Background Video
//------------------------------------------------

.backgroundVideo {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
	overflow: hidden;

	.autoVideo {
		position: absolute;
		width: 100%;
		height: auto;

		video {
			display: block;
			position: relative;
			left: 50%;
			-ms-transform: translate(-50%, 0%);
    		-webkit-transform: translate(-50%, 0%);
			transform: translate(-50%, 0%);
		}
	}

	.backgroundVideoContent {
		position: relative;
		z-index: 999;
		top: 0;
		width: 100%;
	}
}

video::-webkit-media-controls {
    display:none !important;
}

// Author view
.cq-wcm-edit {
	.backgroundVideoContent {
		width: 100%;
		min-height: 80px;
	}
}

@media #{$small-only} {
	.backgroundVideo {
		.autoVideo {
			video {
				display: none;
			}
		}
	}
}