//----------------------------------------------
//    Box Container
//----------------------------------------------

.boxContainer {
	@include rem-px(padding-bottom,(80px));
	
	.none {
		background: none;
	}

	.box-transparent {
		background: rgba(51, 51, 51, .9);
	}
	
	div.light-grey {
		background: $color-grey4;
	}
	
	div.dark-grey {
		background: $nav-bg;
	}
	
	div.white {
		background: $color-white;
	}
}

@media #{$medium-up} {
	.boxContainer {
		@include rem-px(padding-bottom,(70px));
		
		.container {
			 background: none;
			 border: 35px solid rgba(255,255,255,0.7);
			 margin: 0 auto;
			 width: 575px;
		}
		
		.w630px {
			width:630px;
		}
		
		.w900px {
			width: 900px;
			
			.boxContent {
				margin: 0 auto;
				width: 785px;
			}
		}
		
		.h100px {
			padding-top: 100px
		}
		.h200px {
			padding-top: 200px
		}
		
		.h300px {
			padding-top: 300px;
		}
	}
}
@media #{$medium-only} {
	.boxContainer {
		.w900px {
			width: 630px;
			.boxContent {
				margin: 0 auto;
				width: 560px;
			}
		}
	}
}
@media #{$small-only} {
	.boxContainer {
		padding-bottom: 0;
		
		.expand {
			@include rem-px(padding-top,(30px));
			width: 100%;
		}
		.removeBg {
			background: transparent;
		}
	}
}
