//-----------------------------------------------------------------
// Styles in this document are related for the CQ RTE Styles Plugin
//-----------------------------------------------------------------
#CQrte [class^="icon-"], #CQrte [class*=" icon-"] {

	&:before{
		font-family: 'icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}


#CQrte .icon-Support, .text .icon-Support {
	@include rem-px(font-size, (30px));

	@media #{$medium-up} {
		@include rem-px(font-size, (26px));
	}

	@media #{$small-up} {
		@include rem-px(font-size, (20px));
	}
}

#CQrte .icon-Accounting, .text .icon-Accounting{
	@include rem-px(font-size, (33px));
}

#CQrte .icon-Architecture, .text .icon-Architecture{
	@include rem-px(font-size, (47px));
}


#CQrte .icon-Archive, .text .icon-Archive {
	@include rem-px(font-size, (28px));
}

#CQrte .icon-Check, .text .icon-Check{

	&.variant1{
		@include rem-px(font-size, (29px));
	}

	&.variant2{
		@include rem-px(font-size, (35px));
		@media #{$medium-up} {
			@include rem-px(font-size, (26px));
		}
		@media #{$small-up} {
			@include rem-px(font-size, (23px));
		}
	}
}

#CQrte .icon-Construction, .text .icon-Construction{
	@include rem-px(font-size, (25px));
}

#CQrte .icon-Documents, .text .icon-Documents{
	@include rem-px(font-size, (35px));
}

CQrte .icon-EmailIntegration, .text .icon-EmailIntegration{

	&.variant1{
		@include rem-px(font-size, (32px));
	}
	&.variant2{
		@include rem-px(font-size, (66px));
	}
}

#CQrte .icon-EmailPlugin, .text .icon-EmailPlugin{
	@include rem-px(font-size, (30px));
}

#CQrte .icon-Engineering, .text .icon-Engineering {
	@include rem-px(font-size, (40px));
}

#CQrte .icon-Enterprise, .text .icon-Enterprise{
	@include rem-px(font-size, (60px));
}

#CQrte .icon-eSig, .text .icon-eSig {
	&.variant1 {
		@include rem-px(font-size, (32px));
	}
	&.variant2 {
		@include rem-px(font-size, (42px));
		@media #{$medium-up} {
			@include rem-px(font-size, (36px));
		}
		@media #{$small-up} {
			@include rem-px(font-size, (27px));
		}
	}
}

#CQrte .icon-Financial, .text .icon-Financial{
	@include rem-px(font-size, (35px));
}
#CQrte .icon-FlexibleStorage, .text .icon-FlexibleStorage{
	color: $color-green5;

	@include rem-px(font-size, (30px));
	@media #{$medium-only} {
		@include rem-px(font-size, (22px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (18px));
	}
}

#CQrte .icon-Gears, .text .icon-Gears{
	@include rem-px(font-size, (31px));
}

#CQrte .icon-Healthcare, .text .icon-Healthcare {
	@include rem-px(font-size, (49px));
}

#CQrte .icon-IndustrySpecific, .text .icon-IndustrySpecific {
	@include rem-px(font-size, (31px));
}

#CQrte .icon-Insurance, .text .icon-Insurance {
	@include rem-px(font-size, (40px));
}

#CQrte .icon-Legal, .text .icon-Legal {
	@include rem-px(font-size, (48px));
}

#CQrte .icon-MakeLifeEasier, .text .icon-MakeLifeEasier {
	@include rem-px(font-size, (31px));
}
#CQrte .icon-Manufacturing, .text .icon-Manufacturing{
	@include rem-px(font-size, (47px));
}
#CQrte .icon-Mobile, .text .icon-Mobile {
	color: $color-green5;
	@include rem-px(font-size, (45px));

	&.size35{
		@include rem-px(font-size, (35px));
	}
	&.size32{
		@include rem-px(font-size, (32px));
	}
	&.size30{
		@include rem-px(font-size, (30px));
	}

	@media #{$medium-only} {
		@include rem-px(font-size, (37px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (30px));
	}
}

#CQrte .icon-Phone, .text .icon-Phone{

	&.size14{
		color: $color-green4;
		@include rem-px(font-size, (14px));
	}
	&.size16{
		color: $color-grey7;
		@include rem-px(font-size, (16px));
	}
}

#CQrte .icon-Play, .text .icon-Play {
	&.size24{
		color: $color-green2;
		@include rem-px(font-size, (24px));
	}
	&.size75{
		color: $color-white;
		@include rem-px(font-size, (75px));
	}
}

#CQrte .icon-PracticalPricing, .text .icon-PracticalPricing {
	@include rem-px(font-size, (26px));
}

#CQrte .icon-RealEstate, .text .icon-RealEstate{
	@include rem-px(font-size, (36px));
}

#CQrte .icon-RightArrow, .text .icon-RightArrow {
	@include rem-px(font-size, (44px));
}

#CQrte .icon-SearchTools, .text .icon-SearchTools {
	@include rem-px(font-size, (35px));
	@media #{$medium-up} {
		@include rem-px(font-size, (31px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (16px));
	}
}

#CQrte .icon-Security, .text .icon-Security {

	&.variant1{
		@include rem-px(font-size, (34px));
	}
	&.variant2{
		@include rem-px(font-size, (36px));
		@media #{$medium-up} {
			@include rem-px(font-size, (26px));
		}
		@media #{$small-up} {
			@include rem-px(font-size, (25px));
		}
	}
}

#CQrte .icon-Share, .text .icon-Share{
	@include rem-px(font-size, (15px));
}

#CQrte .icon-ShareAndRight, .text .icon-ShareAndRight  {
	@include rem-px(font-size, (45px));
}

#CQrte .icon-ShareFiles, .text .icon-ShareFiles{
	color: $color-green5;

	@include rem-px(font-size, (45px));
	@media #{$medium-only} {
		@include rem-px(font-size, (37px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (30px));
	}
}

#CQrte .icon-ShareFileSync, .text .icon-ShareFileSync  {
	@include rem-px(font-size, (25px));
}
#CQrte .icon-ShareLargeFiles, .text .icon-ShareLargeFiles {
	@include rem-px(font-size, (26px));
	@media #{$small-up} {
		@include rem-px(font-size, (22px));
	}
}
#CQrte .icon-ShareMobile1, .text .icon-ShareMobile1 {
	@include rem-px(font-size, (46px));
}

#CQrte .icon-SpeechBubble, .text .icon-SpeechBubble {
	@include rem-px(font-size, (14px));
}

#CQrte .icon-Sync, .text .icon-Sync {
	&.variant1{
		color: $color-green2;
		@include rem-px(font-size, (26px));
	}
	&.variant2{
		color: $color-white;
		@include rem-px(font-size, (39px));
		@media #{$medium-up} {
			@include rem-px(font-size, (32px));
		}
		@media #{$small-up} {
			@include rem-px(font-size, (32px));
		}
	}
	&.variant3{
		color: $color-grey5;
		@include rem-px(font-size, (60px));
	}
}

#CQrte .icon-WorkAnywhere, .text .icon-WorkAnywhere {
	@include rem-px(font-size, (39px));
	@media #{$medium-up} {
		@include rem-px(font-size, (34px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (28px));
	}
}

#CQrte .icon-Rocket, .text .icon-Rocket {
	@include rem-px(font-size, (55px));
}

#CQrte .icon-Mon, .text .icon-Mon {
	@include rem-px(font-size, (60px));
}
#CQrte .green2, .text .green2{
	color: $color-green2;

	&:before{
		color: $color-green2;
	}
}

#CQrte .green3, .text .green3{
	color: $color-green3;

	&:before{
		color: $color-green3;
	}
}

#CQrte .green4, .text .green4{
	color: $color-green4;

	&:before{
		color: $color-green4;
	}
}

#CQrte .green5, .text .green5{
	color: $color-green5;

	&:before{
		color: $color-green5;
	}
}


#CQrte .white, .text .white{
	color: $color-white;

	&:before{
		color: $color-white;
	}
}


#CQrte .grey, .text .grey{
	color: $color-grey7;

	&:before{
		color: $color-grey7;
	}
}

#CQrte .grey5, .text .grey5{
	color: $color-grey5;

	&:before{
		color: $color-grey5;
	}
}

#CQrte .grey6, .text .grey6{
	color: $color-grey6;

	&:before{
		color: $color-grey6;
	}
}

#CQrte .grey7, .text .grey7{
	color: $color-grey7;

	&:before{
		color: $color-grey7;
	}
}

#CQrte .grey8, .text .grey8{
	color: $color-grey8;

	&:before{
		color: $color-grey8;
	}
}

#CQrte .grey10, .text .grey10{
	color: $color-grey10;

	&:before{
		color: $color-grey10;
	}
}

#CQrte .grey17, .text .grey17{
	color: $color-grey17;

	&:before{
		color: $color-grey17;
	}
}


#CQrte .darkGrey, .text .darkGrey{
	color: $color-dark-grey;

	&:before{
		color: $color-dark-grey;
	}
}

#CQrte .lightGrey, .text .lightGrey{
	color: $color-light-grey;

	&:before{
		color: $color-light-grey;
	}
}


#CQrte .separatorText, .separatorText {
	@include rem-px(padding,(20px));
	color: #5a6474;
	font-family: "Times New Roman";
	@include rem-px(font-size,(17px));
	font-style: italic;
	text-align: center;


	&:after{
		@include rem-px(left,(8px));
		margin-right: -50%;
	}

	&:before{
		margin-left: 0;
		@include rem-px(right,(8px));
	}

	&:after, &:before {
	    background-color: #5a6474;
	    content: "";
	    display: inline-block;
	    @include rem-px(height,(1px));
	    position: relative;
	    vertical-align: middle;
	    width: 20%;
	}
}



#CQrte .sidebar-list, .sidebar-list {
	@include rem-px(margin-left,(35px));
	font-family:$font-GlobalFamily;
	@include rem-px(font-size,(13px));
	@include rem-px(line-height,(34px));

	a{
		color:#8894a4;

		&:hover{
			color:#fff;
			cursor:pointer;
			text-decoration:none;
		}
	}

	&.link-chat{
		@include rem-px(font-size,(13px));
		@include rem-px(line-height,(34px));

		&:before {
			font-family: icons;
			content: "\e633";
		}

		&:hover{
			color:#fff;
			cursor:pointer;
			text-decoration:none;
		}
	}

	&.link-phone{
		@include rem-px(font-size,(13px));
		@include rem-px(line-height,(34px));

		&:before {
			font-family: icons;
			content: "\e622";
			@include rem-px(line-height,(34px));
		}

		&:hover{
			color:#fff;
			cursor:pointer;
			text-decoration:none;
		}
	}
}
#CQrte h2-green-13px {
	color: #67b64c;
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size,(13px));
	font-weight: normal;
	letter-spacing: 0;
	margin: 0;
	text-transform: uppercase;
}
#CQrte h3-grey-38px {
	color: #586474;
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(38px));
	font-weight: normal;
	@include rem-px(line-height,(44px));
	@include rem-px(margin-top,(20px));
	letter-spacing: 0;
}

@media #{$medium-up} {
    #CQrte h2-green-13px{
		@include rem-px(font-size,(13px));
	}
	#CQrte h3-grey-38px{
		@include rem-px(font-size,(34px));
		@include rem-px(line-height,(40px));
		@include rem-px(margin-top,(22px));
	}
}
@media #{$small-up} {
	#CQrte h2-green-13px {
		@include rem-px(font-size,(11px));
	}
	#CQrte h3-grey-38px {
		@include rem-px(font-size,(26px));
		@include rem-px(line-height,(32px));
		@include rem-px(margin-top,(16px));
	}
}
//-----------------------------------------------------------------
/* Intro */
#CQrte .citrix-bd-13px-green-intro, .text .citrix-bd-13px-green-intro{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size,(13px));
	text-transform: uppercase;
	@media #{$medium-up} {
		@include rem-px(font-size, (12px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (11px));
	}
}
#CQrte .citrix-rg-38px-darkgrey-intro, .text .citrix-rg-38px-darkgrey-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(38px));
	@include rem-px(line-height,(36px));
	@include rem-px(padding-top,(32px));

	@media #{$medium-up} {
		@include rem-px(font-size, (34px));
		@include rem-px(line-height, (30px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-40px-darkgrey-intro,.text .citrix-rg-40px-darkgrey-intro{
	font-family: $font-GlobalFamily;
	color: $color-dark-grey;
	display: block;
	@include rem-px(font-size,(40px));
	@include rem-px(line-height,(36px));
	@include rem-px(padding-top,(32px));
	@media #{$medium-up} {
		@include rem-px(line-height, (32px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (26px));
	}
}
#CQrte .citrix-rg-24px-grey5-intro,.text .citrix-rg-24px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(24px));
	@include rem-px(line-height,(36px));
	@include rem-px(padding-top, (38px));
	@media #{$medium-up} {

	}
	@media #{$small-up} {

	}
}
#CQrte .citrix-rg-26px-grey5-intro,.text .citrix-rg-26px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(26px));
	@include rem-px(line-height,(32px));
	@include rem-px(padding-top, (38px));
	@media #{$medium-up} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (17px));
		@include rem-px(line-height, (22px));
	}
}
#CQrte .citrix-rg-16px-grey5-intro,.text .citrix-rg-16px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(16px));
	@include rem-px(line-height,(22px));
	@include rem-px(padding-top,(15px));
	text-transform: uppercase;
	@media #{$medium-up} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (21px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (16px));
		@include rem-px(padding-top, (0px));
	}
}
#CQrte .citrix-rg-20px-grey5-intro, .text .citrix-rg-20px-grey5-intro{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(20px));
	@include rem-px(line-height,(26px));
	@include rem-px(padding-top,(15px));
	text-transform: uppercase;
}
#CQrte .citrix-rg-20px-grey5-intro-cta, .text .citrix-rg-20px-grey5-intro-cta{
	font-size: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-rg-24px-white-intro-copy, .text .citrix-rg-24px-white-intro-copy{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (36px));
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-21px-grey17-features-heading, .text .citrix-rg-21px-grey17-features-heading{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (21px));
	@include rem-px(line-height, (32px));
	@media #{$medium-only} {
		@include rem-px(font-size, (21px));
		@include rem-px(line-height, (32px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-21px-pricing-subheading, .text .citrix-rg-21px-pricing-subheading{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (21px));
	@media #{$medium-only} {
		@include rem-px(font-size, (16px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (14px));
	}
}
#CQrte .citrix-rg-18px-grey17-features-copy, .text .citrix-rg-18px-grey17-features-copy{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (32px));
	@media #{$medium-only} {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (32px));
	}
	@media #{$small-only} {
		@include rem-px(font-size, (12px));
		@include rem-px(line-height, (32px));
	}
}
/* Form */
#CQrte .citrix-rg-28px-form, .text .citrix-rg-28px-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (28px));
	@include rem-px(line-height, (34px));
	@media #{$medium-up} {
		@include rem-px(font-size, (24px));
		@include rem-px(line-height, (30px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (22px));
		@include rem-px(line-height, (28px));
	}
}
#CQrte .citrix-rg-14px-white-form, .text .citrix-rg-14px-white-form{
	font-family: $font-GlobalFamily;
	color: $color-white;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	display: block;
}
#CQrte .citrix-rg-16px-grey-form, .text .citrix-rg-16px-grey-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));

	@media #{$small-only} {
		@include rem-px(font-size, (13px));
		@include rem-px(line-height, (19px));
	}
}
#CQrte .citrix-rg-22px-white-form, .text .citrix-rg-22px-white-form{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));
	@include rem-px(padding-left, (50px));
	display: block;
}
#CQrte .citrix-bd-22px-white-form, .text .citrix-bd-22px-white-form{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (27px));
}

/* Related Anchor */
#CQrte .citrix-rg-24px-white-related, .text .citrix-rg-24px-white-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(24px));
}
#CQrte .citrix-rg-14px-white-related, .text .citrix-rg-14px-white-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(20px));
	@include rem-px(padding-top,(30px));
}
#CQrte .citrix-rg-14px-pricing-copy, .text .citrix-rg-14px-pricing-copy{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	padding: 10px 0 0 0;
	display: block;
	@media #{$medium-only} {
		padding: 14px 0 0 0;
	}
}
#CQrte .citrix-rg-14px-green3-related, .text .citrix-rg-14px-green3-related{
	font-family: $font-GlobalFamily;
	display: block;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(20px));
	@include rem-px(padding-top,(30px));
	&:hover, &:active{
		color: $color-green;
	}
}
#CQrte .citrix-rg-20px-darkgrey-related, .text .citrix-rg-20px-darkgrey-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size,(20px));
}
#CQrte .citrix-rg-14px-darkgrey-related, .text .citrix-rg-14px-darkgrey-related{
	@include rem-px(font-size,(14px));
	&.regular{
		display: block;
		font-family: $font-GlobalFamily;
		@include rem-px(line-height,(20px));
		@include rem-px(padding-top,(57px));
	}
	&.bold{
		font-weight: normal;
		font-family: $font-GlobalFamilySecondary;
		@include rem-px(line-height,(24px));
	}
}
#CQrte .citrix-rg-14px-green3-related, .text .citrix-rg-14px-green3-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (24px));
	&.map{
		display: block;
		@include rem-px(padding-top, (57px));
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
	&:hover, &:active{
		color: $color-green;
	}
}
#CQrte .citrix-rg-20px-green2-related, .text .citrix-rg-20px-green2-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (30px));
	@media #{$medium-up} {

	}
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
	}
}
#CQrte .citrix-rg-14px-green3-related-link, .text .citrix-rg-14px-green3-related-link{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	&:hover, &:active{
		color: $color-green;
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
	&.noicon{
		&:after{
			display: none;
		}
	}
}
#CQrte .citrix-rg-28px-related, .text .citrix-rg-28px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (32px));
}
#CQrte .citrix-rg-16px-green-related-link, .text .citrix-rg-16px-green-related-link {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (22px));
	&:hover, &:active{
		color: $color-green;
	}
	&:after{
		color: $color-green;
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
}

#CQrte .citrix-rg-30px-related, .text .citrix-rg-30px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (30px));
	@include rem-px(line-height, (34px));
}
#CQrte .citrix-rg-22px-related, .text .citrix-rg-22px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (34px));
}

#CQrte .citrix-rg-14px-related, .text citrix-rg-14px-related{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (16px));
}
#CQrte .citrix-reg-12px-grey-caption, .text .citrix-reg-12px-grey-caption{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (12px));
	@include rem-px(line-height, (18px));
	@include rem-px(padding-left, (15px));
	border-left: 3px solid $color-green2;
}

/* Quote */
#CQrte .citrix-rg-20px-white-quote, .text .citrix-rg-20px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-rg-24px-white-quote, .text .citrix-rg-24px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (36px));
}
#CQrte .citrix-rg-16px-white-quote, .text .citrix-rg-16px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (24px));
	@include rem-px(padding-top, (15px));
	@media #{$medium-up} {
		@include rem-px(font-size, (15px));
		@include rem-px(line-height, (23px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (20px));
	}
}
#CQrte .citrix-rg-16px-green3-link-quote, .text .citrix-rg-16px-green3-link-quote{
	font-family: $font-GlobalFamily;
	&:hover, &:active{
		color: $color-green;
		text-decoration: none;
	}
}
#CQrte .citrix-rg-14px-white-quote, .text .citrix-rg-14px-white-quote{
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (15px));
	&.regular{
		font-family: $font-GlobalFamily;
	}
}
#CQrte .citrix-rg-26px-white-quote, .text .citrix-rg-26px-white-quote{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (38px));
	@media #{$medium-up} {
		@include rem-px(font-size, (25px));
		@include rem-px(line-height, (37px));
	}
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (32px));
	}
}

/* Toaster */
#CQrte .citrix-rg-18px-toaster, .text .citrix-rg-18px-toaster{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (18px));
	@include rem-px(line-height, (22px));
	a{
		color: $color-green3;
		&:hover, &:active {
			color: $color-green;
		}
	}
	@media #{$medium-up} {

	}
	@media #{$small-up} {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (20px));
	}
}

/* Text Message Form */
#CQrte .citrix-rg-22px-green2-textphone, .text .citrix-rg-22px-green2-textphone{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (30px));
}
#CQrte .citrix-rg-16px-white-textphone, .text .citrix-rg-16px-white-textphone{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (30px));
}
#CQrte .citrix-bd-16px-white-textphone, .text .citrix-bd-16px-white-textphone{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-top, (30px));
}

/* Video */
#CQrte .citrix-rg-24px-white-video , .text .citrix-rg-24px-white-video{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (26px));
	@include rem-px(line-height, (32px));
	@media #{$medium-up} {

	}
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (30px));
	}
}
#CQrte .citrix-rg-16px-white-video , .text .citrix-rg-16px-white-video{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
}
#CQrte .citrix-bd-16px-white-video , .text .citrix-bd-16px-white-video{
	font-family: $font-GlobalFamilySecondary;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
}

/* Contact */
#CQrte .citrix-rg-32px-grey5-contact, .text .citrix-rg-32px-grey5-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (32px));
	@include rem-px(line-height, (38px));
	@media #{$medium-up} {

	}
	@media #{$small-up} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
}
#CQrte .citrix-rg-16px-grey8-contact, .text .citrix-rg-16px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (22px));
	@include rem-px(padding-left, (11px));
}
#CQrte .citrix-rg-22px-grey8-contact, .text .citrix-rg-22px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (36px));
}
#CQrte .citrix-rg-14px-grey8-link-contact, .text .citrix-rg-14px-grey8-link-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	a{
		color: $color-green3;
		&:hover, &:active{
			color: $color-green;
			text-decoration: none;
		}
	}
}
#CQrte .citrix-rg-14px-grey8-contact, .text .citrix-rg-14px-grey8-contact{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@media #{$medium-up} {

	}
	@media #{$small-up} {
		@include rem-px(line-height, (37px));
	}
}

/* Features */
#CQrte .citrix-rg-22px-white-feature, .text .citrix-rg-22px-white-feature{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (38px));
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (26px));
	}
	@media #{$medium-up} {

	}
}
#CQrte .citrix-rg-14px-white-feature, .text .citrix-rg-14px-white-feature{
	font-family: $font-GlobalFamily;
	@include rem-px(font-sized, (14px));
	@include rem-px(line-height, (20px));
}

/* Apps */
#CQrte .citrix-rg-40px-grey-apps, .text .citrix-rg-40px-grey-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (40px));
	@include rem-px(line-height, (46px));
	@media #{$small-up} {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
	}
	@media #{$medium-up} {

	}
}
#CQrte .citrix-rg-22px-green-apps, .text .citrix-rg-22px-green-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (28px));
	@include rem-px(padding-top, (18px));
	@media #{$small-up} {
		@include rem-px(font-size, (20px));
		@include rem-px(line-height, (26px));
	}
}
#CQrte .citrix-rg-14px-grey-link-apps, .text .citrix-rg-14px-grey-link-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	a{
		color: $color-green3;
		&:hover, &:active{
			color: $color-green;
			text-decoration: none;
		}
	}
}
#CQrte .citrix-rg-14px-green-link-apps, .text .citrix-rg-14px-green-link-apps{
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (30px));
	&:hover, &:active{
		color: $color-green;
		text-decoration: none;
	}
	&:after{
		content: "\e61e";
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(9px));
		@include rem-px(padding-left,(9px));
	}
}


//-----------------------------------------------------------------
// End of new SF Styles
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Generics
//-----------------------------------------------------------------
#CQrte .pricingSeperator, .text .pricingSeperator{
	color:#d3d3d3;
	margin:27px 0 21px 0;
	
	@media #{$medium-only} {
		margin:27px 0 21px 0;
	}
	@media #{$small-only} {
		margin:27px 0 21px 0;
		width:100%;
	}
}

#CQrte b, b, #CQrte strong, strong{
	font-weight: normal;
	font-family: $font-GlobalFamilySecondary;
}
// End Generics

#CQrte .link-arrow, .text .link-arrow {
	color:#586474;
	@include rem-px(font-size,(13px));
	text-align:center;

	&:hover {
		color:#9c3;
		text-decoration: none;
	}

	&:after{
		color:#9c3;
		content: "\e61e";
		font-family: icons;
		@include rem-px(font-size,(7px));
		@include rem-px(padding-left,(7px));
	}

}

#CQrte .dark, .text .dark {
	color: $color-dark;
	&:before{
		color: $color-dark;
	}
}
#CQrte .darkGreen, .text .darkGreen {
	color: $color-darkGreen;
	&:before{
		color: $color-darkGreen;
	}
}
#CQrte .mediumGrey, .text .mediumGrey {
	color: $color-mediumGrey;
	&:before{
		color: $color-mediumGrey;
	}
}
#CQrte .citrix-reg-10px-white-text, .text .citrix-reg-10px-white-text {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (10px));
}
#CQrte .citrix-reg-13px-green-head, .text .citrix-reg-13px-green-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (13px));
	text-transform: uppercase;
}
#CQrte .citrix-reg-14px-white-text, .text .citrix-reg-14px-white-text {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (16px));
	@include rem-px(line-height, (20px));
	@include rem-px(padding-top, (24px));

	@media #{$small-only} {
		@include rem-px(font-size, (14px));
	}
}
#CQrte .citrix-reg-14px-darkGrey-text, .text .citrix-reg-14px-darkGrey-text {
	@extend .citrix-reg-14px-white-text;
}
#CQrte .citrix-reg-14px-green-link, .text .citrix-reg-14px-green-link {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
	&:hover, &:focus, &:active {
		color: $color-green;
	}
}
#CQrte .citrix-reg-14px-mediumGrey-text, .text .citrix-reg-14px-mediumGrey-text {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (14px));
	@include rem-px(line-height, (20px));
}
#CQrte .citrix-reg-20px-green-head, .text .citrix-reg-20px-green-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-reg-20px-grey-head, .text .citrix-reg-20px-grey-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (20px));
	@include rem-px(line-height, (26px));
	@include rem-px(padding-top, (20px));
}
#CQrte .citrix-reg-22px-white-text, .text .citrix-reg-22px-white-text {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (22px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-reg-24px-grey-head, .text .citrix-reg-24px-grey-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (24px));
	@include rem-px(line-height, (26px));
}
#CQrte .citrix-reg-32px-darkGreen-head, .text .citrix-reg-32px-darkGreen-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (32px));
	@include rem-px(line-height, (36px));
}
#CQrte .citrix-reg-32px-white-head, .text .citrix-reg-32px-white-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (32px));
	@include rem-px(line-height, (30px));
}
#CQrte .citrix-reg-38px-darkGrey-head, .text .citrix-reg-38px-darkGrey-head {
	font-family: $font-GlobalFamily;
	@include rem-px(font-size, (38px));
	@include rem-px(line-height, (44px));
	@include rem-px(padding-top, (20px));
}
@media #{$small-only} {
	#CQrte .citrix-reg-13px-green-head, .text .citrix-reg-13px-green-head {
		@include rem-px(font-size, (11px));
	}
	#CQrte .citrix-reg-14px-white-head, .text .citrix-reg-14px-white-head {
		@include rem-px(font-size, (12px));
		@include rem-px(line-height, (16px));
	}
	#CQrte .citrix-reg-18px-green-head, .text .citrix-reg-18px-green-head {
		@include rem-px(font-size, (14px));
		@include rem-px(line-height, (23px));
	}
	#CQrte .citrix-reg-20px-grey-head, .text .citrix-reg-20px-grey-head {
		@include rem-px(font-size, (18px));
		@include rem-px(line-height, (20px));
	}
	#CQrte .citrix-reg-22px-white-text, .text .citrix-reg-22px-white-text {
		@include rem-px(font-size, (16px));
		@include rem-px(line-height, (20px));
	}
	#CQrte .citrix-reg-32px-darkGreen-head, .text .citrix-reg-32px-darkGreen-head {
		@include rem-px(font-size, (28px));
	}
	#CQrte .citrix-reg-32px-white-head, .text .citrix-reg-32px-white-head {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (22px));
	}
	#CQrte .citrix-reg-38px-darkGrey-head, .text .citrix-reg-38px-darkGrey-head {
		@include rem-px(font-size, (26px));
		@include rem-px(line-height, (32px));
		@include rem-px(padding-top, (16px));
	}
}