//--------------------------
// Column Control
//--------------------------

.rowC {
	.columns {
		padding: 0;
	}
	
	&:after {
		clear: both;
	}
	
	&:before, &:after {
	    content: " ";
	    display: table;
	}
}

@media #{$large-up} {
	.row {
		&.align-left {
			margin-left: 0;
			margin-right: 0;
		}
	}
}