//------------------------------------------------------
// Floating Footer
//------------------------------------------------------

.floatingFooter {
	background: #2c323a;
	bottom: 0;
	display: none;
	//@include rem-px(max-height,(65px));
	padding: 0;
	position: fixed;
	vertical-align: middle;
	width: 100%;
	z-index: 100;
	
	&.mainMessageOnly {
		@include rem-px(padding,(0 26px));
	}
	
	.message {
		color: #8894a4;
		@include rem-px(font-size,(15px));
		@include rem-px(line-height,($nav-height));
		@include rem-px(margin-left,(26px));
		@include rem-px(max-height,(65px));
		overflow: hidden;
		
		a {
			color: #8894a4;
			&:hover {
				color: #fff;
			}
		}
		&.main {
			float: left;
			@include rem-px(max-width,(470px));
		}
		&.support {
			float: right;
			@include rem-px(margin-right,(26px));
			@include rem-px(max-width,(224px));
		}
		
		&.only {
			float: none;
			@include rem-px(font-size,(18px));
			margin: 0;
			max-width: none;
			text-align: center;
			
			a {
				color: #78be20;
				&:hover {
					color: #94db14;
				}
			}
		}
		
		span {
			@include rem-px(line-height,($nav-height));
			vertical-align: middle;
			
			&.phone:before, &.chat:before {
				font-family: icons;
			}
			&.phone:before {
				content: "\e622";
				@include rem-px(line-height,($nav-height));
			}
			&.chat:before {
				content: "\e633";
			}
		}
	}
	.button {
		float: right;
		@include rem-px(line-height,($nav-height));
		@include rem-px(margin,(0 26px 0 22px));
	}
}

// Author view
.cq-wcm-edit {
	.floatingFooter {
		display: block;
		position: relative;
	}
}

.footerSiteMap {
	position: relative;
	z-index: 101;
	color:#B0B0B0;
	@include rem-px(font-size,(11px));

	a {
		color:#B0B0B0;
		@include rem-px(font-size,(11px));
	}
	.sep {
		@include rem-px(padding,(0 8px));
	}
}

@media #{$medium-only} {
	.floatingFooter {
	}
}
@media #{$small-only} {
	.floatingFooter {
		overflow: hidden;
	}
}
