//----- Homepage Styles -----
.homepage-features {
	tr {
		td:first-child {
			vertical-align: top;
		}
		td {
			p {
				padding: 0 50px 36px 10px;
			}
		}
	}
}

@media #{$medium-up} {
	.homepage-features {
		tr {
			td {
				p {
					padding: 0 50px 52px 10px;
				}
			}
		}
	}
}

@media #{$large-up} {
	.homepage-features {
		tr {
			td {
				p {
					padding: 0 50px 72px 10px;
				}
			}
		}
	}
}