//--------------------
// IE Browser Support
//--------------------

#ieSupportMsg {
	background: $color-white;
	
	.container {
		background: url($filepath-CSSImages +"/iebroswer.gif") no-repeat center top;
		height: 44px;
		margin: 0 auto;
		padding-bottom: 10px;
		width: 100%;
	}
}
 