//------------------------------------------------
//    Logo
//------------------------------------------------

.logo {
	span {
		background: url("#{$filepath-CSSImages}/ShareConnect-Logo-Desktop.png") no-repeat;
		@include logo-position();
		height: 52px;
		width: 268px;
	}
}

@media #{$small-only} {
	.logo {
		span {
			background: url("#{$filepath-CSSImages}/ShareConnect-Logo-Mobile.png") no-repeat;
			@include logo-position();
			height: 52px;
			width: 65px;
		}
	}
}