
.planAndPricing {
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	width:100%;
	.row .row {
	    margin: 0;
	}
	h3 {
		display: none;
	}
    .features{
		background-color:$background-pricing-feature-list;
		color:$color-pricing-feature-list;
		font-size:18px;
	    padding: 20px 0;
	}
	ul, ul.active {
		font-family: $font-GlobalFamily;
		list-style: none;
		margin: 37px auto 5px;
		width: 100%;
	}
	ul li, ul.active li {
		width: 100%;
	}

	ul {
		li.head {
			background:$background-pricing-spotlight-head-default;
			@include rem-px(font-size,(24px));
			line-height: 50px;
			&.fix-header {
				position: fixed;
				top: 67px;
				z-index: 999;
			}
		}
		li.content {
			background: $background-pricing-inner-spotlight-default;
			@include rem-px(height,(229px));
		}
		&.active {
			margin: 0 0 5px;

			li.callout {
				background: $background-pricing-most-popular;
				@include rem-px(font-size,(14px));
				@include rem-px(line-height,(37px));
				position: relative;
				text-transform: uppercase;

				&:after, &:before {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					border-top-color: $background-pricing-most-popular;
					border-width: 8px;
					@include rem-px(margin-left,(-8px));
				}
			}
			li.content {
				background: $background-pricing-inner-spotlight;
			}
			li.head {
				background: $background-pricing-spotlight-head;
			}
		}
	}
	.pricing {
		@include rem-px(font-size,(18px));
		@include rem-px(padding,(20px 8px));
		p {
			.last {
				@include rem-px(margin-top,(110px));
			}
			.messages {
				font-size:18px;
				height:auto;
				@include rem-px(line-height,(18px));
				margin: auto;
				width: 90%;
			}
		}
		p.messages {
			a, a:hover, a:focus {
				color: $color-white;
				text-decoration: underline;
			}
		}
		.price {
			margin: 0px auto 6px 119px;
		}
		.number {
			float: left;
			@include rem-px(font-size,(90px));
			letter-spacing: -5px;
			@include rem-px(margin-top,(12px));
			width: auto;
		}
		.duration {
			float: left;
			@include rem-px(margin,(24px 0 0 0));
			position: relative;
			width: auto;
			p {
				@include rem-px(font-size,(20px));
				height: 32px;
				letter-spacing: 0.1px;
				margin: 0 0 0 5px;
				top:10px;
				position: relative;
			}
			span {
				display: inline-block;
				@include rem-px(font-size,(11px));
			}
		}
		sup {
			@include rem-px(font-size,(27px));
			@include rem-px(margin-right,(0px));
			top: -45px !important;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
		@include rem-px(font-size,(14px));
	}	
	.compareTable {
		display: none;
	}
}


@media #{$medium-only} {
	#planandpricing, .mainContent .planFeaturesContainer {
		@include rem-px(padding,(0 20px));
	}
	.planAndPricing {
		width: 100%;
		
		.features{
			font-size:15px;
	    	padding: 25px 0;
		}
		
		ul, ul.active {
			@include rem-px(margin-top,(21px));
		}
		ul {
			&.active {
				margin-top: 0;
			}
			li {
				&.head {
					@include rem-px(font-size,(19px));
					font-weight: bold;
					line-height: 28px;
					padding: 8px 0;
				}
				&.content {
					height: 147px;
				}
			}
			&.active li.callout {
				@include rem-px(font-size,(11px));
				line-height: 21px;
				padding: 5px 0;

				&:after, &:before {
					border-width: 8px;
					@include rem-px(margin-left,(-8px));
				}
			}
		}
		.pricing {
			@include rem-px(padding,(6px 3px));
			@include rem-px(font-size,(8px));

			p {
				&.messages {
				    font-size:13px;
					margin: auto;
					@include rem-px(margin-bottom,(5px),'!important');
					width: 100%;
				}
				&.last {
					@include rem-px(margin-top,(110px));
				}
			}
			.price {
				margin: 0 auto 6px;
				padding:5px 0 0 27%;
			}
			.number {
				@include rem-px(font-size,(55px));
				letter-spacing: -3px;
				@include rem-px(margin-top,(5px));
			}
			.duration {
				@include rem-px(margin,(8px 0 0 4px));
				p {
					@include rem-px(font-size,(19px));
					height: 8px;
					top:8px;
				}
				span {
					@include rem-px(font-size,(8px));
					@include rem-px(padding-left,(1px));
				}
			}
			sup {
				@include rem-px(font-size,(25px));
				top: -23px !important;
			}
		}
	}
	.planFeaturesContainer .planAndPricing {
		.left-row {
			@include rem-px(font-size,(10px));
			@include rem-px(padding,(0 2px 5px 16px));
			text-align: left;
			&:before {
				left: 10px;
			}
		}
		.row {
			p {
				@include rem-px(font-size,(12px));
			}
		}
		.features p {
			border: 0;
			@include rem-px(font-size,(10px));
			@include rem-px(line-height,(17px));
			@include rem-px(padding,(20px 30px));
		}
	}
	.planFeaturesContainer .planAndPricing .left-row span:before, .planAndPricing .compareTable .left-row span:before {
		font-size: 10px;
		left: 10px;
	}
}

@media #{$small-only} {
	.planAndPricing {
		margin: 20px auto 0;
		width: 90%;

		h3 {
			color: $color-black;
			@include rem-px(font-size,(24px));
			margin: auto;
			word-wrap: break-word;
		}
		ul, ul.active {
			width: 250px;
		}
		ul {
			&.active {
				margin: 0 auto 0;
				li.view-features {
					background: $color-grey8 !important;
				}
			}
			li.view-features {
				cursor: pointer;
				text-decoration: underline;
			}
			li.content {
				height: auto;
			}
		}
		
		.pricing {
			.price{
				margin: 0px auto 6px 40px;	
			}
		}
	}
}