//------------------------------------------------
//    Try Form
//------------------------------------------------

.tryForm {
	position: relative;
	.lpTryForm {
	
	form {
		input[type="text"], input[type="text"]:focus, input[type="password"] {
			background: $color-grey13;
			border: 3px solid $color-grey13;
			box-shadow: none;
			color: $color-white;;
			font-family: $font-GlobalFamilyTertiary;
			@include rem-px(font-size,(22px));
			@include rem-px(height,(60px));
			margin-bottom:3px !important;
			padding: 0 0 0 1.5625rem;
			text-align: left;
		}
		label[class^="icon-"]:before {
			@include rem-px(font-size,(16px));
			left: 10px;
			position: absolute;
			top: 23px;
		}
		input.invalid {
			border: 3px solid $color-red;
		}
		*::-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-moz-placeholder {
			opacity: 0.4;
		}
		*::-webkit-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-webkit-input-placeholder {
			opacity: 0.4;
		}
		*:-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus:-moz-placeholder {
			opacity: 0.4;
		}
		input:-ms-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
		input.error {
			border: 3px solid $color-red !important;
			font-weight: normal;
		}

		.textfield:first-child {
			float: left;
			width: 50%;
		}
		.textfield:nth-child(2) {
			float: left;
			width: 50%;
			@include rem-px(padding-left,(3px));
		}
		.textfield:nth-child(3) {
			@include clearfix();
		}
		
		input[type="submit"] {
			width:100%;
			max-width:100%;
			margin-left:0
		}
		
	}
	.medium-view {
		margin: 0 0 0 0;
	}
	.button {
		background: $color-green5;
		border: 0;
		color: $color-white;
		display: block;
		float: left;
		@include rem-px(font-size,(22px));
		@include rem-px(line-height,(48px));
		margin: 3px 0 15px;
		text-align: center;
		width: 100% !important;
	}
	.err {
		display: none;
		background: $color-red;
		color: $color-white;
		@include rem-px(line-height,(60px));
		margin: 12px 0;
		position: relative;

		-webkit-animation: errFadeIn 1s;
		animation: errFadeIn 1s;

		&:before {
			content:" ";
			position: absolute;
			right:0;
			left:0;
			top:-12px;
			z-index: 1;
			width: 0;
			height: 0;
			margin: 0 auto;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid $color-red;
		}
	}

	#formErrorMsg{
		display:none;
	}
	.error-message {
		display: none;
		background: $color-red;
		color: $color-white;
		left:0;
		@include rem-px(line-height,(60px));
		margin: 12px 0;
		position: absolute;
		top: -85px;
		right: 0;
		text-align: center;
		z-index: 1;
		width: 100%;
		max-width:100%;

		-webkit-animation: errFadeIn 1s;
		animation: errFadeIn 1s;

		.icon-Warning {
			color: #FBE11F;
			margin-right: 8px;
		}

		&:before {
			content:" ";
			position: absolute;
			right: 0;
			left: 49%;
			bottom:-12px;
			top:auto;
			z-index: 1;
			width: 0;
			height: 0;
			margin: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 12px solid $color-red;
		}
	}
	.password-message {
		background: #edeef0;
		color: #586472;
		display: none;
		@include rem-px(line-height, (21px));
		@include rem-px(margin-bottom, (3px));
		@include rem-px(margin-left, (-8px));
		margin-bottom: 3px;
		@include rem-px(padding, (20px 10px 0));
		@include rem-px(font-size, (12px));
		position:relative;
		text-align: left;
		top: 0;
		right: -10px;
		width: 100%;
		
		&.passed {
			@include rem-px(padding, (10px 65px 10px 10px));
			&:after {
				content:"\e631";
				color: #67B64C;
				font-family: $font-GlobalIcons;
				@include rem-px(font-size, (18px));
				position: absolute;
				right: 15px;
				top: 22px;
			}
		}
	}
	.notch {
		bottom:-12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid #edeef0;
		height: 0;
		right:40px;
		z-index: 1;
		width: 0;
	}
	
	.trial-form-content {
			position: relative;
			.columns {
				padding-left: 2px;
				padding-right: 2px;
				width: 100%;
			}
		}
	
	.row{
		width:100%;
		max-width:100%;
		
		&.row{
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

}
	form {
		font-family: $font-GlobalFamily;
		@include rem-px(font-size, (16px));
		input[type="text"] {
			background-color: rgba(239, 239, 239, .6);
			border: none;
			color: $color-white;
			@include rem-px(padding, (13px));
			height: auto;
		}
		input[type="password"] {
			background-color: rgba(239, 239, 239, .6);
			border: none;
			color: $color-white;
			padding: 13px;
			height: auto;
		}		
		input[type="submit"] {
			background: #5fc487;
			border: 0;
			color: $color-white;
			@include rem-px(padding, (12px));
			min-width: 240px;
			max-width: 419px;
			margin-left: 5px;
			width: 100%;
		}
		input.error {
			border: 3px solid $color-red !important;
			font-weight: normal;
			text-align: left;
		}
		input.disabled {
			background: #5fc487 url('#{$filepath-CSSImages}/progress.gif') no-repeat 50% 50% !important;
			text-indent: -10000px;
		}
		*::-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-moz-placeholder {
			opacity: 0.4;
		}
		*::-webkit-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus::-webkit-input-placeholder {
			opacity: 0.4;
		}
		*:-moz-placeholder {
			color: $color-white;
			opacity: 1;
		}
		*:focus:-moz-placeholder {
			opacity: 0.4;
		}
		input[type="text"]:-ms-input-placeholder, 
		input[type="password"]:-ms-input-placeholder, 
		input[type="email"]:-ms-input-placeholder {
			color: $color-white;
			opacity: 1;
		}
		input[type="text"]:focus:-ms-input-placeholder,
		input[type="password"]:focus:-ms-input-placeholder,
		input[type="email"]:focus:-ms-input-placeholder {
			opacity: 0.4;
		}
	}

	.err {
		display: none;
		background: $color-red;
		color: $color-white;
		line-height:60px;
		margin: 12px 0;
		position: relative;

		-webkit-animation: errFadeIn 1s;
		animation: errFadeIn 1s;

		&:before {
			content:" ";
			position: absolute;
			right:0;
			left:0;
			top:-12px;
			z-index: 1;
			width: 0;
			height: 0;
			margin: 0 auto;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid $color-red;
		}
	}

	.error-message {
		display: none;
		background: $color-red;
		color: $color-white;
		line-height:60px;
		margin: 12px 0;
		position: absolute;
		top: -85px;
		left: 6px;
		right: 0;
		text-align: center;
		z-index: 1;
		width: 410px;
		max-width: 450px;

		-webkit-animation: errFadeIn 1s;
		animation: errFadeIn 1s;

		.icon-Warning {
			color: #FBE11F;
			margin-right: 8px;
		}

		&:before {
			content:" ";
			position: absolute;
			right: 0;
			left: 20px;
			bottom:-12px;
			top:auto;
			z-index: 1;
			width: 0;
			height: 0;
			margin: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 12px solid $color-red;
		}
	}

	.extraTextfirst {
		color:#B0B0B0;
		@include rem-px(font-size,(10px));
		text-align: center;

		a {
			color: $color-green5;

			&:hover {
				color: $link-color-hover;
			}
		}
	}

	.columns {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
	.trial-form-content {
			position: relative;
			.columns {
				width: 20%;
			}
		}
	.trial-form-button-container {
		padding-left: 0.3rem;

		input[type="submit"] {
			float: left;
		}
	}
	.password-message {
		background: #edeef0;
		color: #586472;
		display: none;
		@include rem-px(line-height, (21px));
		margin-bottom: 3px;
		@include rem-px(padding, (20px 10px));
		position: absolute;
		@include rem-px(font-size, (12px));
		text-align: left;
		top: -75px;
		right: -10px;
		width: 565px;
		
		&.passed {
			@include rem-px(padding, (10px 65px 10px 10px));
			&:after {
				content:"\e631";
				color: #67B64C;
				font-family: $font-GlobalIcons;
				@include rem-px(font-size, (18px));
				position: absolute;
				right: 15px;
				top: 22px;
			}
		}
	}
	.notch {
		bottom:-12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid #edeef0;
		height: 0;
		position: absolute;
		right:40px;
		z-index: 1;
		width: 0;
	}


}
@media #{$medium-up} {
	.tryForm {
		form {
			input[type="submit"] {
				min-width: 0;
			}
			.extraTextfirst {
				@include rem-px(margin-top, (0px));
			}
		}
		.trial-form-button-container {
			padding-left: 0;

			input[type="submit"] {
				float: none;
			}
		}
	}
}
@media #{$medium-only} {
	.tryForm {
		form {
			input[type="text"] {
				margin-bottom: 10px !important;
			}
			input[type="submit"] {
				margin-left: 8px;
			}
		}
		.trial-form-content .columns {
			width: 33.33%;
		}
		.medium-view {
			margin: 0 0 0 16%;
		}
		.password-message {
			left: 10px;
		}
		.notch {
			left: 40px;
			right: 0px;
		}
		.tryForm .error-message {
			margin: 0 auto;
			left: 0;
			top: -73px;
			width: 450px;
		}
		.tryForm .error-message:before {
			left: 0;
			margin: 0 auto;
		}
	}
}
@media #{$small-only} {
	.tryForm {
		.lptryForm{
			.trial-form-content {
				position: relative;
				.columns {
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}
			}
		}
		form {
			.columns {
				padding-right: 0;
				padding-left: 0;
			}
			input[type="text"] {
				margin: 0 0 0.125rem;
			}
			input[type="submit"] {
				min-width: 0;
				border-radius: 0;
				margin-left: 0px;
			}
			.extraTextfirst {
				@include rem-px(padding-top, (10px));
				@include rem-px(padding-left, (20px));
				@include rem-px(padding-right, (20px));
			}
		}
		.trial-form-button-container {
			padding-left: 0;

			input[type="submit"] {
				float: none;
				max-width: 100%;
				margin-top: 10px;
			}
		}
		.trial-form-content .columns {
				width: 100%;
		}
		.password-message.passed {
			padding: 10px 65px 10px 10px;
		}
		.password-message {
			padding: 10px;
			top: -75px;
			width: 100%;
		}
		.error-message {
			left: 0;
			line-height: 25px;
			margin: 0 auto;
			padding: 10px 0;
			top: -83px;
			width: 100%;
		}
		.error-message:before {
			left: 0px;
			margin: 0 auto;
		}
	}
}
