//-----------------------------------
// Citrix Fonts Unity
//-----------------------------------

[data-icon]:before {
  font-family: $font-GlobalIcons !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-size:28px;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: $font-GlobalIcons !important;
  font-style: normal !important;
  font-size:28px;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-bullets:before {
  content: "\e800";
}
.icon-after-class:before {
  content: "\e900";
}
.icon-before-class:before {
  content: "\e901";
}
.icon-certificate:before {
  content: "\e902";
}
.icon-during-class:before {
  content: "\e903";
}
.icon-playmovie:before {
  content: "\e904";
}
.icon-reporting:before {
  content: "\e905";
}
.icon-menu-bullets:before {
  content: "\e800";
}

.icon-Classroom:before {
  content: "\e6a9";
}
.icon-Distribute:before {
  content: "\e6aa";
}
.icon-Engage:before {
  content: "\e6ab";
}
.icon-Practice:before {
  content: "\e6ac";
}
.icon-Results:before {
  content: "\e6ad";
}
.icon-Small-group:before {
  content: "\e6ae";
}
.icon-Train:before {
  content: "\e6af";
}
.icon-Cut:before {
  content: "\e6a8";
}
.icon-check-mark:before {
  content: "\e6a7";
}
.icon-session-recording:before {
  content: "\e6a6";
}
.icon-BuiltInAudio:before {
  content: "\e6a5";
}
.icon-getstarted:before {
  content: "\e6a2";
}
.icon-Heard:before {
  content: "\e6a3";
}
.icon-SeeAndSeen:before {
  content: "\e6a4";
}
.icon-Present-Engage:before {
  content: "\e6a1";
}
.icon-PresentEngage:before {
  content: "\e651";
}
.icon-PlanPromote:before {
  content: "\e6a0";
}
.icon-Multi-User:before {
  content: "\e69f";
}
.icon-Graph-Man:before {
  content: "\e69b";
}
.icon-Info-Icon:before {
  content: "\e69c";
}
.icon-Chat-Icon:before {
  content: "\e69d";
}
.icon-Play:before {
  content: "\e693";
}
.icon-uniE69E:before {
  content: "\e69e";
}
.icon-LeftArrow:before {
  content: "\e694";
}
.icon-RightArrow2:before {
  content: "\e695";
}
.icon-PDF-c:before {
  content: "\e696";
}
.icon-PDF-b:before {
  content: "\e697";
}
.icon-PDF-a:before {
  content: "\e698";
}
.icon-Favorite-b:before {
  content: "\e699";
}
.icon-Favorite-a:before {
  content: "\e69a";
}
.icon-address-book:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e601";
}
.icon-buildings:before {
  content: "\e602";
}
.icon-cap:before {
  content: "\e603";
}
.icon-chat-filled:before {
  content: "\e604";
}
.icon-cloud-filled:before {
  content: "\e605";
}
.icon-crown:before {
  content: "\e606";
}
.icon-expand:before {
  content: "\e607";
}
.icon-social-facebook:before {
  content: "\e608";
}
.icon-facebook:before {
  content: "\e609";
}
.icon-flag:before {
  content: "\e60a";
}
.icon-social-google:before {
  content: "\e60b";
}
.icon-google-plus:before {
  content: "\e60c";
}
.icon-gotomeeting:before {
  content: "\e60d";
}
.icon-hand-down:before {
  content: "\e60e";
}
.icon-hand-left:before {
  content: "\e60f";
}
.icon-hand-right:before {
  content: "\e610";
}
.icon-hand-up:before {
  content: "\e611";
}
.icon-heart:before {
  content: "\e612";
}
.icon-key:before {
  content: "\e613";
}
.icon-launch-app:before {
  content: "\e614";
}
.icon-social-linkedin:before {
  content: "\e615";
}
.icon-linkedin:before {
  content: "\e616";
}
.icon-openvoice:before {
  content: "\e617";
}
.icon-ribbon:before {
  content: "\e618";
}
.icon-share:before {
  content: "\e619";
}
.icon-shopping-card:before {
  content: "\e61a";
}
.icon-signs:before {
  content: "\e61b";
}
.icon-thumbs-up:before {
  content: "\e61c";
}
.icon-tv:before {
  content: "\e61d";
}
.icon-social-twitter:before {
  content: "\e61e";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-user-filled:before {
  content: "\e620";
}
.icon-social-youtube:before {
  content: "\e621";
}
.icon-youtube:before {
  content: "\e622";
}
.icon-plane:before {
  content: "\e623";
}
.icon-analytics:before {
  content: "\e624";
}
.icon-architecture:before {
  content: "\e625";
}
.icon-audio:before {
  content: "\e626";
}
.icon-box:before {
  content: "\e627";
}
.icon-briefcase:before {
  content: "\e628";
}
.icon-briefcase-alt:before {
  content: "\e629";
}
.icon-building:before {
  content: "\e62a";
}
.icon-calculator:before {
  content: "\e62b";
}
.icon-calendar:before {
  content: "\e62c";
}
.icon-chain:before {
  content: "\e62d";
}
.icon-chat:before {
  content: "\e62e";
}
.icon-chat-alt:before {
  content: "\e62f";
}
.icon-chats:before {
  content: "\e630";
}
.icon-check-alt:before {
  content: "\e631";
}
.icon-check:before {
  content: "\e632";
}
.icon-clock:before {
  content: "\e633";
}
.icon-cancel-alt:before {
  content: "\e634";
}
.icon-cancel:before {
  content: "\e635";
}
.icon-collaboration:before {
  content: "\e636";
}
.icon-construction:before {
  content: "\e637";
}
.icon-document1:before {
  content: "\e638";
}
.icon-document2:before {
  content: "\e639";
}
.icon-documents1:before {
  content: "\e63a";
}
.icon-documents2:before {
  content: "\e63b";
}
.icon-down_circle:before {
  content: "\e63c";
}
.icon-down-open:before {
  content: "\e63d";
}
.icon-down2:before {
  content: "\e63e";
}
.icon-down3:before {
  content: "\e63f";
}
.icon-download1:before {
  content: "\e640";
}
.icon-download2:before {
  content: "\e641";
}
.icon-mail:before {
  content: "\e642";
}
.icon-e-mail2:before {
  content: "\e643";
}
.icon-e-mail3:before {
  content: "\e644";
}
.icon-engineering:before {
  content: "\e645";
}
.icon-finance:before {
  content: "\e646";
}
.icon-folder:before {
  content: "\e647";
}
.icon-widget:before {
  content: "\e648";
}
.icon-widget-alt:before {
  content: "\e649";
}
.icon-globe:before {
  content: "\e64a";
}
.icon-globe-alt:before {
  content: "\e64b";
}
.icon-graph:before {
  content: "\e64c";
}
.icon-headphones:before {
  content: "\e64d";
}
.icon-healthcare:before {
  content: "\e64e";
}
.icon-help:before {
  content: "\e64f";
}
.icon-insurance:before {
  content: "\e650";
}
.icon-leave:before {
  content: "\e652";
}
.icon-left_circle:before {
  content: "\e653";
}
.icon-left-open:before {
  content: "\e654";
}
.icon-legal:before {
  content: "\e655";
}
.icon-lightbulb:before {
  content: "\e656";
}
.icon-bolt:before {
  content: "\e657";
}
.icon-list:before {
  content: "\e658";
}
.icon-lock_daisy:before {
  content: "\e659";
}
.icon-lock:before {
  content: "\e65a";
}
.icon-loop:before {
  content: "\e65b";
}
.icon-manufacturing:before {
  content: "\e65c";
}
.icon-hamburger:before {
  content: "\e65d";
}
.icon-minus:before {
  content: "\e65e";
}
.icon-networking:before {
  content: "\e65f";
}
.icon-pen:before {
  content: "\e660";
}
.icon-phone-alt:before {
  content: "\e661";
}
.icon-outline-phone:before {
  content: "\e662";
}
.icon-phone:before {
  content: "\e663";
}
.icon-play_video:before {
  content: "\e664";
}
.icon-play:before {
  content: "\e665";
}
.icon-plus:before {
  content: "\e666";
}
.icon-presentation1:before {
  content: "\e667";
}
.icon-presentation2:before {
  content: "\e668";
}
.icon-presentation3:before {
  content: "\e669";
}
.icon-questions:before {
  content: "\e66a";
}
.icon-real_estate:before {
  content: "\e66b";
}
.icon-record:before {
  content: "\e66c";
}
.icon-right_circle:before {
  content: "\e66d";
}
.icon-right-open:before {
  content: "\e66e";
}
.icon-rocket-1:before {
  content: "\e66f";
}
.icon-rss:before {
  content: "\e670";
}
.icon-savings:before {
  content: "\e671";
}
.icon-citirx-search-alt:before {
  content: "\e672";
}
.icon-citirx-search:before {
  content: "\e673";
}
.icon-citirx-search-money:before {
  content: "\e674";
}
.icon-share2:before {
  content: "\e675";
}
.icon-slide1:before {
  content: "\e676";
}
.icon-slide2:before {
  content: "\e677";
}
.icon-star:before {
  content: "\e678";
}
.icon-stopwatch:before {
  content: "\e679";
}
.icon-cloud:before {
  content: "\e67a";
}
.icon-cloud-alt:before {
  content: "\e67b";
}
.icon-sync:before {
  content: "\e67c";
}
.icon-plans-pricing:before {
  content: "\e67d";
}
.icon-plans-pricing-alt:before {
  content: "\e67e";
}
.icon-tap:before {
  content: "\e67f";
}
.icon-thought:before {
  content: "\e680";
}
.icon-tools:before {
  content: "\e681";
}
.icon-transfer:before {
  content: "\e682";
}
.icon-up_circle:before {
  content: "\e683";
}
.icon-up-open:before {
  content: "\e684";
}
.icon-up2:before {
  content: "\e685";
}
.icon-up3:before {
  content: "\e686";
}
.icon-users:before {
  content: "\e687";
}
.icon-user_hdfaces:before {
  content: "\e688";
}
.icon-user_lock:before {
  content: "\e689";
}
.icon-user-add:before {
  content: "\e68a";
}
.icon-user:before {
  content: "\e68b";
}
.icon-users_switch:before {
  content: "\e68c";
}
.icon-video_camera:before {
  content: "\e68d";
}
.icon-video-hd:before {
  content: "\e68e";
}
.icon-video:before {
  content: "\e68f";
}
.icon-attention:before {
  content: "\e690";
}
.icon-write1:before {
  content: "\e691";
}
.icon-write2:before {
  content: "\e692";
}

// component in edit mode
.cq-wcm-edit {
  .fonticon {
    min-height: 80px;
    min-width: 80px;
    border: 1px $color-dark dashed;
  }
}
