//-----------------------------------
// Citrix Fonts
//-----------------------------------

[data-icon]:before {
  font-family: $font-GlobalIcons !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: $font-GlobalIcons !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "c";
}
.icon-login:before {
  content: "f";
}
.icon-user-add:before {
  content: "e";
}
.icon-rss:before {
  content: "h";
}
.icon-mobile:before {
  content: "j";
}
.icon-clock:before {
  content: "k";
}
.icon-attention:before {
  content: "l";
}
.icon-export:before {
  content: "m";
}
.icon-globe:before {
  content: "n";
}
.icon-cancel:before {
  content: "p";
}
.icon-check:before {
  content: "q";
}
.icon-bookmark:before {
  content: "b";
}
.icon-box:before {
  content: "u";
}
.icon-basket:before {
  content: "v";
}
.icon-cloud:before {
  content: "w";
}
.icon-comment:before {
  content: "x";
}
.icon-lamp:before {
  content: "B";
}
.icon-left-open:before {
  content: "C";
}
.icon-down-open:before {
  content: "D";
}
.icon-right-open:before {
  content: "E";
}
.icon-monitor:before {
  content: "F";
}
.icon-mail:before {
  content: "G";
}
.icon-plus:before {
  content: "I";
}
.icon-popup:before {
  content: "J";
}
.icon-citirx-publish:before {
  content: "K";
}
.icon-citirx-star:before {
  content: "L";
}
.icon-citirx-tag:before {
  content: "N";
}
.icon-citirx-up-open:before {
  content: "Q";
}
.icon-citirx-flag:before {
  content: "o";
}
.icon-graduation-cap:before {
  content: "s";
}
.icon-key:before {
  content: "t";
}
.icon-chat-left:before {
  content: "S";
}
.icon-heart:before {
  content: "T";
}
.icon-cloud-1:before {
  content: "U";
}
.icon-email-plane:before {
  content: "V";
}
.icon-youtube:before {
  content: "W";
}
.icon-gplus:before {
  content: "X";
}
.icon-facebook:before {
  content: "y";
}
.icon-up-arrow:before {
  content: "z";
}
.icon-widget:before {
  content: "O";
}
.icon-mail-2:before {
  content: "P";
}
.icon-thumbs-up:before {
  content: "R";
}
.icon-citirx-search:before {
  content: "Z";
}
.icon-bolt:before {
  content: "Y";
}
.icon-phone:before {
  content: "s";
}
.icon-mail:before {
  content: "t";
}
.icon-widget:before {
  content: "b";
}
.icon-up-open:before {
  content: "o";
}
.icon-down-open:before {
  content: "u";
}
.icon-left-open:before {
  content: "v";
}
.icon-right-open:before {
  content: "w";
}
.icon-fontawesome-webfont-1:before {
  content: "y";
}
.icon-magnifying-glass:before {
  content: "z";
}
.icon-magnifying-glass:before {
  content: "x";
}
.icon-search:before {
  content: "z";
}
.icon-address-book:before {
  content: "A";
}
.icon-address:before {
  content: "B";
}
.icon-star-empty:before {
  content: "C";
}
.icon-star:before {
  content: "D";
}
.icon-facebook:before {
  content: "E";
}
.icon-fontawesome-webfont-2:before {
  content: "G";
}
.icon-fontawesome-webfont-3:before {
  content: "H";
}
.icon-bubble:before {
  content: "r";
}
.icon-fontawesome-webfont-4:before {
  content: "F";
}
.icon-citirx-star-empty:before {
  content: "I";
}
.icon-gplus:before {
  content: "d";
}
.icon-flag:before {
  content: "I";
}
.icon-bookmark:before {
  content: "J";
}
.icon-cloud:before {
  content: "K";
}
.icon-fontawesome-webfont-5:before {
  content: "L";
}
.icon-fontawesome-webfont-6:before {
  content: "M";
}
.icon-fontawesome-webfont-7:before {
  content: "N";
}
.icon-fontawesome-webfont-8:before {
  content: "O";
}
.icon-fontawesome-webfont-9:before {
  content: "P";
}
.icon-lightbulb:before {
  content: "Q";
}
.icon-bolt:before {
  content: "a";
}
.icon-crown:before {
  content: "R";
}
.icon-check-1:before {
  content: "S";
}
.icon-outline-phone:before {
  content: "0";
}
.icon-learn-more:before {
  content: "1";
}
.icon-rocket-1:before {
  content: "2";
}
.icon-right-arroyo:before {
  content: "3";
}
.icon-left-arrow:before {
  content: "4";
}
.icon-g2mwt:before {
  content: "5";
}
.icon-openvoice:before {
  content: "6";
}
.icon-plans-pricing:before {
  content: "7";
}
.icon-join:before {
  content: "8";
}
.icon-hamburger:before {
  content: "9";
}
.icon-world-footer:before {
  content: "!";
}
.icon-close:before {
  content: "\"";
}
.icon-up:before {
  content: "#";
}
.icon-video:before {
  content: "$";
}
.icon-phone:before {
  content: "%";
}
.icon-play:before {
  content: "&";
}
.icon-social-google:before {
  content: "'";
}
.icon-social-youtube:before {
  content: "(";
}
.icon-social-twitter:before {
  content: ")";
}
.icon-social-facebook:before {
  content: "*";
}
.icon-plus:before {
  content: "T";
}
.icon-minus:before {
  content: "+";
}
.icon-person:before {
  content: ",";
}
.icon-mail-1:before {
  content: "-";
}
.icon-phone-1:before {
  content: ".";
}
.icon-city:before {
  content: "/";
}
.icon-top:before {
  content: "i";
}
.icon-down:before {
  content: ":";
}
.icon-share:before {
  content: ";";
}
.icon-checkbox:before {
  content: "<";
}
.icon-down-arroyo:before {
  content: "=";
}
.icon-none:before {
	content: "";
}
.icon-phone-traditional:before {
  content: "s";
}
//CSS FIXES
.icon-close {
  cursor: pointer;
  float: right;
  height: 16px;
  margin: 10px;
  width: 16px;
}