// -----------------
// 	extend.scss
// 	Define all @extend here
// -----------------

%display-block {
	display: block;
}
%display-inline-block {
	display: inline-block;
}
%clear-both {
	clear: both;
}
%margin-0-auto {
	margin: 0 auto;
}