// ----------------------------------
// 	mixins.scss
// 	Global SASS mixins - These vars are used in all sass stylesheets
// 	Imported by "base.scss"
// ----------------------------------

// --------------
// Opacity Mixin
// --------------
@mixin opacity($opacity) {
	opacity:$opacity;
	$opacityIE : $opacity*100;
	filter:alpha(opacity=$opacityIE);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityIE + ")";
}

// --------------
// Border Radius Mixin
// --------------
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: rem-calc($radius);
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
	border-top-radius: $radius;
	border-bottom-radius: $radius;
	border-left-radius: $radius;
	border-right-radius: $radius;
}

// --------------
// Logo Position Mixin
// --------------
@mixin logo-position() {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

//------------------------
// Rem to Pixels Fallback
//------------------------
@mixin rem-px($attr,$px-val,$other:"") {
	@if ($px-only) {
		@if $other != "" {
			#{$attr}: $px-val #{$other};
		}@else {
			#{$attr}: $px-val;
		}
	}@else {
		@if $other != "" {
			#{$attr}: rem-calc($px-val) #{$other};
		}@else {
			#{$attr}: rem-calc($px-val);
		}
	}
}

//------------------------
// Colored Arrow
//------------------------
@mixin arrow($arrow-color) {
	border-bottom: 3px solid transparent;
	border-left: 4px solid $arrow-color;
	border-top: 3px solid transparent;
	color: $arrow-color;
	content: '-';
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	@include rem-px(margin,(0,10px,0,0));
	position: relative;
	@include rem-px(text-indent,(-9999px));
	@include rem-px(top,(10px));
	vertical-align: top;
	width: 0;
}

@mixin arrow-big($arrow-color) {
	border-bottom: 5px solid transparent;
	border-left: 6px solid $arrow-color;
	border-top: 5px solid transparent;
	color: $arrow-color;
	content: '>';
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	@include rem-px(margin,(-3px,0,10px,5px));
	position: relative;
	@include rem-px(text-indent,(-9999px));
	@include rem-px(top,(11px));
	vertical-align: top;
	@include rem-px(width,(13px));
}
//------------------------
// Color gradient
//------------------------
@mixin gradient-top-bottom($start,$end,$stop:50%) {
	background-color: $start;
	background: -o-linear-gradient(top, $start $stop, $end 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop($stop, $start), color-stop(100%, $end));
	background: -webkit-linear-gradient(top, $start $stop, $end 100%);
	background: -moz-linear-gradient($stop 100% 90deg, $start, $end);
	background: -ms-linear-gradient(top, $start $stop, $end 100%);
	background: linear-gradient(to bottom, $start $stop,$end 100%);
	filter: progid\: DXImageTransform\.Microsoft\.gradient(startColorstr\= "$start", endColorstr\= "$end", GradientType=0);
}