// Reset
h1,h2,h3,h4,h5,h6 {
  line-height: normal;
  margin:0;
  font-weight: normal;
  font-size: rem-calc($rem-base);
}

.text, #CQrte, .fonticon {
	// -----------------------------
	// Font Sizes
	// -----------------------------
	@for $i from 8 through 48 {
		*[class|="size#{$i}px"], *[class^="size#{$i}px"][class$="size#{$i}px"], *[class$="-size#{$i}px"], *[class*="-size#{$i}px-"] {
			font-size: rem-calc($i);
		}
	}

	// -----------------------------
	// Font Style/Family
	// -----------------------------
	*[class|="normal"],
	*[class^="normal"][class$="normal"],
	*[class$="-normal"],
	*[class*="-normal-"]  {
	  font-family: $font-GlobalFamily;
	}
	*[class|="heavy"],
	*[class^="heavy"][class$="heavy"],
	*[class$="-heavy"],
	*[class*="-heavy-"] {
	  font-family: $font-GlobalFamilySecondary;
	}
	*[class|="italic"],
	*[class^="italic"][class$="italic"],
	*[class$="-italic"],
	*[class*="-italic-"] {
	  font-family: $font-GlobalFamilyItalic;
	}

	// -----------------------------
	// Line Heights
	// -----------------------------

	@for $i from 8 through 48 {
		*[class|="lineheight#{$i}px"], *[class^="lineheight#{$i}px"][class$="lineheight#{$i}px"], *[class$="-lineheight#{$i}px"], *[class*="-lineheight#{$i}px-"] {
	 		line-height: rem-calc($i);
		}
	}

	// -----------------------------
	// Colors
	// -----------------------------

	*[class|="primaryColor"], *[class^="primaryColor"][class$="primaryColor"], *[class$="-primaryColor"], *[class*="-primaryColor-"], .primaryColor {
		color: $color-main;

		&:before{
			color: $color-main;
		}
	}


	*[class|="secondaryColor"], *[class^="secondaryColor"][class$="secondaryColor"], *[class$="-secondaryColor"], *[class*="-secondaryColor-"], .secondaryColor {
		color: $color-main-second;

		&:before{
			color: $color-main-second;
		}
	}


	*[class|="grey"], *[class^="grey"][class$="grey"], *[class$="-grey"], *[class*="-grey-"], .grey {
		color: $color-grey;

		&:before{
			color: $color-grey;
		}
	}


	*[class|="grey2"], *[class^="grey2"][class$="grey2"], *[class$="-grey2"],  *[class*="-grey2-"], .grey2 {
		color: $color-grey2;

		&:before{
			color: $color-grey2;
		}
	}


	*[class|="grey3"], *[class^="grey3"][class$="grey3"], *[class$="-grey3"],  *[class*="-grey3-"], .grey3 {
		color: $color-grey3;

		&:before{
			color: $color-grey3;
		}
	}


	*[class|="black"], *[class^="black"][class$="black"], *[class$="-black"], *[class*="-black-"], .black {
		color: $color-black;

		&:before{
			color: $color-black;
		}
	}


	*[class|="white"], *[class^="white"][class$="white"], *[class$="-white"], *[class*="-white-"], .white {
		color: $color-white !important;

		&:before{
			color: $color-white !important;
		}
	}


	*[class^="red"], *[class^="red"][class$="red"], *[class$="-red"], *[class*="-red-"], .red {
		color: $color-red;

		&:before{
			color: $color-red;
		}
	}
}