html{
	font-size: $rem-base - 6;
}

@media screen and (min-width: 620px){
  html{
	font-size: $rem-base - 6;
  }
}
@media screen and (min-width: 680px){
  html{
	font-size: $rem-base - 5;
  }
}
@media screen and (min-width: 720px){
  html{
	font-size: $rem-base - 4;
  }
}
@media screen and (min-width: 800px){
  html{
	font-size: $rem-base - 3;
  }
}
@media screen and (min-width: 860px){
  html{
	font-size: $rem-base - 2;
  }
}
@media screen and (min-width: 920px){
  html{
	font-size: $rem-base - 1;
  }
}
@media screen and (min-width: 1000px){
  html{
	font-size: $rem-base;
  }
}