//----------------------
// Accordian (FAQ Page)
//----------------------

.toggle-all {
	border-bottom: 1px solid $border-color-accordian;
	padding: 20px;
}

.accordiontitle {
	padding: 0 0 0 20px;
}

.accordian-container {
	margin: 0 auto;
	padding: 0 0 30px 0;
	
	.accordionparsys > .accordionentry.section, .toggle-all {
		border-bottom: 1px solid $border-color-accordian;
		padding-left: 15px;
	}
	
	.category .accordionentry.section {
		margin: 5px 0;
	}
}
.accordionentry {
	.question {
		color: $color-accordian-question;
		@include rem-px(font-size,(22px));
		font-family: $font-GlobalFamily;
		
		div {
			display: inline;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	
	.category {
		margin-top: -7px;
		padding: 0 0 15px 15px;
		
		.category {
			margin-top: 0;
		}
		p {
			line-height: 120%;
		}
	}
	
	.category .text {
		padding: 4px 0;
	}
	
	.text ol {
		margin: 10px 0 0;
		padding-left: 20px;
		
		li {
			padding-bottom: 10px;
		}
	}
	
	.text.odd.minus > div, .text.odd.plus > div {
		color: $color-accordian-question-title;
		cursor: pointer;
		@include rem-px(font-size,(22px));
		padding: 17px 0 17px 0;
	}
	
	.text.odd.minus > div:before, .text.odd.plus > div:before {
		font-family: $font-GlobalIcons;
		@include rem-px(font-size,(20px));
		font-weight: bold !important;
		padding-right: 5px;
	}
}

.toggle-all {
	margin-top: 10px;
	overflow: hidden;
	
	> a {
		color: $color-accordian-showhide-text;
		@include rem-px(font-size,(14px));
		font-weight: bold;
		&:hover {
			color: $color-accordian-showhide-hover;
		}
	}
	
	.toggle-splitter {
		display: inline-block;
		margin: 0 7px;
	}
}

@media #{$large-up} {
	.accordionentry {
		.category {
			p {
				width: 835px;
			}
		}
	}
}
