/*--------------------------------------------------------
	Belt Navigation Styles

--------------------------------------------------------*/

.beltNavigation {
	position: relative;
    z-index: 2;

	.belt-nav {

		.belt-linkmain {
			background: #F1F1F2;
		}

		.belt-subnav {
			.linkList {
				margin-left: 50px;
			}
		}

		ul {
			li {
				list-style: none;

				a {
					color: $belt-font-color;
					display: block;
					padding: 20px 28px;
					font-size: rem-calc(12);
					text-transform: uppercase;
				}

				span[class*="icon-"] {
					padding-right: 6px;
				}
			}
		}
	}
	.belt-subnav {
		background: rgba(255, 255, 255, 0.5);

		ul {
			@include clearfix();
			margin: 0 auto;
			max-width: 1280px;

			li {
				float: left;
				list-style: none;

				a {
					color: $belt-font-color;
					display: block;
					padding: 20px 28px;
					font-size: rem-calc(12);
					text-transform: uppercase;
					font-weight: bold;

					&:hover,
					&.current {
						background: rgba(255, 255, 255, 0.75);
						border-bottom:  3px solid $belt-font-color-hover;
						padding-bottom: 17px;
					}

					&.current {
						color: $belt-font-color-hover;
					}
				}
			}
		}
	}
}
@media #{$medium-only} {
	.beltNavigation {
		.belt-nav {

			.belt-subnav {
				.linkList {
					margin-left: initial;
				}
			}
		}
	}
}
@media #{$small-only} {
	.beltNavigation {
		.belt-nav {
			.belt-subnav {
				-webkit-box-shadow: 0 4px 6px -6px #222;
				-moz-box-shadow: 0 4px 6px -6px #222;
				box-shadow: 0 4px 6px -6px #222;

				ul {

					li {
						float: none;

						a {
							&:hover {

							}
							&.current {
								border-bottom: none;
							}
						}
					}
				}
				.linkList {
					margin-left: 0;
				}
			}
		}
	}
}
