//--------------------------------------------------------
//    Global Block Container Styles
//--------------------------------------------------------

.blockContainer {
    .block-default{
        width: $block-container-width;
        height: $block-container-height;
    }
    .front {
        background: $background-block-front-main;
        height: 100%;

        &.block-lightest {
            border-top: $border-top solid $border-color-block-lightest;
        }
        &.block-light{
            border-top: $border-top solid $border-color-block-light;
        }
        &.block-meduim {
             border-top: $border-top solid $border-color-block-medium;
        }
        &.block-dark {
             border-top: $border-top solid $border-color-block-dark;
        }
        &.block-darkest {
             border-top: $border-top solid $border-color-block-darkest;
        }
    }
    .back {
        background: $background-block-back-main;
    }
}