//--------------------------------------------------------
//    Global Button Styles
//--------------------------------------------------------

.button-container {
    display: inline-block;
    a { 
        display:inline-block;
        &.button {
            &.outlined, &.outlinedPrimary, &.filledPrimary, &.filledPrimaryInverted, &.filledOutlinedPrimary, &.filledOutlinedInverted, &.transparentOutlinedSecondary, &.outlinedLight {
                border-radius: 20px;
                font: $font-GlobalFamily;
                font-size:rem-calc(16);
                padding:rem-calc(8 20);
            }
            &.outlined, &.outlinedPrimary, &.transparentOutlinedSecondary, &.outlinedLight {
                background: transparent;
                border: 2px solid;
            }
            &.filledOutlinedPrimary, &.filledOutlinedInverted {
                border:2px solid;
            }
            &.outlined {
                border-color: $border-color-font-main;
                color: $color-font-main; 
                &:hover {
                    border: 2px solid;
                    border-color: $border-color-button-main;
                    color: $color-button-main;
                }
            }
            &.outlinedPrimary {
                border-color: $border-color-button-main;
                color: $color-button-main;
                &:hover {
                    border-color: $border-color-font-main;
                    color: $color-font-main
                }
            }
            &.outlinedLight {
                border-color: $border-color-button-light;
                color: $color-button-light;
                &:hover {
                    border: 2px solid;
                    border-color: $border-color-main;
                    color: $color-button-hover-light;
                }
            }
            &.filledPrimary, &.filledOutlinedPrimary {
                background: $background-color-button-main;
                color: $color-white;
                &:hover {
                    background: $background-color-button-hover;
                }
            }
            &.filledPrimaryInverted, &.filledOutlinedInverted {
                background: $background-color-main;
                color: $color-button-main;
            }
            &.filledOutlinedPrimary {
                border-color: $border-color-main;
            }
            &.filledOutlinedInverted {
                border-color: $border-color-button-main;
                &:hover {
                    background: $background-color-button-main;
                    color: $color-white;
                }
            }
            &.transparentOutlinedSecondary{
                border-color: $border-color-main;
                color: $color-white;
                &:hover {
                    background: $background-color-secondary-button-main;
                }
            }
        }
    }
    .subText {
        text-align: center;
        font-size: rem-calc(14);
        font: $font-GlobalFamily;
        a {
            color: $color-font-main;
        }
    }
}