//--------------------------
// Column Control
//--------------------------

.colSeparator{
	border-right:1px solid $color-separator;

}

@media #{$medium-only} {
	.colSeparator{
		border-right:none;
	}
}

@media #{$small-only} {
	.colSeparator {
		border-right:none;
	}
}