//------------------------------------------------------
// Section Slant
//------------------------------------------------------
section {
	&.slant {
		position: relative;
	}
	.section-slant-container {
		-moz-transform: scale(.9999);
		-transform: scale(.9999);
		bottom: -86px;
		height: 86px;
		overflow: hidden;
		position: absolute;
		top: auto;
		width: 100%;
		z-index: 1;
		&:before {
			-ms-transform: rotate(-1deg);
			-webkit-transform: rotate(-1deg);
			transform: rotate(-1.8deg);
			content: "";
			display: block;
			height: 80px;
			left: -2%;
			position: relative;
			top: -75%;
			width: 200%;
		}
	}
	.section-slant-over {
		bottom: -43px;
		margin-bottom: -86px;
		position: relative;
		&:after {
			-ms-transform: rotate(-1deg);
			-webkit-transform: rotate(-1deg);
			transform: rotate(-1.8deg);
			content: "";
			display: block;
			height: 80px;
			left: -2%;
			position: relative;
			top: -75%;
			width: 200%;
		}
	}
}

.container {
	//-------------------------------------
	//	Background Color
	//-------------------------------------
	.bg-white {
		background-color: $color-white;
	}
	.bg-gray-lightest {
		background-color: $background-gray-lightest;
	}
	.bg-gray-light {
		background-color: $background-gray-light;
	}
	.bg-gray-medium {
		background-color: $background-gray-medium;
	}
	.bg-gray-dark {
		background-color: $background-gray-dark;
	}
	.bg-gray-darkest {
		background-color: $background-gray-darkest;
	}
	.bg-white-gray-light {
		@include gradient-top-bottom($color-white,$background-gray-light,50%)
	}
	.bg-gradient-footer {
		background: $background-footer-cta-start;
		background: -moz-linear-gradient(-45deg,  $background-footer-cta-start 0%, $background-footer-cta-middle 45%, $background-footer-cta-end 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$background-footer-cta-start), color-stop(45%,$background-footer-cta-middle), color-stop(100%,$background-footer-cta-end));
		background: -webkit-linear-gradient(-45deg,  $background-footer-cta-start 0%,$background-footer-cta-middle 45%,$background-footer-cta-end 100%);
		background: -o-linear-gradient(-45deg,  $background-footer-cta-start 0%,$background-footer-cta-middle 45%,$background-footer-cta-end 100%);
		background: -ms-linear-gradient(-45deg,  $background-footer-cta-start 0%,$background-footer-cta-middle 45%,$background-footer-cta-end 100%);
		background: linear-gradient(135deg,  $background-footer-cta-start 0%,$background-footer-cta-middle 45%,$background-footer-cta-end 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$background-footer-cta-start}', endColorstr='#{$background-footer-cta-end}',GradientType=1 );
	}

	//-------------------------------------
	//	Border Color
	//-------------------------------------
	.border-white {
		border-color: $color-white;
	}
	.border-black {
		border-color: $color-black;
	}
	.border-gray-lightest {
		border-color: $border-gray-lightest;
	}
	.border-gray-light {
		border-color: $border-gray-light;
	}
	.border-gray-medium {
		border-color: $border-gray-medium;
	}
	.border-gray-dark {
		border-color: $border-gray-dark;
	}
	.border-gray-darkest {
		border-color: $border-gray-darkest;
	}

	//-------------------------------------
	//	Border Radius
	//-------------------------------------
	.border-radius10px {
		border-radius: 10px;
	}
	.border-radius15px {
		border-radius: 15px;
	}
	.border-radius20px {
		border-radius: 20px;
	}
	.border-radius100 {
		border-radius: 100%;
		overflow: hidden;
	}

	//-------------------------------------
	//	Alignment
	//-------------------------------------
	.align-left {
		text-align: left;
	}
	.align-center {
		text-align: center;
		&.text-left > div.container-parsys  {
			display: inline-block;
			text-align: left;
		}
	}
	.align-right {
		text-align: right;
	}
	.align-bottom {
		position: relative;
		> div.container_parsys {
			bottom: 0;
			position: absolute;
			width: 100%;
		}
	}

	.vertical-center-large {
		.container_parsys {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}

@media #{$large-up} {
	.container {
		.display-none-large-up {
			display: none;
		}
	}
}
@media #{$medium-only} {
	section {
		.section-slant-wrap:before, .section-slant-over:after {
			-webkit-transform: rotate(-3.5deg);
			transform: rotate(-3.5deg);
		}
	}
	.container {
		//-------------------------------------
		//	Alignment
		//-------------------------------------
		.align-left-medium {
			text-align: left;
		}
		.align-center-medium {
			text-align: center;
			&.text-left-medium > div.container-parsys  {
				display: inline-block;
				text-align: left;
			}
		}
		.align-right-medium {
			text-align: right;
		}
		.align-bottom-medium {
			position: relative;
			> div.container_parsys {
				bottom: 0;
				position: absolute;
				width: 100%;
			}
		}

		.vertical-center-medium {
			.container_parsys {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}

		.display-none-medium-only {
			display: none;
		}
	}
}

@media #{$small-only} {
	section {
		.section-slant-wrap:before, .section-slant-over:after {
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
	}
	.container {
		//-------------------------------------
		//	Alignment
		//-------------------------------------
		.align-left-small {
			text-align: left;
		}
		.align-center-small {
			text-align: center;
			&.text-left-small > div.container-parsys  {
				display: inline-block;
				text-align: left;
			}
		}
		.align-right-small {
			text-align: right;
		}
		.align-bottom-small {
			position: relative;
			> div.container_parsys {
				bottom: 0;
				position: absolute;
				width: 100%;
			}
		}

		.vertical-center-small {
			.container_parsys {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}

		.display-none-small-only {
			display: none;
		}

	}
}

@media #{$xxlarge-up} { 
	section {
		.section-slant-over {
			bottom: -43px;
			margin-bottom: -86px;
			height:110px;
		
			&:after {
				height: 110px;
				top: -70%;
				-webkit-transform: rotate(-2.3deg);
				transform: rotate(-2.3deg);
			}
		}


		.section-slant-container {
			&:before {
				-ms-transform: rotate(-2.0deg);
				-webkit-transform: rotate(-2.0deg);
				transform: rotate(-2.0deg);
				height: 90px;
				top: -104%;
			}
		}
	}
}

.cq-wcm-edit {
	.container {
		.vertical-center-large,
		.vertical-center-medium,
		.vertical-center-small {
			.container_parsys {
				position: initial;
				top: auto;
				-webkit-transform: none;
				transform: none;
			}
		}

		.display-none-large-up,
		.display-none-medium-only,
		.display-none-small-only {
			display: block;
		}
	}
}
