//------------------------------------------------------------------
//    Country Selector
//------------------------------------------------------------------

.countrySelector a.country {
	color: $color-footer-nav;
	font-family: $font-GlobalFamily;
	height: 16px;
	@include rem-px(font-size,(14px));
	@include rem-px(line-height,(26px));
	margin: 13px 0;
	padding: 0 0 0 20px;
}

a.country {
	background: url('#{$filepath-CSSImages}/country-flag-sprite.png') no-repeat 0 3px;
	padding: 0 0 0 20px;
}

a.country.ca {
	background-position: 0 3px;
}

a.country.us {
	background-position: 0 -14px
}

a.country.au {
	background-position: 0 -30px;
}

a.country.cn {
	background-position: 0 -45px;
}

a.country.hk {
	background-position: 0 -61px;
}

a.country.in {
	background-position: 0 -77px;
}

a.country.sg {
	background-position: 0 -94px;
}

a.country.at {
	background-position: 0 -111px;
}

a.country.be {
	background-position: 0 -126px;
}

a.country.dk {
	background-position: 0 -142px;
}

a.country.fi {
	background-position: 0 -159px;
}

a.country.fr {
	background-position: 0 -174px;
}

a.country.de {
	background-position: 0 -190px;
}

a.country.it {
	background-position: 0 -207px;
}

a.country.ie {
	background-position: 0 -223px;
}

a.country.nl {
	background-position: 0 -238px;
}

a.country.no {
	background-position: 0 -319px;
}

a.country.es {
	background-position: 0 -254px;
}

a.country.se {
	background-position: 0 -270px;
}

a.country.ch {
	background-position: 0 -287px;
}

a.country.uk {
	background-position: 0 -303px;
}

a.country.br {
	background-position: 0 -335px;
}

a.country.jp {
	background-position: 0 -353px;
}

a.country.kr {
	background-position: 0 -369px;
}
