.iconLinkContainer {
	[class^="icon-"], [class*=" icon-"] {
		font-family: $font-GlobalIcons;
		color: $color-scroll-default;
		@include rem-px(font-size,(30px));
		display: block;
		padding: 0 15% 0 5%;
		&:hover {
			background: $background-scroll-hover;
		}
		&:before {
			color: $color-scroll-default;
			display: table-cell;
			font-family: $font-GlobalIcons !important;
			margin: 3px 10px 0 0;
			padding-right: 10px;
			vertical-align: middle;
		}
	}
	.arrowScrollText {
		display: table-cell;
		font-size:0;
	}
	.hover-state {
		display: block;
		&:hover {
			background: $background-scroll-hover;
		}
	}
}
@media #{$medium-only}{
	.iconLinkContainer {
		[class^="icon-"], [class*=" icon-"] {
			&:before {
				content: none;
				float: none;
			}
			&:after {
				color: $color-scroll-default;
				content: "\e63c";
				display: block;
				padding-bottom: 20px;
				@include rem-px(font-size,(30px));
				text-align: center;
			}
		}
		.arrowScrollText{
			text-align: center;
		}
	}
}
@media #{$small-only} {
	.iconLinkContainer {
		[class^="icon-"],[class*=" icon-"]{
			&:before {
				@include rem-px(font-size,(20px));
				margin: 1px 11px 0px 16px;
				padding-right: 10px;
			}
		}
	}
}