//-------------------------------------------------------------------------------
//    Lightbox
//-------------------------------------------------------------------------------

#lightbox-container {
	background: url('#{$filepath-CSSImages}/lightbox-background.png');
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 102;
	
	#lightbox-close {
		cursor: pointer;
		float: right;
		height: 45px;
		margin: -32px -32px 0 0;
		position: relative;
		width: 42px;
		z-index: 999;
		&:before {
			background: $color-black;
			border: 5px solid $color-white;
			@include border-radius(30px);
			color: $color-white;
			content: "p";
			display: inline-block;
			font-family: $font-GlobalIcons;
			@include rem-px(font-size,(22px));
			line-height: 100%;
			@include rem-px(padding,(5px));
		}
	}
	
	#lightbox-border {
		background-color: $color-white;
		@include border-radius(8px);
		margin: 7% auto 0;
		padding: 20px;
		width: 95%;
	}
	
	.video-width-fix {
    box-sizing: content-box;
		-moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
	}
}

//For Large Layouts
@media #{$large-up} {
	#lightbox-container {
		#lightbox-border.w370px {
			width: 370px;
		}
		
		#lightbox-border.w485px {
			width: 485px;
		}
		
		#lightbox-border.w550px {
			width: 550px;
		}
		
		#lightbox-border.w630px {
			width:630px;
		}
		
		#lightbox-border.w800px {
			width: 800px;
		}
		
		#lightbox-border.w950px {
			width: 950px;
		}
		
		#lightbox-border.w990px {
			width: 990px;
		}
		
		#lightbox-border.w1000px {
			width: 1000px;
		}
	}
		
	// Height Classes
	#lightbox-content.defaultHeight {
		height: auto;
	}
	
	#lightbox-content.h240px {
		max-height: 240px;
	}
	
	#lightbox-content.h360px {
		max-height: 360px;
		overflow-y: scroll;
	}
	
	#lightbox-content.h365px {
		max-height: 365px;
		overflow-y: scroll;
	}
	
	#lightbox-content.h670px {
		max-height: 670px;
		overflow-y: scroll;
	}
}

//For Medium Layouts
@media #{$small-only} {
	#lightbox-container {
		#lightbox-border {
			width: 90%;
		}
		
		#lightbox-content {
			height: auto;
		}
	}
}

//For Small Layouts
@media #{$medium-only} {
	#lightbox-container {
		#lightbox-border {
			width: 90%;
		}
		
		#lightbox-content {
			height: auto;
		}
	}
}