.linkList{
	ul{
		list-style-type: none;

		li{
			cursor: $cursor-default;
			margin: 0 5px;
			text-align: center;

			a{
				span{
					margin-right: 5px;
				}
			}

			.icon-phone-traditional {
				&:before {
					color: $color-gray-blue;
					content: "s";
					@include rem-px(font-size,(13px));
					margin-right: 4px;
					position: relative;
					top: 0px;
				}
			}
			#lpButton-TopNav {
				span{
					display: none !important ;
				}
				a{
					&:before{
						color: $color-gray-blue;
						content: "r";
						font-family: "citirx-web-icons";
						@include rem-px(font-size,(13px));
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						padding-right: 5px;
						position: relative;
						speak: none;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						top: 0px;
					}
				}
			}
		}
	}

	.solidButton{
		a{
		    background: $color-gray-blue;
		    border-radius: 0 0 5px 5px;
		    color: $color-white;
		    display: block;
		    @include rem-px(font-size,(13px));
		    font-family:  $font-ctx;
		    padding: 5px 15px;
		}

	    .icon-phone-traditional {
			&:before {
				color: $color-white;
			}
		}

		#lpButton-TopNav {
			a{
				&:before{
					color: $color-white;
				}
			}
		}
	}

	.hyperLink{
		@include rem-px(font-size,(13px));
		font-family:  $font-ctx;
		margin: 30px 0px;
		
		a{
			color: $color-gray-blue;
			float: left;
			margin: 0px 10px;
			span{
				margin-right: 3px;
			}
		}

		#lpButton-TopNav {
			float: left;
		}
	}

	.linkSeperator{
		float: right;
	}

	.last{
		margin-right: 10px;
	}
}

@media #{$medium-only} {

	.linkSeperator{
		&.lastSeperatorMedium{
			display: none !important;
		}
	}

}

@media #{$small-only} {

	.linkSeperator{
		&.lastSeperatorSmall{
			display: none !important;
		}
	}	
}