//--------------------------------------------------------
//    Try Form  Loader
//--------------------------------------------------------


.throbber-loader {
display:none;

}

@-moz-keyframes throbber-loader {
  0% {
    background: #c1c1c1;
  }
  10% {
    background: #333333;
  }
  40% {
    background: #c1c1c1;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #c1c1c1;
  }
  10% {
    background: #333333;
  }
  40% {
    background: #c1c1c1;
  }
}
@keyframes throbber-loader {
  0% {
    background: #c1c1c1;
  }
  10% {
    background: #333333;
  }
  40% {
    background: #c1c1c1;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #c1c1c1;
  display: none;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 20px 0 ;
  right:50%;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #c1c1c1;
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}