//------------------------------------------------
//    Logo
//------------------------------------------------

.logo {
	span {
		background: url("#{$filepath-CSSImages}/logo-sprite.png") no-repeat;
		@include logo-position();
		height: 42px;
		width: 183px;
		
		&.gotomeetingDaisyLogoBlack {
			height: 42px;
			width: 183px;
		}
		
		&.citrix {
			background-position: 0 -306px;
			height: 27px;
			width: 67px;
		}
	
		&.gotomeetingDaisyLogo {
			background-position: 0 -152px;
		}
		
		&.gotomeetingDaisy {
			width: 41px;
		}
	
		&.gotowebinarDaisyLogo {
			background-position: 0 -204px;
		}
		
		&.gotowebinarDaisyLogoBlack {
			background-position: 0 -50px;
		}
		
		&.gotowebinarDaisy {
			background-position: 0 -50px;
			width: 46px;
		}
	
		&.gototrainingDaisyLogo {
			background-position: 0 -254px;
		}
		
		&.gototrainingDaisyLogoBlack {
			background-position: 0 -101px;
		}
		
		&.gototrainingDaisy {
			background-position: 0 -101px;
			width: 46px;
		}
		
		&.openvoiceDaisyLogo {
			background-position: 0 -391px;
		}
		
		&.openvoiceDaisyLogoBlack {
			background-position: 0 -342px;
		}
		
		&.openvoiceDaisy {
			background-position: 0 -342px;
			width: 46px;
		}
	}
}