//----------------------------
//  Core Owl Carousel CSS File
//----------------------------

.owl-carousel {
	/* display none until init */
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;

	.owl-wrapper:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-wrapper {
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.owl-item {
		float: left;
	}
	/* fix */
	.owl-wrapper, .owl-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
	}
	/* Styling Next and Prev buttons */
	.owl-pagination {
		bottom: 30px;
		margin-top: -22px;
		position: relative;
		z-index:100;
	}
	.owl-controls {
		text-align: center;
		height: 22px;
		.owl-buttons {
			position: absolute;
			top: 43%;
			width: 100%;
			z-index: 100;
			div {
				width: 37px;
				height: 37px;
				border-radius: 100%;
				display: inline-block;
				zoom: 1;
				background-color: $color-main-carousel;
				float: left;
				margin: 0 0 0 4%;
				cursor: pointer;
				&:before {
					font-family: $font-GlobalIcons !important;
					font-style: normal !important;
					font-weight: normal !important;
					speak: none;
					line-height: 1;
					content:"\e654";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin: 18% 0;
					display: block;
					@include rem-px(font-size,(24px));
					color: $color-white;
				}
				&:hover {
					background-color: $color-main-carousel-hover;
				}
				&.disabled, &.disabled:hover {
					background-color: $color-grey3 !important;
				}
			}
			.owl-next {
				float: right;
				margin: 0 4% 0 0;
				&:before {
					content: "\e66e";
					margin: 18% 25%;
				}
			}
		}
		/* Styling Pagination */
		.owl-page {
			display: inline-block;
			zoom: 1.5;
			-moz-transform: scale(2);
			-moz-padding-end: 15px;
			cursor: pointer;
			span {
				display: block;
				width: 7px;
				height: 7px;
				margin: 5px;
				border-radius: 100%;
				background: $color-white;
			}
			&.active span, &:hover span {
				background: $color-main-carousel !important;
			}
		}
	}
}

/* Hero Carousel fixes for static content */
#banner {
	position: relative !important;
}

.carousel-primary.owl-theme-features {
	width: 75%;
	max-width: 75rem;
	margin: 0 auto;

	.owl-wrapper-outer {
		margin: 0 auto;
	}
	.owl-pagination {
		margin-top: 40px;
	}
	.owl-controls .owl-buttons .owl-next {
		margin-right: -11.2%;
	}
	.owl-controls .owl-buttons .owl-prev {
		margin-left: -11.2%;
	}

}

/* Responsive CSS for carousel */
@media only screen and (large-up) {
	.owl-carousel .owl-controls .owl-buttons div {
		width: 55px;
		height: 55px;

		&:before {
			@include rem-px(font-size,(35px));
		}
	}
	.owl-carousel .owl-controls .owl-page span {
		height: 10px;
		width: 10px;
		margin: 5px 7px;
	}
}

@media #{$medium-only} {
	.owl-carousel {
		.owl-controls {
			.owl-buttons {
				div {
					width: 55px;
					height: 55px;

					&:before {
						font-size: rem-calc(38);
					}
				}
				.owl-prev {
					text-indent: -6px;
				}
			}
			.owl-page span {
				height: 10px;
				width: 10px;
				margin: 5px 7px;
			}
		}
	}
}

@media #{$small-only} {
	.owl-carousel {
		.owl-controls {
			.owl-buttons div {
				width: 32px;
				height: 32px;

				&:before {
					font-size: rem-calc(28);
				}
			}

			.owl-page {
			    zoom:1;
				span {
					height: 10px;
					width: 10px;
					margin: 5px 7px;
				}
			}
		}
	}
	.carousel-primary.owl-theme-features {
		.owl-controls .owl-buttons .owl-next {
			margin-right: -15.2%;
		}
		.owl-controls .owl-buttons .owl-prev {
			margin-left: -15.2%;
		}
	}
}
