.mainContent .planFeaturesContainer .columns{
		padding: 0 0.38rem !important;
}

.planFeaturesContainer .planAndPricing {

	.row .row{
		margin: 0px auto;
	}
	.planFeatures{
		text-align: center;
		.large-10.medium-10 .row p {
			font-family: $font-GlobalFamilySecondary;
		}
		.row p, p, p.cell {
			background: $background-planfeatures;
			border-bottom: 2px solid $color-white;
			color: $color-planfeatures-text;
			@include rem-px(font-size,(17px));
			height: 62px;
			@include rem-px(line-height,(15px));
			line-height: 1.5;
			margin: 0;
			@include rem-px(padding-top,(25px));
		}

		.icon-cancel {
			color: $color-icon-cancel;
			&:before {
				@include rem-px(font-size,(24px));
				font-weight: bold !important;
			}
		}
		.icon-check {
			color: $color-icon-check;
			&:before {
				@include rem-px(font-size,(24px));
				font-weight: bold !important;
			}
		}
				
		.row:last-child .left-row, row:last-child .row p{
			border: 0;
		}

		.left-row, .left-row p {
			background: $color-white;
			border-bottom: 1px solid $border-bottom-featurename;
			color: $color-planfeatures-text;
			@include rem-px(font-size,(14px));
			height: 62px;
			@include rem-px(line-height,(15px));
			@include rem-px(padding,(15px 22px 5px));
			text-align: left;
			word-wrap: break-word;
		}
		.left-row {
			line-height: 62px;
			@include rem-px(padding,(0px 22px));
			span {
				
				display: inline-block;
				line-height: normal;
				@include rem-px(padding,(0px 12px));
				vertical-align: middle;
				&:before {
					color: $color-icon-plus;
					font-family: $font-GlobalIcons;
					font-size: 1.0rem;
					font-weight: bolder !important;
					left: 15px;
					padding: 0 0.625rem 1.25rem 0;
					position: absolute;
				}

				&.icon-plus {
					cursor: pointer;
				}
			}
		}
		.left-row.no-border {
			border-bottom: none;
		}
		.features {
			display: none;
			p {
				background: transparent;
				@include rem-px(font-size,(14px));
				height: auto;
				@include rem-px(line-height,(17px));
				@include rem-px(padding,(20px 35px));
				text-align: left;
			}
		}
		.row p.empty {
			background: none;
		}
	}
	strong {
		font-family: $font-GlobalFamilySecondary;
	}
	.detail-link {
		color: $color-planfeatures-text;
		font-family: $font-GlobalFamily;
		font-size: 14px;
		text-decoration: underline;
	}
	.highlight {
		color: $color-link;
	}

	div[class*="pricing-plan-"]{
		div[id^="id-"]{
			position: relative;

			.mostPopular {
				position: absolute;
				width: 100%;
				margin: 0 auto;
				display: block;
				left: 0;
				right: 0;
				top: rem-calc(-36);
			}
		}
	}
}

