.mainContent .planFeaturesContainer .columns{
		padding: 0 0.38rem !important;
}

.planAndPricing {
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;

	[class^="icon-"], [class*=" icon-"] {
		@include rem-px(font-size,(20px));
	}

	.priceSpotlight {
		.spotlightCircle {
			font-family: $font-GlobalFamily-Citrix;
			.arrow {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $color-dark-red;
				height: 0;
				left: 50%;
				margin: 0;
				position: absolute;
				width: 0;
			}
			.mostPopular, h3 {
				background: $color-grey8;
				color: $color-white;
				display: block;
				@include rem-px(font-size,(21px));
				line-height: 50px;
				margin: 0;
				padding: 0;
				text-transform: none;
				text-align: center;
			}

			.mostPopular {
				border: none;
				height: 50px;
			}

			h3 {
				&.noSpotlight {
					margin-top: 50px;
				}
			}
			.circle {
				background: $color-grey15;
				border-radius: 0;
				height: auto;
				margin-bottom: 0px;
				position: relative;
				width: 100%;
				p {
					background: none;
					border: none;
					color: $color-white;
					height: auto;
					padding: 0;
					text-transform: none;
					@include rem-px(font-size,(14px));
					&.attendees {
						@include rem-px(padding,(20px 8px));
					}
					&.annualprice {
						@include rem-px(padding,(0px 8px 20px));
					}
				}
				.pricestyle {
					font-family: $font-GlobalFamily-Citrix;
					width: 90%;
					.price {
						float: left;
						letter-spacing: -3px;
						text-align: right;
						width: 50%;

						sup {
							@include rem-px(font-size,(27px));
							@include rem-px(margin-right,(0px));
							top: -35px !important;
						}
					}
					.division {
						float: left;
						@include rem-px(margin,(20px 0 0 8px));
						position: relative;
						text-align: left;
						width: 10px;
					}
					.message {
						float: left;
						@include rem-px(margin,(24px 0 0 10px));
						position: relative;
						text-align: left;
						width: 33%;
					}
				}
				.trialfree {
					background: $col-button-g2t;
					color: $color-white;
					height: auto;
					text-align: center;
					width: auto;
					@include rem-px(margin,(0 17px));
				}
				.offer {
					color: $color-white;
					@include rem-px(font-size,(14px));
				}
			}
		}
	}

	#price-theme-g2t {
		&.spotlightCircle {
			.mostPopular {
				background: $color-dark-red;
			}
			.buynow {
				color: $color-white !important;
				text-decoration: underline;
			}
			.circle {
				&.spotlight {
					background: $color-dark-red;
				}
				.pricestyle {
					.price {
						@include rem-px(font-size,(53px));
					}
				}
				.trialfree {
					background: $col-button-g2t;
					color: $color-white;
				}
			}
			h3 {
				&.SpotLight {
					background: $col-button-g2t;
				}
				&.theme {
						color: $color-white;
				}
			}
		}
	}

	#price-theme-g2w {
		&.spotlightCircle {
			.mostPopular {
				background: $col-g2w-dark;
			}
			.arrow {
				border-top: 5px solid $col-button-hover-g2w;
			}
			.buynow {
				color: $color-white !important;
				text-decoration: underline;
			}
			.circle {
				&.spotlight {
					background: $col-g2w-dark;
					.trialfree {
						background: $color-white;
						color: $col-button-hover-g2w;
					}
				}
				.pricestyle {
					.price {
						@include rem-px(font-size,(53px));
					}
				}
				.trialfree {
					background: $col-button-hover-g2w;
				}
			}
			h3 {
				&.SpotLight {
					background: $col-button-hover-g2w;
				}
				&.theme {
						color: $color-white;
				}
			}
		}
	}

	#price-theme-g2m {
		&.spotlightCircle{
			.mostPopular {
				background: $col-dark-orange;
			}
			.arrow {
				border-top: 5px solid $col-dark-orange;
			}
			.buynow {
				color: $color-white;
				display: block;
				@include rem-px(font-size,(14px));
				text-transform: none;
			}
			.circle {
				&.spotlight {
					background: $col-spotlight-orange;
					.trialfree {
						background: $col-dark-orange;
					}
				}
				p {
					@include rem-px(font-size,(18px));
					@include rem-px(line-height,(23px));
				}
				.pricestyle {
					width: 95%;
					.division {
						float: none;
						@include rem-px(font-size,(55px));
						margin-left: -13%;
					}
					.message {
						float: none;
						@include rem-px(width,(80px));
					}
					.price {
						float: none;
						@include rem-px(font-size,(60px));
						text-align: left;
						sup {
							@include rem-px(font-size,(25px));
							margin-right: 1px;
							top: -25px !important ;
						}
					}
				}
				.offer {
					display: block;
					text-transform: none;
				}
			}
			h3 {
				&.SpotLight {
					background: $planTitleBg-g2m;
				}
				&.theme {
						color: $color-white;
				}
			}
			.trialfree {
				background: $color-grey8;
				color: $color-white;
				margin: 18px auto;
				width: 165px;
			}
		}
	}
}

.planFeaturesContainer .planAndPricing {
	.row p, p, p.cell {
		background: #f1f2f2;
		border-bottom: 2px solid $color-white;
		color: $color-grey12;
		@include rem-px(font-size,(17px));
		height: 62px;
		@include rem-px(line-height,(15px));
		margin: 0;
		@include rem-px(padding-top,(25px));
	}
	.row p, p {
		&.check {
			color: $color-green2;
			@include rem-px(padding-top,(25px));
			&.icon-cancel {
				color: #d00;
				&:before {
					@include rem-px(font-size,(20px));
				}
			}
		}
	}
	.row:last-child .left-row, row:last-child .row p{
		border: 0;
	}

	.left-row, .left-row p {
		background: $color-white;
		border-bottom: 1px solid #e6e6e5;
		color: $color-grey12;
		cursor: pointer;
		@include rem-px(font-size,(14px));
		height: 62px;
		@include rem-px(line-height,(15px));
		@include rem-px(padding,(15px 22px 5px));
		text-align: left;
		word-wrap: break-word;
	}
	.left-row {
		line-height: 62px;
		@include rem-px(padding,(0px 22px));
		span {
			@include rem-px(padding,(0px 12px));
			line-height: normal;
			display: inline-block;
			vertical-align: middle;
			&:before {
				color: $col-button-g2t;
				content: "T";
				font-family: citirx-web-icons;
				font-size: 0.75rem;
				left: 15px;
				padding: 0 0.625rem 1.25rem 0;
				position: absolute;
			}
		}
		&.minus span:before{
			content: "+";
		}
	}
	.features {
		display: none;
		p {
			background: transparent;
			@include rem-px(font-size,(14px));
			height: auto;
			@include rem-px(line-height,(17px));
			@include rem-px(padding,(20px 35px));
			text-align: left;
		}
	}
	.icon-SolidCircle {
		border-radius: 12px;
		background: #76c64c;
		display: block;
		height: 10px;
		margin: auto;
		width: 10px;
	}
}

@media #{$small-only} {
	.planAndPricing {
		#price-theme-g2m {
			&.spotlightCircle {
				.mostPopular {
					margin-top: 50px;
				}
				.circle {
					.pricestyle {
						.division {
							margin-left: -25%
						}
					}
				}
			}
		}
	}
}

@media #{$medium-only} {
	.planAndPricing {

		.priceSpotlight {
			.spotlightCircle {
				.mostPopular,h3 {
						@include rem-px(font-size,(14px));
				}
				.circle {
					p {
						@include rem-px(font-size,(12px));
						&.attendees {
									@include rem-px(padding,(10px 8px));
								}
								&.annualprice {
							@include rem-px(padding,(0px 8px 10px));
						}
					}
					.pricestyle {
						.price {
							@include rem-px(font-size,(35px));
							@include rem-px(height,(50px));
							letter-spacing: -1px;

							sup {
								@include rem-px(font-size,(13.5px));
								top: -24px !important;
							}
						}
						.division {
							@include rem-px(font-size,(15px));
							@include rem-px(margin,(12px 0 0 5px));
							width: 5px;
						}
						.message {
							@include rem-px(font-size,(9px));
							@include rem-px(margin,(5px 0 0 5px));
							width: 35%;
						}
					}
					.trialfree {
						@include rem-px(font-size,(10px));
					}
					.offer {
						@include rem-px(font-size,(10px));
					}
				}
			}
		}

		#price-theme-g2w{
			&.spotlightCircle {
				.circle {
					.pricestyle {
						.price {
							@include rem-px(font-size,(35px));
						}
					}
				}
			}
		}

		#price-theme-g2m{
			&.spotlightCircle {

				.circle {
					p {
						@include rem-px(font-size,(12px));
						@include rem-px(line-height,(20px));
					}
					.pricestyle {
						.price {
							float: none;
							@include rem-px(font-size,(35px));
							width: 35%;
							sup {
								@include rem-px(font-size,(13.5px));
								margin-right: 0px;
								top: -20px !important;
							}
						}
						.division {
							float: none;
							@include rem-px(font-size,(35px));
							margin: 10px 3px 0px -5%;
						}
						.message {
							float: none;
							@include rem-px(font-size,(8px));
							top: 0px;
							width: 58px;
						}
					}
					.trialfree{
						width: 120px;
					}
					.buynow {
						@include rem-px(font-size,(12px));
					}
				}
			}
		}
	}

	.planFeaturesContainer {
		.planAndPricing {

			.features p, .left-row {
				@include rem-px(font-size,(12px));
			}
		}
	}
}