//------------------------
// Pricing Spotlight
//------------------------

.priceSpotlight{

	.full-height{
	    min-height: 90px;
		p {
			margin: 30px 0;
		}
	}

	.spotlightOuter {
		color: $color-white;
		font-family: $font-GlobalFamily;
		height: auto;
		width: auto;
		max-width:285px;

		.mostPopular {
			background: $background-pricing-most-popular;
			font-family: $font-GlobalFamilySecondary;
			font-size: rem-calc(14);
			padding: 11px 0;
			position: relative;
			text-align: center;

			.arrow {
				top: 100%;
				left: 50%;
				border: solid $background-pricing-most-popular;
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-top-color: $background-pricing-most-popular;
				border-width: 10px;
				margin-left: -10px;
			}
		}

		.spotlight {
			.buynow {
				background-color: $background-pricing-buynow-button;
			}
			a.buynow {
				color: $background-gray-pricing-spotlightInnerh3;
				font-family: $font-GlobalFamilySecondary;
				&:hover {
					background: $background-color-main-lighter-pricing-hover-main;
					color: $color-white;
				}
			}

			&.spotlightInner {
				background-color: $background-pricing-inner-spotlight;
			}
		}

		.spotlightInner {
			background-color: $background-pricing-inner-spotlight-default;
		}

		h4 {
			color: #999;
			@include rem-px(font-size,(15px));
		}

		h3 {
			font-family: $font-GlobalFamilySecondary;
			background: $background-gray-pricing-spotlightInnerh3-default;
			color: $color-white;
			@include rem-px(font-size,(20px));
			text-align: center;
			padding: 15px 0;

			&.spotLight{
				background:$background-gray-pricing-spotlightInnerh3;
			}
		}

		.planpricing .row {
			margin: 0 0 50px 0
		}

		.planpricing h3.theme {
			@include rem-px(font-size,(30px));
			text-transform: none;
		}

		.attendees {
			color: $color-white;
			@include rem-px(font-size,(14px));
			line-height: 1.3;
			margin: 0px;
			padding-top: 16px;
			text-align: center;
		}

		.pricestyle {
			margin: 0 auto;
			*margin: 0 auto;
			text-align: center;
			width: 86%;

			span.price {
				display: inline-block;
				@include rem-px(font-size,(88px));
				height: 85px;
				letter-spacing: -5px;

				sup {
					@include rem-px(font-size,(28px));
					margin:0 4px 0 0;
					position: relative;
					top: -40px !important;
				}
			}

			span.message {
				display: inline-block;
				@include rem-px(font-size,(12px));
				text-align: left;
				width: 71px;
				margin-left: 5px;
			}

			span.division {
				display: inline-block;
				@include rem-px(font-size,(70px));
				text-align: left;
				text-indent: -5px;
				width: 10px;
			}
		}

		.annualprice{
			color: $color-white;
			font-family: $font-GlobalFamilyItalic;
			@include rem-px(font-size,(13px));
			margin: 4px 0 10px 0;
			text-align: center;
		}

		.buynow {
			background: #586474;
			@include border-radius(15px);
			display: block;
			@include rem-px(font-size,(16px));
			line-height: 40px;
			margin: 18px auto;
			padding: 0;
			text-align: center;
			width:90%;
			&:hover {
				background: $color-white;
				color : #586474;
			}
		}
		a.buynow {
			color: $color-white;
		}

		.linkContainer {
			height: 30px;
		}

		.trialfree {
			color: $color-white;
			display: block;
			font-family: $font-GlobalFamilySecondary;
			@include rem-px(font-size,(12px));
			text-align: center;
		}

		.offer{
			color: #b3b3b3;
			@include rem-px(font-size,(10px));
			text-align: center;
		}

		.features {
			background-color:$background-pricing-feature-list;
			padding:10px 0;
		}

		.featuresList {
			color: $color-black;
			@include rem-px(font-size,(16px));
			padding:13px 30px;
			text-align: center;
		}
	}

	.circle .spotlightInner {
		border-radius:50%;
		background-color: $background-pricing-inner-spotlight-default;
		color: $color-white;
		height: 285px;
		margin: 0 auto 70px;
		padding: 12px 0;
		width: 285px;

		&.spotlight{
			background-color: $background-pricing-inner-spotlight;
		}
	}

}

@media #{$medium-only} and (orientation: portrait) {
	.priceSpotlight {
		.circle .spotlightInner {
		    height: 285px;
		    width: 285px;
		}
	}
}

@media #{$small-only} {
	.priceSpotlight {
		.circle .spotlightInner {
		    height: 275px;
		    width: 275px;
		}
		.spotlightOuter {
			.features {
				display:none;
			}
		}
	}
}