//--------------------------------------------------------
//    Global Button Styles
//--------------------------------------------------------

.salesChat {
   #lpSection-online {
        display: none;
    }
}

// component in edit mode
.cq-wcm-edit {
       
    .salesChat {
        #lpSection-default,
        #lpSection-online {
            display: block !important;
        }

        #lpSection-default {
            border: 2px dotted navy;
            &:before {
                content:'salesChat-default';
                color: navy;
                font-size: 16px;
                opacity: 0.7;
            }
        }
        #lpSection-online {
            border: 2px dotted green;
            &:before {
                content:'salesChat-online';
                color: green;
                font-size: 16px;
                opacity: 0.7;
            }
        }

    }
}