.secondaryNavSticky {
    .action-nav {
        background: $background-color-secondaryNavSticky;
        border-bottom: 1px solid $border-color-stickyarrow;
        padding : 50px 0 0 0;
        &.fixed {
            padding: 0;
            position: fixed;
            width: 100%;
            z-index: 99;
            [class^="icon-"], [class*="icon-"] {
                &:before {
                    @include rem-px(font-size,(30px));
                }
            }
            .icon-description {
                display:inline-block;
                padding: 20px 0 20px 10px;
            }
        }
        .container {
            text-align: center;
        }
        [class^="icon-"], [class*="icon-"] {
            &:before {
                color: $color-stickyIcon-default;
                font-family: $font-GlobalIcons;
                @include rem-px(font-size,(118px));
                vertical-align: middle;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                -o-transition: all 0.8s;
                transition: all 0.8s;
            }
            &:hover {
                &:before {
                    color : $color-secondaryNavSticky-main;
                }
            }
        }
        .selected {
            margin: 0;
            overflow: visible;
            pointer-events:none;
            width: 100%;
            &:after, &:before {
                border: solid transparent;
                content: " ";
                left : 57%;
                position: absolute;
                top : 100%;
                z-index: 1;
            }
            &:before {
                border-width: 18px;
                margin-left: -44px;
                border-top-color: $border-color-stickyarrow;
            }
            &:after {
                border-top-color:$border-color-top-default;
                border-width: 16px;
                margin: 0 0 0 -42px;
            }
           [class^="icon-"], [class*="icon-"] {
                &:before {
                    color: $color-secondaryNavSticky-main;
                }
            }
            .icon-description {
                color : $color-secondaryNavSticky-main;
            }
        }
        .icon-description{
            color: $color-text-secondaryNavSticky;
            font-size: rem-calc(12);
            font-family: $font-GlobalFamilySecondary;
            padding: 25px 0 50px 0px;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s;
            &.hover {
                color : $color-secondaryNavSticky-main;
            }
        }
        .stickyLink {
            display: inline-block;
        }
    }
}
@media #{$small-only} {
    .secondaryNavSticky {
        .action-nav {
           border-bottom: none;
           opacity: 0.98;
           padding : 0;
            .container {
                text-align: left;
            }
            [class^="icon-"], [class*="icon-"] {
                &:before {
                    font-size: 30px;
                    padding: 0 10px 0 0;
                }
            }
            .selected {
                &:before, &:after {
                    display: none;
                }
            }
            .mobile-heading {
                background-color: $backgrounc-color-mobile-secondaryNavSticky;
                border : 1px solid $border-color-mobile-secondaryNavSticky;
                color: $color-text-mobile-secondaryNavSticky;
                font-family : $font-GlobalFamilySecondary;
                font-size: 10px;
                padding: 20px 0px 20px 10px;
                text-align: left;
            }  
            .icon-down-open, .icon-right-open {
                &:before {
                    font-size: 10px !important;
                    padding : 0 10px 0 0;
                    color: $color-icon-mobile-secondaryNavSticky !important;
                }
            }
            .icon-description {
                font-size: 10px;
                display: inline-block;
                padding: 25px 0 25px 0px;
                width: 50%;
            }
            .stickyLink {
                display : none;
            }
            .show {
                display: block !important;
            }
        }
    }
}