//------------------------------------------------------
// Seperator
//------------------------------------------------------

.separator{
	.left{
		float: left;
	}
	
	.right{
		float: right;
	}
	
	.center{
		margin: 0 auto;
	}
.arrowNotchWithSolidFill, .arrowNotch{
	position: relative;
	&:after, &:before { 
		border: solid transparent;
		content: " ";
		height: 0;
		left: 51.5%;
		pointer-events: none;
		position: absolute;
		top: 100%;
		width: 0;
		z-index: 1;
	}
}
.arrowNotchWithSolidFill, .arrowNotch{
	&:after {
		border-width: 20px;
		margin-left: -42px;
		margin-top: -1px;
	}
	&:before {
		border-width: 18px;
		margin-left: -44px;
	}
}
.arrowNotch{
	&:after{
		border-width: 16px;
		border-top-color: $color-white;
	}
}
hr{
	border-style: solid;
	border-width: 1px;
	height: 1px;
	margin: 0 auto;
	width: 100%;
	overflow: visible;

	&.dashed {
		border-style: dashed;
		}
	}
}
@media #{$small-only}{
	.separator{
		.arrowNotchWithSolidFill, .arrowNotch{
			&:after, &:before{
				left: 56%;
			}
		}
	}
}
@media #{$medium-only}{
	.separator{
		.arrowNotchWithSolidFill, .arrowNotch{
			&:after, &:before{
				left: 53%;
			}
		}
	}
}