//----------------------------
//  Core Tab Carousel CSS File
//----------------------------

.tab-carousel {
	&.row {
		.row {
		margin-left : auto;
		margin-right: auto;
		}
	}
	.feature-section-2 {
		padding: 0 50px;
		.columns {
			.data-tab {
				&:hover {
					.tab-icon, .tab-heading {
						color: $color-tab-current;
					}
				}
				cursor: pointer;
				.tab-none {
					padding-top: 50px;
				}
				.tab-icon {
					padding: 50px 0 25px;
					.tab-carousel-icon::before {
						font-size: 45px;
						text-align: center;
					}
				}
				.tab-heading {
					font-family: $font-GlobalFamilySecondary;
					font-size: 22px;
					padding-bottom: 25px;
					text-align: center;
				}
				.tab-description {
					font-size: 16px;
					line-height: 20px;
					text-align: center;
				}
			}
			.tab-icon {
				text-align: center;
				font-size: 22px;

			}
			.current {
				.tab-icon, .tab-heading {
				color: $color-tab-main;
				}
			}	
		}
	}
	.tab-row {
		border-bottom: 1px solid $border-tab;
		color: $color-tab-current;
		cursor: pointer;
		padding: 10px 0;
	}
	.current {
		.tab-row {
			color: $color-tab-main ;
		}	
	}
	.tab-column-1 {
     	display: table-cell;
     	min-width: 40px;
     	width: 10%;
      	vertical-align: middle;

      	.fonticon {
      		float:left;
      		padding: 20px;
      	}
  	}
  	.tab-carousel-icon {
     	font-size: 24px;
     	padding: 20px;
  	}
  	.tab-column-2 {
    	display: table-cell;
    	width: 90%;
    	vertical-align: middle;
    	
    	.tab-heading {
    		font-family: $font-GlobalFamilySecondary;
    		font-size: rem-calc(16);
    		line-height: 1.25;
    		padding-bottom: 3px;
  		}
  		.tab-description {
    		font-size: rem-calc(12);
    		line-height: 1.5;
 		}
    }
    .section-2 {
		.carousel-primary {
			.owl-pagination {
				visibility: hidden;
			}
			.owl-page {
				span {
					background: $color-tab-pagination;
				}
			}
		}
	}
	.video-heading {
		.textUnity {
			padding-bottom: 25px;
		}
	}
}
@media #{$medium-only} {
	.tab-carousel {
		.section-1 {
			padding-bottom: 20px;
		}
		.feature-section-2 {
			padding: 0 50px;
			.columns {
				.data-tab.tab-1 {
					.tab-icon {
						padding: 50px 0 25px;
					}
				}
				.data-tab {
					.tab-none {
						padding-top: 25px;
					}
					.tab-icon {
						padding: 25px 0;
					}
					.tab-heading {
						padding-bottom: 15px;
					}
				}
			}
		}
		.video-heading {
			.textUnity {
				padding-bottom: 15px;
			}
		}
	}
}
@media #{$small-only} {
	.tab-carousel {
		.tab-row {
			border-bottom: none !important;
		}
		.tab-column-2 {
			.tab-heading {
				font-size: 16px;
			}
		}
		.section-2 {
			.carousel-primary {
				.owl-pagination {
					visibility: visible; 
				}
			}
		}
		.feature-section-2 {
			padding: 0 15px;
			.columns {
				.data-tab {
					.tab-none {
						padding-top: 25px;
					}
					.tab-icon {
						padding: 25px 0;
					}
					.tab-heading {
						padding-bottom: 15px;
						font-size: 16px;
					}
					.tab-description {
						font-size: 12px;
					}
				}
			}
		}
		.video-heading {
			.textUnity {
				padding-bottom: 15px;
			}
		}
	}
}