//----------------------
// Toaster
//----------------------

.toaster {
	.toasterBar {
		background: $background-toaster;
		width: 100%;
		z-index: 100;

		&.active {
			bottom: 0;
			display: none;
			position: fixed;
		}

		.leftParsys {
			float: left;
			min-width: 20%;
			max-width: 40%;
		}

		.supportOptions{
			float: right;

			ul{
				li{
					color: $color-toaster-supportlinks;
					float: left;
					font-size:rem-calc(12);
					margin: 0;

					&.last{
						a{
							padding-right: 26px;
						}
					}
					a{
						color: $color-toaster-supportlinks;
						display: inline-block;
						padding: 17px 13px;

						&:before ,span:before{
							color: $color-toaster-supporticons;
							font-size: 1rem;
							margin-right: 4px;
						}
						&.icon-phone-traditional:before {
							content: $contentcode-toaster-icon-phone;
						}

						&.icon-chat, &.moxie-chat{
							&:hover{
								background: $background-toaster-chat-hover;
								color: $color-toaster-chat-hover;
							}
						}

						&.moxie-chat{
							display: none;

							&:before{
								content: $font-chat;
								top: 0;
							}
						}
					}
				}
			}
		}

		.rightGroup{
			float: right;
			padding: 9px 0;

			.button a{
				font-family: $font-GlobalFamilySecondary;
				font-size:rem-calc(13) !important;
				text-align: center;
				@include rem-px(width,(160px));

				&.filledPrimary {
					padding: 6% 0;
				}
			}
		}

		ul{
			&.first{
				margin-top: 0;
			}
			li{
				margin-right: 10px;
			}
		}
	}
}

@media #{$medium-only} {

	.toaster {
		.toasterBar {
			.supportOptions{
				ul{
					li{
						a{
							padding: 15px 10px;
						}
						&.last{
							a{
								padding-right: 20px;
							}
						}
					}
				}
			}

			.rightGroup{
				.button a{
					@include rem-px(width,(144px));

					&.filledPrimary {
						padding: 7% 0;
					}
				}
			}
		} 
	}
}

@media #{$small-only} {
	.toaster {
		.toasterBar {

			>div{
				padding: 0;
			}

			.supportOptions{
				float: left;
				margin-bottom: -400px;
				padding-bottom: 400px;

				ul{
					margin-top: 0;

					li{
						margin: 0;

						&.first{
							margin-left: 0;
						}

						&.last{
							a{
								padding-right: 0;
							}
						}

						a{
							border-right: 1px solid $border-right-mobiletoaster-supportlinks;
							float: left;
							padding: 12px 0;
							text-align: center;
							width: 60px;

							&:before, span:before{
								color: $color-mobiletoaster-supporticons;
								display: block;
								font-size: 16px;
								margin: 0px auto;
								padding: 0 0 8px;
							}
						}
					}
				}
			}

			.message{
				background: $background-mobiletoaster;
				margin-bottom: -400px;
				padding-bottom: 400px;
				overflow: hidden;

				.msgText{
					color: $color-mobiletoaster-message;
					float: left;
					margin-bottom: -400px;
					padding: 25px 0 400px 18px;
				}

				.arrow{
					background-color: $background-mobiletoaster-arrow;
					color: $color-mobiletoaster-message;
					float: right;
					margin-bottom: -400px;
					padding-bottom: 400px;
					vertical-align: middle;

					.icon-right-open:before{
						font-size:rem-calc(72);
						font-weight: bold !important;
					}
				}
			}
		} 
	}
}