.trial-box {
	input[type="text"] {
		background: $color-white;
		border: none;
		box-shadow: none;
		color: $color-dark;
		font-size: rem-calc(14);
		font-family: $font-GlobalFamilySecondary; // bold
		height: auto;
		margin-bottom: 1rem;
		padding: rem-calc(11 5 11 45);
		outline: none;
		-webkit-border-top-left-radius: 30px;
		-webkit-border-bottom-left-radius: 30px;
		-moz-border-radius-topleft: 30px;
		-moz-border-radius-bottomleft: 30px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	input[type="text"]:focus {
		box-shadow: none;
	}
	input[type="submit"] {
		background: $color-grey;
		border: none;
		color: $color-white;
		cursor: pointer;
		font-size: rem-calc(14);
		font-family: $font-GlobalFamily;
		margin: 0;
		padding: rem-calc(11 30 11 20);
		text-decoration: none;
		outline:none;
		-webkit-border-top-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		-moz-border-radius-topright: 30px;
		-moz-border-radius-bottomright: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	input.prefill {
		color: #b2b2b2;
		font-style: italic;
	}
	.columns, .column {
		padding: 0;
	}
	.nocc {
		color: #808080;
		@include rem-px(font-size,(14px));
	}
	.icon-SolidEnvelope:before {
		color: #b2b2b2;
		font-size: rem-calc(14);
		left: rem-calc(15);
		position: absolute;
		top: rem-calc(13);
	}
}
