// ----------------------------------
// 	global.scss
// 	Global SASS variables - These vars are used in all sass stylesheets
// ----------------------------------

//---------------------------------------
// Global Fonts
//---------------------------------------
$font-GlobalFamily: 'citrixsans',Helvetica,Arial,sans-serif;
$font-GlobalFamilySecondary: 'citrixsans-bold',Helvetica,Arial,sans-serif;
$font-GlobalFamilyTertiary: Helvetica,Arial,sans-serif;
$font-GlobalIcons: icons;
$font-GlobalColor: #555;

//---------------------------------------
// Global Paths
//---------------------------------------
$filepath-CSSImages: "static/images";
$filepath-fonts: "static/fonts";

//---------------------------------------
// Global colors
//---------------------------------------
$color-black: #000;
$color-dark: #333;
$color-white: #fff;
$color-grey: #7E7F81;
$color-grey1: #b0b0b0;
$color-grey2: #ccc;
$color-grey3:#666;
$color-grey4: #999;
$color-grey5: #586474;
$color-grey6: #c2c8d0;
$color-grey7: #8894a4;
$color-grey8: #6f7e8f;
$color-grey9: #e6e6e6;
$color-grey10: #596575;
$color-grey11: #606060;
$color-grey12: #808080;
$color-grey13: #a5abb5;
$color-grey14: #434B58;
$color-grey15: #a6aeba;
$color-grey16: #dadadd;
$color-grey17: #66b64b;
$color-grey18: #CCDB42;

$color-orange: #f26b21;
$color-red: #cc4337;

$color-green: #99cc33;
$color-green1: #78b320;
$color-green2: #76c64c;
$color-green3: #78be20;
$color-green4: #94DB14;
$color-green5: #19783d;
$color-green6: #9c3;
$color-yellow: #FBE11F;
$color-light-yellow: #fff3bd;

$link-color-default: #78be20;
$color-footer: #21252A;
$color-placeholder: #dde5d8;
$color-placeholder-focus: #d8d8d8;
$nav-bg: #2c323a;
$navTabBgHover: #586474;

//-----------------------------
// Resource Center
//-----------------------------

$color-resource-pagination-a: #f1f1f1;
$color-resource-pagination-active: #78be20;
$color-resource-pagination-inactive: #f1f1f1;
$color-resource-tile-border: #ccc;
$color-resource-tile-h3: #76c54c;
$color-resource-tile-h2: #2c323a;
$color-resource-tile-p: #2c323a;
$color-resource-no-results: #2c323a;
$color-resource-notch: #333;
$color-resource-fav-a: #76c54c; 
$color-resource-fav-b: #fff;
$color-resource-pdf: #b80f10;
$color-resource-ppt: #f8971d; 
$color-resource-tile-bg: #f8f8f8;
$color-resource-feature-type: #8a96a6;
$color-resource-feature-author: #333;

$color-search-refinements-bg: #f1f1f1;
$color-search-refinements-dropdown-hover: #f1f1f1;
$color-search-refinements-link: #979797;
$color-search-refinements-header: #ccc;
$color-search-refinements-arrow: #ccc;
$color-search-refinements-p: #ccc;
$color-search-refinements-box-text: #ccc;

$color-sidenav-blog-feed-border: #bec7d3;
$color-sidenav-blog-feed-container-border: #ccc;
$color-sidenav-blog-feed-image-border: #ccc;
$color-sidenav-blog-feed-header: #6f7e91;
$color-sidenav-blog-feed-header-color: #c2c8d0;
$color-sidenav-blog-feed-sub-bg: #6f7e91;
$color-sidenav-blog-feed-sub-container-text: #c2c8d0;
$color-sidenav-blog-feed-h3: #6f7e91;

$search-top-nav: #6f7e91;
$color-secondary-nav-bg: #fff;
$color-secondary-nav-li-hover: #99cc33;
$color-secondary-nav-link : #242a30;
$color-secondary-nav-title-link : #242a30;
$color-secondary-nav-select-border: #ccc;
$color-secondary-nav-bord: #e5e5e5;

//-----------------------------
// Search
//-----------------------------

$color-search-icon: #6f7e91;
$color-search-suggestion-list-bg: #fff;
$color-search-suggestion-item-border: #ddd;
$color-search-suggestion-item-excerpt: #3f4042;
$color-search-suggestion-item-link: #0090da;
$color-search-suggestion-item-focus: #f8f8f8;
$color-search-all: #0090da;
$color-search-input-bg: #eff0f2;
$color-search-input-text: #6f7e91;
$color-search-results-pagination-default: #f1f1f1;
$color-search-results-pagination-active: #78be20;

//-----------------------------
// Unity Nav
//-----------------------------
$font-close: "\e63b";
$font-phone: "\e622";
$font-chat: "\e633";
$font-menu-hamburger: "\e619";
$font-menu-bullets: "\e689";
$font-down-arrow: "\e686";
$font-up-arrow: "\e685";
$unity-border: #9c3; 

//-----------------------------
// Unity Footer
//-----------------------------
$font-footerHeadline: 'citrixsans-bold',Helvetica,Arial,sans-serif;
$font-footer: 'citrixsans',Helvetica,Arial,sans-serif;

//-----------------------------
// Other defaults
//-----------------------------
$text-decoration-default: none;
$float-default: left;
$cursor-default: pointer;
// --------------
// Backgrounds
// --------------
$default-bg-color: #fff;
//$nav-bg-color: $color-dark;
$page-dark-bg-color: #2C333C;

//---------------------------------------
// Block Container
//---------------------------------------
$background-block-front-main: #F2F2F2;
$background-block-back-main: $color-grey17;
$border-color-block-light: $color-grey17;
$border-color-block-lightest: $color-grey18;
$border-color-block-medium: $color-grey3;
$border-color-block-dark: $color-grey4;
$border-color-block-darkest: $color-grey5;
$block-container-width: 282px;
$block-container-height: 282px;
$border-top: 15px;